{
  "openapi": "3.0.0",
  "info": {
    "title": "SOL Trading Gateway - SharpSignalEngine API",
    "description": "Institutional-grade SOL/USDT perpetual futures trading intelligence with 8-layer analysis engine",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://guardiansofthegreentoken.com",
      "description": "Production server"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "summary": "System health check",
        "description": "Check overall system health and connectivity status",
        "responses": {
          "200": {
            "description": "System operational",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {"type": "boolean"},
                    "data": {
                      "type": "object",
                      "properties": {
                        "status": {"type": "string"},
                        "services": {
                          "type": "object",
                          "properties": {
                            "okx": {"type": "string"},
                            "api": {"type": "string"}
                          }
                        },
                        "metrics": {
                          "type": "object",
                          "properties": {
                            "responseTime": {"type": "number"},
                            "requestsToday": {"type": "number"},
                            "uptime": {"type": "string"}
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/sol/complete": {
      "get": {
        "summary": "Complete SOL market analysis",
        "description": "Comprehensive SOL/USDT analysis including ticker, orderbook, candlesticks, and recent trades",
        "responses": {
          "200": {
            "description": "Complete market data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {"type": "boolean"},
                    "data": {
                      "type": "object",
                      "properties": {
                        "ticker": {"type": "object"},
                        "orderbook": {"type": "object"},
                        "candlesticks": {"type": "object"},
                        "trades": {"type": "array"}
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/sol/confluence": {
      "get": {
        "summary": "SharpSignalEngine confluence analysis",
        "description": "8-layer institutional confluence score with trend analysis",
        "responses": {
          "200": {
            "description": "Confluence analysis",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {"type": "boolean"},
                    "data": {
                      "type": "object",
                      "properties": {
                        "overall": {"type": "number"},
                        "trend": {"type": "string"},
                        "confidence": {"type": "number"},
                        "layers": {"type": "object"}
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/sol/cvd": {
      "get": {
        "summary": "Cumulative Volume Delta analysis",
        "description": "Advanced CVD analysis with divergence detection",
        "responses": {
          "200": {
            "description": "CVD analysis",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {"type": "boolean"},
                    "data": {
                      "type": "object",
                      "properties": {
                        "current": {"type": "number"},
                        "confidence": {"type": "number"},
                        "trend": {"type": "string"},
                        "divergence": {"type": "object"}
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/sol/smc": {
      "get": {
        "summary": "Smart Money Concepts analysis",
        "description": "BOS/CHoCH detection with smart money flow analysis",
        "responses": {
          "200": {
            "description": "Smart Money analysis",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {"type": "boolean"},
                    "data": {
                      "type": "object",
                      "properties": {
                        "trend": {"type": "string"},
                        "structure": {"type": "string"},
                        "bos": {"type": "object"},
                        "choch": {"type": "object"}
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/sol/order-flow": {
      "get": {
        "summary": "Order flow analysis",
        "description": "Advanced tape reading and order flow analysis",
        "responses": {
          "200": {
            "description": "Order flow data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {"type": "boolean"},
                    "data": {
                      "type": "object",
                      "properties": {
                        "buyPressure": {"type": "number"},
                        "sellPressure": {"type": "number"},
                        "flow": {"type": "string"},
                        "whales": {"type": "array"}
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/sol/volume-profile": {
      "get": {
        "summary": "Volume profile analysis",
        "description": "POC, VPOC and value area analysis",
        "responses": {
          "200": {
            "description": "Volume profile data"
          }
        }
      }
    },
    "/api/sol/fibonacci": {
      "get": {
        "summary": "Fibonacci retracement levels",
        "description": "Multi-level Fibonacci analysis",
        "responses": {
          "200": {
            "description": "Fibonacci levels"
          }
        }
      }
    },
    "/api/sol/funding": {
      "get": {
        "summary": "Funding rate analysis",
        "description": "Perpetual funding rates and trends",
        "responses": {
          "200": {
            "description": "Funding rate data"
          }
        }
      }
    },
    "/api/sol/open-interest": {
      "get": {
        "summary": "Open interest analysis",
        "description": "Derivatives positioning and open interest",
        "responses": {
          "200": {
            "description": "Open interest data"
          }
        }
      }
    },
    "/api/sol/technical": {
      "get": {
        "summary": "Technical indicators",
        "description": "Comprehensive technical analysis indicators",
        "responses": {
          "200": {
            "description": "Technical indicators"
          }
        }
      }
    }
  }
}