{"openapi":"3.1.0","info":{"title":"CryptoSat Intelligence - Multi-Pair Trading Data Gateway API (GPTs Compat)","description":"Crypto trading intelligence API with 31 operations","version":"5.2.0-gpts-coinglass","contact":{"email":"admin@guardiansofthegreentoken.com","url":"https://guardiansofthegreentoken.com"}},"servers":[{"url":"https://guardiansofthegreentoken.com","description":"Production server with SSL"}],"tags":[{"name":"Market Data - Real-time","description":"**🔴 Real-time Market Data Endpoints**\n\nLive market data, current prices, tickers, bid/ask spreads, and real-time market conditions.\nEssential for trading applications requiring up-to-the-second market information.\n\n**Use Cases:**\n- Live price feeds for trading interfaces\n- Real-time market monitoring\n- Current market condition assessment\n- Bid/ask spread analysis\n\n**Data Freshness:** Real-time (<1 second delay)\n**Rate Limits:** Higher limits for premium tiers\n**Caching:** Minimal caching for maximum freshness\n"},{"name":"Market Data - Multi-Pair","description":"**📊 Multi-Pair Analysis & Cross-Asset Data**\n\nComprehensive analysis across multiple trading pairs with cross-asset correlations,\nportfolio-level insights, and multi-pair screening capabilities.\n\n**Features:**\n- Complete analysis for 65+ supported pairs\n- Cross-pair correlation analysis\n- Multi-asset portfolio screening\n- Comparative market metrics\n\n**Supported Pairs:** BTC, ETH, SOL, ADA, AVAX, DOGE, and 60+ others\n**Analysis Depth:** Technical, fundamental, and sentiment analysis\n**Use Cases:** Portfolio management, pair trading, market screening\n"},{"name":"Market Data - Derivatives","description":"**⚡ Derivatives & Futures Market Data**\n\nSpecialized data for derivatives trading including funding rates, open interest,\nperpetual futures data, and institutional positioning metrics.\n\n**Key Metrics:**\n- Funding rates with predictions\n- Open interest trends and analysis\n- Liquidation levels and risk metrics\n- Institutional flow indicators\n\n**Data Sources:** Multi-exchange aggregation\n**Historical Data:** Full pagination support\n**Refresh Rate:** Every 8 hours for funding, real-time for OI\n"},{"name":"Technical Analysis","description":"**📈 Technical Indicators & Chart Analysis**\n\nComprehensive technical analysis including RSI, MACD, Bollinger Bands, Moving Averages,\nand other technical indicators with trend detection and signal generation.\n\n**Indicators Available:**\n- RSI (14, 21 period) with overbought/oversold signals\n- MACD with histogram and crossover detection\n- Bollinger Bands with squeeze/expansion analysis\n- Moving Averages (SMA, EMA) with golden/death cross signals\n- Momentum and trend strength indicators\n\n**Signal Quality:** Professional-grade calculations\n**Timeframes:** Multiple timeframe analysis\n**Applications:** Entry/exit timing, trend confirmation\n"},{"name":"Smart Money Concepts","description":"**🧠 Institutional Flow & Smart Money Analysis**\n\nAdvanced Smart Money Concepts (SMC) analysis including institutional order flow,\nliquidity levels, order blocks, and smart money positioning indicators.\n\n**SMC Components:**\n- Order Blocks (OB) identification and validation\n- Fair Value Gaps (FVG) detection\n- Liquidity sweeps and stop hunts\n- Institutional order flow analysis\n- Change of Character (CHoCH) patterns\n\n**Accuracy:** 85%+ pattern recognition\n**Data Sources:** Multi-exchange order book analysis\n**Applications:** Professional trading, institutional positioning\n"},{"name":"Volume Analysis","description":"**📦 Volume Profile & Order Flow Analysis**\n\nAdvanced volume analysis including Cumulative Volume Delta (CVD), Volume Profile,\nVolume-Price Analysis (VPA), and order flow insights for professional trading.\n\n**Analysis Types:**\n- Cumulative Volume Delta (CVD) with divergence detection\n- Volume Profile with Point of Control (POC)\n- Volume-Price Analysis (VPA) patterns\n- Order flow imbalances and absorption\n- Volume momentum and accumulation/distribution\n\n**Precision:** Tick-level volume analysis\n**Divergence Detection:** AI-powered pattern recognition\n**Professional Features:** Institutional-grade volume analytics\n"},{"name":"AI Signals - Standard","description":"**🤖 AI-Powered Trading Signals (GPT-5)**\n\nStandard AI trading signals powered by GPT-5 with neural network pattern recognition,\nconfidence scoring, and strategic trading recommendations.\n\n**AI Capabilities:**\n- GPT-5 powered market analysis\n- Pattern recognition and trend prediction\n- Confidence scoring (0-100%)\n- Risk analysis and position sizing\n- Entry/exit timing recommendations\n\n**Signal Types:** BUY, SELL, HOLD with strength indicators\n**Accuracy:** 70%+ win rate on backtested signals\n**Update Frequency:** Real-time signal generation\n"},{"name":"AI Signals - Enhanced","description":"**🚀 Enhanced AI Engine with Neural Networks (Phase 2)**\n\nAdvanced AI signal engine featuring 10 sophisticated patterns, 5-layer neural networks,\nself-learning capabilities, and institutional-grade pattern recognition.\n\n**Phase 2 Features:**\n- 50 input features with 5-layer neural architecture\n- 10 advanced patterns with 95%+ confidence detection\n- Self-learning pattern weight adjustments\n- Predictive institutional flow analysis\n- Neural network feature importance scoring\n\n**Patterns:** Institutional flow, breakout confirmation, momentum continuation\n**Learning System:** Auto-adjusting confidence based on trading performance\n**Precision:** Sub-second pattern detection with risk-reward optimization\n"},{"name":"AI Performance","description":"**📊 AI Performance Tracking & Learning Analytics (Phase 2)**\n\nComprehensive performance tracking for AI signals including execution recording,\noutcome analysis, and self-learning system metrics for continuous improvement.\n\n**Tracking Features:**\n- Signal execution recording with entry/exit tracking\n- P&L analysis and win rate calculations\n- Pattern performance analytics and confidence adjustments\n- Learning velocity and adaptation metrics\n- Trade outcome recording (stop loss, take profit, manual exits)\n\n**Analytics Depth:** Full trading lifecycle tracking\n**Learning System:** Real-time pattern confidence updates\n**Performance Metrics:** Sharpe ratio, max drawdown, risk-adjusted returns\n"},{"name":"Premium Analytics","description":"**💎 VIP8 Institutional-Grade Analytics**\n\nPremium institutional analytics with VIP8 tier features including ultra-premium analysis,\nnegative maker fees simulation, and advanced institutional metrics.\n\n**VIP8 Features:**\n- Ultra-premium analysis with priority processing\n- Negative maker fees simulation for optimal execution\n- Advanced whale activity and institutional flow tracking\n- Priority data access and enhanced rate limits\n- Institutional-grade risk management tools\n\n**Access Level:** Premium subscribers only\n**Data Quality:** Institutional-grade accuracy\n**Processing Priority:** Sub-second response times\n"},{"name":"Enhanced Features","description":"**⭐ Enhanced Analysis & Specialized Tools**\n\nAdvanced analysis tools including enhanced SOL-specific features, confluence scoring,\nmulti-timeframe analysis, and specialized trading tools for professional traders.\n\n**Enhanced Tools:**\n- SOL-specific enhanced open interest and funding analysis\n- Multi-indicator confluence scoring with trend strength\n- Live trading signals with precise entry/exit points\n- Enhanced volume profile with institutional positioning\n- Advanced Fibonacci analysis and market structure\n\n**Specialization:** SOL ecosystem focus with multi-asset support\n**Precision:** Professional-grade analysis tools\n**Integration:** TradingView compatible signals\n"},{"name":"CoinGlass - Whale Analytics","description":"**🐋 CoinGlass Whale Detection & Positioning Intelligence**\n\nReal-time whale alerts and institutional positioning data for large trades (>$1M notional value).\nProfessional whale tracking with precise position sizing and unrealized P&L analysis.\n\n**Features:**\n- Real-time whale alerts across major exchanges\n- Institutional position sizing and tracking\n- Unrealized P&L analysis for whale positions\n- Exchange-specific whale activity filtering\n- Position side filtering (long/short analysis)\n\n**Data Sources:** Binance, OKX, Hyperliquid, Bybit, Deribit\n**Update Frequency:** Real-time whale detection\n**Threshold:** >$1M notional value positions\n"},{"name":"CoinGlass - ETF Intelligence","description":"**💰 Bitcoin ETF Flow Analysis & Institutional Intelligence**\n\nComprehensive Bitcoin ETF flow tracking with historical analysis and institutional \ninflow/outflow data. Complete coverage of all major Bitcoin ETFs with AUM and NAV metrics.\n\n**ETF Features:**\n- Historical Bitcoin ETF flow data with customizable periods\n- Complete Bitcoin ETF listings with AUM, NAV, and pricing\n- Institutional inflow/outflow analysis and trends\n- Total market AUM tracking across all Bitcoin ETFs\n- Net flow calculations and period summaries\n\n**Coverage:** All major Bitcoin ETFs (IBIT, FBTC, ARKB, etc.)\n**Historical Data:** Up to 365 days\n**Metrics:** AUM, NAV, pricing, flow metrics\n"},{"name":"CoinGlass - Market Intelligence","description":"**📊 Advanced Market Sentiment & Asset Intelligence**\n\nProfessional market sentiment analysis with fear & greed index, futures performance,\nand comprehensive cryptocurrency coverage with feature availability mapping.\n\n**Intelligence Features:**\n- Advanced market sentiment scoring with institutional indicators\n- Fear & greed index with futures performance metrics\n- Complete list of supported cryptocurrencies (150+ assets)\n- Feature availability mapping (funding rates, OI, liquidations)\n- Exchange coverage mapping for each asset\n\n**Sentiment Metrics:** Fear & greed index, institutional sentiment\n**Asset Coverage:** 150+ cryptocurrencies\n**Exchange Coverage:** Multi-exchange aggregation\n"},{"name":"CoinGlass - Technical Analysis","description":"**📈 CoinGlass ATR Volatility & Real-Time Price Intelligence**\n\nAdvanced Technical Range (ATR) volatility analysis with multiple timeframes and\nreal-time ticker data including comprehensive market statistics and indicators.\n\n**Technical Features:**\n- ATR volatility calculations with customizable periods\n- Multiple timeframe analysis (5m to 1D)\n- Real-time ticker data with market statistics\n- Volatility level classification (low/medium/high)\n- Price change analysis and market cap tracking\n\n**Timeframes:** 5m, 15m, 30m, 1H, 4H, 1D\n**Volatility Analysis:** ATR percentage and classification\n**Real-time Data:** Price, volume, changes, market cap\n"},{"name":"CoinGlass - Advanced Analytics","description":"**🎯 Liquidation Clusters, Orderbook Depth & Options Intelligence**\n\nProfessional-grade liquidation heatmaps, deep spot orderbook analysis, and comprehensive \noptions open interest tracking with strike price distribution and expiration analysis.\n\n**Advanced Features:**\n- Liquidation cluster heatmaps with risk level analysis\n- Deep spot market orderbook with liquidity distribution\n- Options open interest with call/put ratios\n- Strike price distribution and expiration analysis\n- Market depth analysis with spread calculations\n\n**Liquidation Analysis:** Risk levels, volumes, price ranges\n**Orderbook Depth:** Configurable levels (5-100)\n**Options Coverage:** Call/put ratios, strike distribution\n"},{"name":"System Monitoring","description":"**🔧 System Health & API Monitoring**\n\nSystem health endpoints, API status monitoring, performance metrics,\nand infrastructure monitoring for API reliability and performance tracking.\n\n**Monitoring Features:**\n- Real-time system health and uptime monitoring\n- API performance metrics and response times\n- Rate limit status and quota tracking\n- Memory usage and system resource monitoring\n- Error tracking and alert systems\n\n**Reliability:** 99.9% uptime SLA\n**Monitoring Frequency:** Real-time with sub-second updates\n**Use Cases:** API health checks, performance optimization, debugging\n"}],"security":[{"ApiKeyAuth":["read-only"]}],"paths":{"/api/pairs/supported":{"get":{"operationId":"getSupportedTradingPairs","summary":"Get all supported trading pairs (Public Access)","parameters":[],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/{pair}/complete":{"get":{"operationId":"getCompleteAnalysis","summary":"Get comprehensive trading data for any supported pair","parameters":[{"name":"pair","in":"path","required":true,"description":"Trading pair symbol - supports all 65+ pairs (BTC, ETH, SOL, ADA, etc.)","schema":{"type":"string","pattern":"^[A-Za-z0-9]{2,10}$","enum":["BTC","ETH","SOL","ADA","DOT","MATIC","LTC","BCH","ETC","LINK","UNI","AAVE","ATOM","XRP","DOGE","SHIB","AVAX","FTM","NEAR","ALGO","MANA","SAND","AXS","ENJ","CRV","COMP","MKR","YFI","SUSHI","1INCH","BAT","ZRX","KNC","LRC","REN","STORJ","GRT","FIL","AR","THETA","ICP","EGLD","HBAR","VET","CHZ","ENS","IMX","GMT","APE","GALA","LOOKS","MAGIC","OP","ARB","BLUR","SUI","PEPE","FLOKI","BONK","WIF","BOME","POPCAT","MEW","RENDER","BNB"]},"example":"BTC"}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/{pair}/smc":{"get":{"operationId":"getSmartMoneyConcepts","summary":"Get Smart Money Concepts analysis for any pair","parameters":[{"name":"pair","in":"path","required":true,"description":"Trading pair symbol (e.g., BTC, ETH, SOL)","schema":{"type":"string","pattern":"^[A-Z0-9]{2,10}$"},"example":"BTC"}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/{pair}/cvd":{"get":{"operationId":"getCVDAnalysis","summary":"Get Cumulative Volume Delta analysis for any pair","parameters":[{"name":"pair","in":"path","required":true,"description":"Trading pair symbol (e.g., BTC, ETH, SOL)","schema":{"type":"string","pattern":"^[A-Z0-9]{2,10}$"},"example":"ETH"}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/{pair}/technical":{"get":{"operationId":"getTechnicalIndicators","summary":"Get technical indicators analysis for any pair","parameters":[{"name":"pair","in":"path","required":true,"description":"Trading pair symbol (e.g., BTC, ETH, SOL)","schema":{"type":"string","pattern":"^[A-Z0-9]{2,10}$"},"example":"SOL"}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/{pair}/funding":{"get":{"operationId":"getFundingRates","summary":"Get funding rates for any pair (Read-Only Access)","parameters":[{"name":"pair","in":"path","required":true,"description":"Trading pair symbol (e.g., BTC, ETH, SOL)","schema":{"type":"string","pattern":"^[A-Z0-9]{2,10}$"},"example":"BTC"},{"name":"start","in":"query","description":"RFC3339 start time (inclusive)","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"end","in":"query","description":"RFC3339 end time (exclusive)","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"limit","in":"query","description":"Page size (default 100, max 1000)","required":false,"schema":{"type":"integer","minimum":1,"maximum":1000,"default":100}},{"name":"cursor","in":"query","description":"Opaque cursor for pagination","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/{pair}/open-interest":{"get":{"operationId":"getOpenInterest","summary":"Get open interest data for any pair","parameters":[{"name":"pair","in":"path","required":true,"description":"Trading pair symbol (e.g., BTC, ETH, SOL)","schema":{"type":"string","pattern":"^[A-Z0-9]{2,10}$"},"example":"ETH"},{"name":"start","in":"query","description":"RFC3339 start time (inclusive)","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"end","in":"query","description":"RFC3339 end time (exclusive)","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"limit","in":"query","description":"Page size (default 100, max 1000)","required":false,"schema":{"type":"integer","minimum":1,"maximum":1000,"default":100}},{"name":"cursor","in":"query","description":"Opaque cursor for pagination","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/ai/signal":{"get":{"operationId":"getAISignal","summary":"Get AI-powered trading signal with GPT-5 analysis","parameters":[],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/ai/enhanced-signal":{"get":{"operationId":"getEnhancedAISignal","summary":"Get Enhanced AI signal with 10 advanced patterns (Phase 2)","parameters":[{"name":"symbol","in":"query","description":"Trading pair symbol (default SOL-USDT-SWAP)","required":false,"schema":{"type":"string","example":"SOL-USDT-SWAP"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/ai/enhanced-performance":{"get":{"operationId":"getEnhancedAIPerformance","summary":"Get Enhanced AI neural network performance metrics (Phase 2)","parameters":[],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/ai/tracking/execution":{"post":{"operationId":"recordAITradeExecution","summary":"Record AI signal execution for performance tracking (Phase 2)","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/ai/tracking/outcome":{"post":{"operationId":"recordAITradeOutcome","summary":"Record AI signal trading outcome for learning (Phase 2)","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/ai/tracking/overall-performance":{"get":{"operationId":"getAIOverallPerformance","summary":"Get AI system overall performance analytics (Phase 2)","parameters":[],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/premium/institutional-analytics":{"get":{"operationId":"getPremiumInstitutionalAnalytics","summary":"Get VIP8 institutional-grade analytics","parameters":[],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/sol/funding/enhanced":{"get":{"operationId":"getSOLEnhancedFunding","summary":"Get SOL enhanced funding rate analysis","parameters":[],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/sol/volume-profile":{"get":{"operationId":"getSOLVolumeProfile","summary":"Get SOL volume profile analysis","parameters":[],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/sol/fibonacci":{"get":{"operationId":"getSOLFibonacci","summary":"Get SOL Fibonacci retracement analysis","parameters":[],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/sol/order-flow":{"get":{"operationId":"getSOLOrderFlow","summary":"Get SOL real-time order flow analysis","parameters":[],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/sol/liquidation-heatmap":{"get":{"operationId":"getSOLLiquidationHeatmap","summary":"Get SOL liquidation cluster analysis","parameters":[],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/health":{"get":{"operationId":"getHealthStatus","summary":"Get Bitcoin ETF flow data with historical analysis (Premium Access)","parameters":[{"name":"days","in":"query","description":"Number of days of historical ETF flow data to retrieve (1-365 days)","required":false,"schema":{"type":"integer","minimum":1,"maximum":365,"default":30,"example":30}},{"name":"asset","in":"query","description":"Asset to filter ETF flows (currently supports BTC, more assets coming soon)","required":false,"schema":{"type":"string","default":"BTC","example":"BTC"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/py/advanced/etf/bitcoin":{"get":{"operationId":"getCoinGlassBitcoinETFs","summary":"Get Bitcoin ETF specific data and listings (Premium Access)","parameters":[],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/py/advanced/market/sentiment":{"get":{"operationId":"getCoinGlassMarketSentiment","summary":"Get advanced market sentiment scoring (Premium Access)","parameters":[],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/py/advanced/market/coins":{"get":{"operationId":"getCoinGlassSupportedCoins","summary":"Get list of supported cryptocurrencies (Premium Access)","parameters":[],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/py/advanced/technical/atr":{"get":{"operationId":"getCoinGlassATRData","summary":"Get ATR volatility data for symbols (Premium Access)","parameters":[{"name":"symbol","in":"query","description":"Trading symbol for ATR calculation (e.g., BTC, ETH, SOL)","required":true,"schema":{"type":"string","example":"BTC"}},{"name":"timeframe","in":"query","description":"Timeframe for ATR volatility calculation","required":false,"schema":{"type":"string","enum":["5m","15m","30m","1H","4H","1D"],"default":"1H","example":"1H"}},{"name":"period","in":"query","description":"ATR calculation period (1-200 periods)","required":false,"schema":{"type":"integer","minimum":1,"maximum":200,"default":14,"example":14}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/py/advanced/ticker/{symbol}":{"get":{"operationId":"getCoinGlassTickerData","summary":"Get real-time ticker data for specific symbol (Premium Access)","parameters":[{"name":"symbol","in":"path","description":"Trading symbol for ticker data (e.g., BTC, ETH, SOL)","required":true,"schema":{"type":"string","example":"BTC"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/py/advanced/liquidation/heatmap/{symbol}":{"get":{"operationId":"getCoinGlassLiquidationHeatmap","summary":"Get liquidation cluster heatmaps for specific symbol (Premium Access)","parameters":[{"name":"symbol","in":"path","description":"Trading symbol for liquidation heatmap analysis (e.g., BTC, ETH, SOL)","required":true,"schema":{"type":"string","example":"BTC"}},{"name":"range","in":"query","description":"Price range percentage for heatmap analysis (1-20%)","required":false,"schema":{"type":"number","minimum":1,"maximum":20,"default":10,"example":10}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/py/advanced/spot/orderbook/{symbol}":{"get":{"operationId":"getCoinGlassSpotOrderbook","summary":"Get spot orderbook data for specific symbol (Premium Access)","parameters":[{"name":"symbol","in":"path","description":"Trading symbol for orderbook data (e.g., BTC, ETH, SOL)","required":true,"schema":{"type":"string","example":"BTC"}},{"name":"depth","in":"query","description":"Orderbook depth level (5, 10, 20, 50, or 100 levels)","required":false,"schema":{"type":"integer","enum":[5,10,20,50,100],"default":20,"example":20}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/py/advanced/options/oi/{symbol}":{"get":{"operationId":"getCoinGlassOptionsOpenInterest","summary":"Get options open interest for specific symbol (Premium Access)","parameters":[{"name":"symbol","in":"path","description":"Trading symbol for options OI analysis (e.g., BTC, ETH, SOL)","required":true,"schema":{"type":"string","example":"BTC"}},{"name":"expiry","in":"query","description":"Options expiry filter (YYYY-MM-DD format, e.g., 2025-01-31)","required":false,"schema":{"type":"string","format":"date","example":"2025-01-31"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/gpts/health":{"get":{"operationId":"getGPTsHealth","summary":"GPT Actions service health check","parameters":[],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/gpts/unified/symbols":{"get":{"operationId":"getGPTsUnifiedSymbols","summary":"Get all supported symbols for GPT Actions","parameters":[],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/gpts/unified/advanced":{"post":{"operationId":"unifiedAdvancedEndpoint","summary":"Unified GPT Actions endpoint for all CoinGlass Premium Intelligence","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object"}}}}}}}},"components":{"schemas":{}}}