openapi: 3.1.0
info:
  title: CryptoSat Intelligence - Multi-Pair Trading Data Gateway API
  description: |
    🛰️ **CryptoSat Intelligence** - Advanced institutional-grade multi-pair crypto trading data gateway providing comprehensive real-time derivatives market analysis for 63+ trading pairs with 8-layer SharpSignalEngine analytics.

    **🚀 Core Features:**
    - **Multi-Pair Support**: 63+ trading pairs (BTC, ETH, SOL, ADA, AVAX, DOGE, UNI, MATIC, etc.)
    - **SharpSignalEngine**: 8-layer institutional derivatives intelligence
    - **Smart Money Concepts**: BOS/CHoCH pattern detection with trend analysis
    - **CVD Analysis**: Hybrid institutional-grade volume delta with divergence detection
    - **Technical Indicators**: Advanced RSI, EMA, divergence detection for all pairs
    - **Real-time Data**: Sub-200ms institutional data processing
    - **Universal API**: Same endpoints work for all 63+ supported pairs

    **🎯 Use Cases:**
    - **AI-Powered Analysis**: GPT-powered multi-pair crypto market intelligence
    - **Institutional Trading**: Professional-grade analysis for derivatives trading
    - **Cross-Market Intelligence**: Compare patterns across multiple trading pairs
    - **Smart Money Tracking**: Whale detection and institutional flow analysis
    - **Risk Management**: Multi-pair correlation and exposure analysis

    **⚡ Performance:**
    - Response time: Sub-200ms average
    - Rate limit: 100 requests/minute
    - 99.9% uptime with auto-reconnection
    - SSL-secured with CORS enabled
    - Updated: 2025-09-06 - Full multi-pair support with universal analysis engines

    **Auth:**
    - Header `X-API-Key` (API key) or Bearer JWT on `Authorization`
  version: '4.0.0'
  contact:
    email: admin@guardiansofthegreentoken.com
    url: https://guardiansofthegreentoken.com

servers:
  - url: https://guardiansofthegreentoken.com
    description: Production server with SSL

tags:
  - name: Multi-Pair Analysis
    description: Universal trading analysis for 63+ supported pairs
  - name: Smart Money Concepts
    description: BOS/CHoCH pattern detection and trend analysis
  - name: Volume Delta Analysis
    description: CVD analysis with divergence detection
  - name: Technical Indicators
    description: RSI, EMA, divergence detection for all pairs
  - name: System Monitoring
    description: Health checks, metrics, and operational data
  - name: Legacy SOL Endpoints
    description: Backward compatible SOL-specific endpoints

# Global Security
security:
  - ApiKeyAuth: []
  # - BearerAuth: []  # Uncomment for private routes

paths:
  /api/pairs/supported:
    get:
      operationId: getSupportedTradingPairs
      summary: Get all supported trading pairs
      description: Returns list of all 63+ supported trading pairs available for analysis
      tags: [Multi-Pair Analysis]
      responses:
        '200':
          description: List of supported trading pairs
          headers:
            RateLimit-Limit: { $ref: '#/components/headers/RateLimit-Limit' }
            RateLimit-Remaining: { $ref: '#/components/headers/RateLimit-Remaining' }
            RateLimit-Reset: { $ref: '#/components/headers/RateLimit-Reset' }
            RateLimit-Policy: { $ref: '#/components/headers/RateLimit-Policy' }
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      pairs:
                        type: array
                        items:
                          type: string
                        example: ["BTC", "ETH", "SOL", "ADA", "AVAX", "DOGE", "UNI", "MATIC"]
                        description: "Array of supported trading pair symbols"
                  timestamp:
                    type: string
                    format: date-time
                    example: "2025-09-06T14:30:00Z"
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /api/{pair}/complete:
    get:
      operationId: getCompleteAnalysis
      summary: Get comprehensive trading data for any supported pair
      description: Complete trading data including ticker, orderbook, trades, multi-timeframe candles, and market analysis for any supported trading pair
      tags: [Multi-Pair Analysis]
      parameters:
        - $ref: '#/components/parameters/PairParam'
      responses:
        '200':
          description: Complete trading data for the specified pair
          headers:
            RateLimit-Limit: { $ref: '#/components/headers/RateLimit-Limit' }
            RateLimit-Remaining: { $ref: '#/components/headers/RateLimit-Remaining' }
            RateLimit-Reset: { $ref: '#/components/headers/RateLimit-Reset' }
            RateLimit-Policy: { $ref: '#/components/headers/RateLimit-Policy' }
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompleteAnalysisResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /api/{pair}/smc:
    get:
      operationId: getSmartMoneyConcepts
      summary: Get Smart Money Concepts analysis for any pair
      description: BOS/CHoCH pattern detection, trend analysis, FVG detection, and market structure analysis for any supported trading pair
      tags: [Smart Money Concepts]
      parameters:
        - $ref: '#/components/parameters/PairParam'
      responses:
        '200':
          description: Smart Money Concepts analysis
          headers:
            RateLimit-Limit: { $ref: '#/components/headers/RateLimit-Limit' }
            RateLimit-Remaining: { $ref: '#/components/headers/RateLimit-Remaining' }
            RateLimit-Reset: { $ref: '#/components/headers/RateLimit-Reset' }
            RateLimit-Policy: { $ref: '#/components/headers/RateLimit-Policy' }
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SMCAnalysisResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /api/{pair}/cvd:
    get:
      operationId: getCVDAnalysis
      summary: Get Cumulative Volume Delta analysis for any pair
      description: Volume delta analysis with divergence detection, absorption patterns, and smart money signals for any supported trading pair
      tags: [Volume Delta Analysis]
      parameters:
        - $ref: '#/components/parameters/PairParam'
      responses:
        '200':
          description: CVD analysis with divergence patterns
          headers:
            RateLimit-Limit: { $ref: '#/components/headers/RateLimit-Limit' }
            RateLimit-Remaining: { $ref: '#/components/headers/RateLimit-Remaining' }
            RateLimit-Reset: { $ref: '#/components/headers/RateLimit-Reset' }
            RateLimit-Policy: { $ref: '#/components/headers/RateLimit-Policy' }
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CVDAnalysisResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /api/{pair}/technical:
    get:
      operationId: getTechnicalIndicators
      summary: Get technical indicators analysis for any pair
      description: Advanced technical indicators including RSI, EMA, divergence detection, and confluence scoring for any supported trading pair
      tags: [Technical Indicators]
      parameters:
        - $ref: '#/components/parameters/PairParam'
      responses:
        '200':
          description: Technical indicators analysis
          headers:
            RateLimit-Limit: { $ref: '#/components/headers/RateLimit-Limit' }
            RateLimit-Remaining: { $ref: '#/components/headers/RateLimit-Remaining' }
            RateLimit-Reset: { $ref: '#/components/headers/RateLimit-Reset' }
            RateLimit-Policy: { $ref: '#/components/headers/RateLimit-Policy' }
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TechnicalAnalysisResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /api/{pair}/funding:
    get:
      operationId: getFundingRates
      summary: Get funding rates for any pair
      description: Current and historical funding rates for perpetual contracts of any supported trading pair
      tags: [Multi-Pair Analysis]
      parameters:
        - $ref: '#/components/parameters/PairParam'
        - $ref: '#/components/parameters/TimeStartParam'
        - $ref: '#/components/parameters/TimeEndParam'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/CursorParam'
      responses:
        '200':
          description: Funding rates data
          headers:
            RateLimit-Limit: { $ref: '#/components/headers/RateLimit-Limit' }
            RateLimit-Remaining: { $ref: '#/components/headers/RateLimit-Remaining' }
            RateLimit-Reset: { $ref: '#/components/headers/RateLimit-Reset' }
            RateLimit-Policy: { $ref: '#/components/headers/RateLimit-Policy' }
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundingRateResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /api/{pair}/open-interest:
    get:
      operationId: getOpenInterest
      summary: Get open interest data for any pair
      description: Current open interest data and historical changes for perpetual contracts of any supported trading pair
      tags: [Multi-Pair Analysis]
      parameters:
        - $ref: '#/components/parameters/PairParam'
        - $ref: '#/components/parameters/TimeStartParam'
        - $ref: '#/components/parameters/TimeEndParam'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/CursorParam'
      responses:
        '200':
          description: Open interest data
          headers:
            RateLimit-Limit: { $ref: '#/components/headers/RateLimit-Limit' }
            RateLimit-Remaining: { $ref: '#/components/headers/RateLimit-Remaining' }
            RateLimit-Reset: { $ref: '#/components/headers/RateLimit-Reset' }
            RateLimit-Policy: { $ref: '#/components/headers/RateLimit-Policy' }
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenInterestResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  # Legacy SOL Endpoints (Backward Compatible)
  /api/sol/complete:
    get:
      operationId: getSOLCompleteData
      summary: Get comprehensive SOL trading data (Legacy)
      description: Legacy endpoint for SOL complete data - maintained for backward compatibility
      tags: [Legacy SOL Endpoints]
      responses:
        '200':
          description: Complete SOL trading data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompleteAnalysisResponse'
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /api/sol/smc:
    get:
      operationId: getSOLSmartMoneyConcepts
      summary: Get SOL Smart Money Concepts (Legacy)
      description: Legacy SOL-specific Smart Money Concepts analysis
      tags: [Legacy SOL Endpoints]
      responses:
        '200':
          description: SOL Smart Money Concepts analysis
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SMCAnalysisResponse'
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /api/sol/cvd:
    get:
      operationId: getSOLCVDAnalysis
      summary: Get SOL CVD analysis (Legacy)
      description: Legacy SOL-specific Cumulative Volume Delta analysis
      tags: [Legacy SOL Endpoints]
      responses:
        '200':
          description: SOL CVD analysis
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CVDAnalysisResponse'
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /api/sol/funding:
    get:
      operationId: getSOLFundingRates
      summary: Get SOL funding rates (Legacy)
      description: Legacy SOL-specific funding rates data
      tags: [Legacy SOL Endpoints]
      parameters:
        - $ref: '#/components/parameters/TimeStartParam'
        - $ref: '#/components/parameters/TimeEndParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: SOL funding rates
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundingRateResponse'
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /api/sol/open-interest:
    get:
      operationId: getSOLOpenInterest
      summary: Get SOL open interest (Legacy)
      description: Legacy SOL-specific open interest data
      tags: [Legacy SOL Endpoints]
      parameters:
        - $ref: '#/components/parameters/TimeStartParam'
        - $ref: '#/components/parameters/TimeEndParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: SOL open interest data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenInterestResponse'
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /health:
    get:
      operationId: getHealthStatus
      summary: Get system health status
      description: System health check including API status, database connectivity, and performance metrics
      tags: [System Monitoring]
      responses:
        '200':
          description: System health status
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      status:
                        type: string
                        enum: ["operational", "degraded", "down"]
                        example: "operational"
                      timestamp:
                        type: string
                        format: date-time
                        example: "2025-09-06T14:30:00Z"
                      services:
                        type: object
                        properties:
                          okx:
                            type: string
                            enum: ["connected", "disconnected", "error"]
                            example: "connected"
                          api:
                            type: string
                            enum: ["operational", "degraded", "down"]
                            example: "operational"
        '500': { $ref: '#/components/responses/InternalServerError' }

components:
  # Security Schemes
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key for authentication
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT Bearer token for authentication

  # Parameters
  parameters:
    PairParam:
      name: pair
      in: path
      required: true
      schema:
        type: string
        enum: ["BTC", "ETH", "SOL", "ADA", "DOT", "MATIC", "LTC", "BCH", "ETC", "LINK", "UNI", "AAVE", "ATOM", "XRP", "DOGE", "SHIB", "AVAX", "FTM", "NEAR", "ALGO", "MANA", "SAND", "AXS", "ENJ", "CRV", "COMP", "YFI", "SNX", "MKR", "SUSHI", "1INCH", "GRT", "BAT", "ZRX", "LRC", "KNC", "REN", "NMR", "STORJ", "BAL", "BAND", "KEEP", "NU", "ANKR", "SKL", "CTSI", "RLC", "ALPHA", "TRB", "API3", "BADGER", "FARM", "RARI", "MASK", "TRIBE", "FEI", "OGN", "ASH", "REQ", "MLN", "ANT", "FORTH", "BOND"]
      description: Trading pair symbol (e.g., BTC, ETH, SOL)
      example: "BTC"
    
    TimeStartParam:
      name: start
      in: query
      required: false
      schema:
        type: string
        format: date-time
      description: Start time for historical data (ISO 8601 format)
      example: "2025-09-01T00:00:00Z"
    
    TimeEndParam:
      name: end
      in: query
      required: false
      schema:
        type: string
        format: date-time
      description: End time for historical data (ISO 8601 format)
      example: "2025-09-06T23:59:59Z"
    
    LimitParam:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 1000
        default: 100
      description: Number of results to return
      example: 100
    
    CursorParam:
      name: cursor
      in: query
      required: false
      schema:
        type: string
      description: Pagination cursor for next page
      example: "eyJsYXN0SWQiOiIxMjM0NTY3ODkwIn0="

  # Headers
  headers:
    RateLimit-Limit:
      description: The number of allowed requests in the current period
      schema:
        type: integer
        example: 100
    RateLimit-Remaining:
      description: The number of remaining requests in the current period
      schema:
        type: integer
        example: 42
    RateLimit-Reset:
      description: The time at which the current rate limit window resets (Unix timestamp)
      schema:
        type: integer
        example: 1757170800
    RateLimit-Policy:
      description: Rate limit policy description
      schema:
        type: string
        example: "100 requests per minute per IP"

  # Responses
  responses:
    BadRequest:
      description: Bad Request - Invalid parameters
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          example:
            type: "https://guardiansofthegreentoken.com/errors/bad-request"
            title: "Bad Request"
            status: 400
            detail: "Invalid trading pair: INVALID"
            instance: "/api/INVALID/complete"
    
    Unauthorized:
      description: Unauthorized - Authentication required
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          example:
            type: "https://guardiansofthegreentoken.com/errors/unauthorized"
            title: "Unauthorized"
            status: 401
            detail: "Invalid or missing API key"
            instance: "/api/btc/complete"
    
    TooManyRequests:
      description: Too Many Requests - Rate limit exceeded
      headers:
        RateLimit-Limit:
          $ref: '#/components/headers/RateLimit-Limit'
        RateLimit-Remaining:
          $ref: '#/components/headers/RateLimit-Remaining'
        RateLimit-Reset:
          $ref: '#/components/headers/RateLimit-Reset'
        Retry-After:
          description: Number of seconds to wait before retrying
          schema:
            type: integer
            example: 60
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          example:
            type: "https://guardiansofthegreentoken.com/errors/rate-limit"
            title: "Too Many Requests"
            status: 429
            detail: "Rate limit exceeded. Maximum 100 requests per minute."
            instance: "/api/btc/complete"
    
    InternalServerError:
      description: Internal Server Error
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          example:
            type: "https://guardiansofthegreentoken.com/errors/internal-error"
            title: "Internal Server Error"
            status: 500
            detail: "An unexpected error occurred while processing your request"
            instance: "/api/btc/complete"

  # Schemas
  schemas:
    Problem:
      type: object
      description: RFC 7807 Problem Details
      properties:
        type:
          type: string
          format: uri
          description: A URI reference that identifies the problem type
          example: "https://guardiansofthegreentoken.com/errors/rate-limit"
        title:
          type: string
          description: A short, human-readable summary of the problem type
          example: "Too Many Requests"
        status:
          type: integer
          description: The HTTP status code
          example: 429
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence
          example: "Rate limit exceeded. Maximum 100 requests per minute."
        instance:
          type: string
          format: uri
          description: A URI reference that identifies the specific occurrence
          example: "/api/btc/complete"
      required: [type, title, status]

    CompleteAnalysisResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            ticker:
              type: object
              properties:
                symbol:
                  type: string
                  example: "BTC-USDT-SWAP"
                price:
                  type: string
                  example: "110883.6"
                change24h:
                  type: string
                  example: "-1.67%"
                high24h:
                  type: string
                  example: "113250.0"
                low24h:
                  type: string
                  example: "109750.0"
                volume:
                  type: string
                  example: "45287639.82"
            orderBook:
              type: object
              properties:
                asks:
                  type: array
                  items:
                    type: array
                    items:
                      type: string
                bids:
                  type: array
                  items:
                    type: array
                    items:
                      type: string
                spread:
                  type: string
                  example: "0.05"
            candles:
              type: object
              additionalProperties:
                type: array
                items:
                  type: object
        timestamp:
          type: string
          format: date-time
          example: "2025-09-06T14:30:00Z"

    SMCAnalysisResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            timeframe:
              type: string
              example: "1H"
            trend:
              type: string
              enum: ["bullish", "bearish", "ranging"]
              example: "bearish"
            lastBOS:
              type: object
              nullable: true
              properties:
                type:
                  type: string
                  enum: ["bullish", "bearish"]
                  example: "bearish"
                price:
                  type: string
                  example: "111250.0"
                timestamp:
                  type: string
                  format: date-time
                  example: "2025-09-06T13:30:00Z"
            confidence:
              type: number
              minimum: 0
              maximum: 100
              example: 75
        timestamp:
          type: string
          format: date-time
          example: "2025-09-06T14:30:00Z"

    CVDAnalysisResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            timeframe:
              type: string
              example: "1H"
            currentCVD:
              type: string
              example: "639494.09"
            previousCVD:
              type: string
              example: "707529.59"
            deltaChange:
              type: string
              example: "-68035.50"
            percentageChange:
              type: number
              example: -9.61
            confidence:
              type: object
              properties:
                overall:
                  type: number
                  minimum: 0
                  maximum: 100
                  example: 82
        timestamp:
          type: string
          format: date-time
          example: "2025-09-06T14:30:00Z"

    TechnicalAnalysisResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            timeframe:
              type: string
              example: "1H"
            rsi:
              type: object
              properties:
                current:
                  type: number
                  example: 43.56
                period:
                  type: number
                  example: 14
                signal:
                  type: string
                  enum: ["oversold", "neutral", "overbought"]
                  example: "neutral"
            ema:
              type: object
              properties:
                ema20:
                  type: string
                  example: "111250.5"
                ema50:
                  type: string
                  example: "112100.2"
                crossover:
                  type: string
                  enum: ["bullish", "bearish", "none"]
                  example: "bearish"
        timestamp:
          type: string
          format: date-time
          example: "2025-09-06T14:30:00Z"

    FundingRateResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            instId:
              type: string
              example: "BTC-USDT-SWAP"
            fundingRate:
              type: string
              example: "0.0000888594997051"
            nextFundingRate:
              type: string
              example: "0.0001234567890123"
            nextFundingTime:
              type: string
              format: date-time
              example: "2025-09-06T16:00:00Z"
        timestamp:
          type: string
          format: date-time
          example: "2025-09-06T14:30:00Z"

    OpenInterestResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            instId:
              type: string
              example: "BTC-USDT-SWAP"
            oi:
              type: string
              example: "234567.89"
            oiUsd:
              type: string
              example: "25987653210.45"
            change24h:
              type: string
              example: "2.34%"
        timestamp:
          type: string
          format: date-time
          example: "2025-09-06T14:30:00Z"