{"openapi":"3.1.0","info":{"title":"CryptoSat Intelligence - Multi-Pair Trading Data Gateway API (GPTs Compat)","description":"🛰️ CryptoSat Intelligence — GPTs-compatible OpenAPI with Production Stability.\n\n**🚀 PHASE 2.1: COINGLASS PREMIUM INTELLIGENCE (Sept 15, 2025):**\n- ✅ **CoinGlass Integration**: 11 premium institutional-grade analytics endpoints\n- ✅ **Whale Analytics**: Real-time whale detection and positioning intelligence (>$1M notional)\n- ✅ **Bitcoin ETF Intelligence**: Complete ETF flow tracking and institutional investment analysis\n- ✅ **Market Sentiment Engine**: Advanced sentiment scoring with fear & greed index analysis\n- ✅ **Technical Analysis Suite**: ATR volatility, liquidation heatmaps, orderbook depth analysis\n- ✅ **Options Intelligence**: Comprehensive options open interest analysis with gamma squeeze detection\n- ✅ **Self-Learning AI**: Auto-pattern confidence updates based on trading performance\n- ✅ **Performance Tracking**: Complete trading lifecycle tracking (execution → outcome → learning)\n- ✅ **Neural Networks**: 50 input features with 5-layer architecture\n- ✅ **Enhanced Analytics**: 32+ endpoint categories with institutional-grade analysis\n- ✅ **Dynamic Patterns**: 10 advanced patterns with 95% confidence detection\n\n**🧠 Phase 2 Enhanced AI Features:**\n- **ExecutionRecorder**: Self-learning system with pattern performance analytics\n- **Enhanced Signal Engine**: Neural network predictions with GPT-5 reasoning\n- **Performance APIs**: Win rate tracking, P&L analytics, confidence validation\n- **Adaptive Learning**: Pattern weights auto-adjust based on real trading results\n\n**🔧 GPTs Compatibility Features:**\n- Parameter **INLINE** (tanpa $ref) agar terbaca oleh GPT Actions\n- Single **ApiKey** security scheme (GPTs requirement)\n- Complete error handling dengan Problem Details & RateLimit headers\n- Real-time data dengan comprehensive validation\n\n**🚦 Rate Limiting & Pagination:**\n- **Standardized Headers**: Consistent RateLimit-* headers across all endpoints\n- **Cursor-based Pagination**: Efficient navigation with next/prev links in Link header\n- **Comprehensive Examples**: Real-world scenarios with retry logic guidance\n- **Developer-friendly Documentation**: Clear descriptions and usage patterns\n\n**📚 Developer Usage Examples:**\n\n**🔐 Security & Authentication Examples:**\n```bash\n# ✅ Public Endpoints (No Authentication Required)\ncurl \"https://guardiansofthegreentoken.com/health\"\ncurl \"https://guardiansofthegreentoken.com/api/pairs/supported\"\n\n# 🔑 Read-Only Scope (Basic Market Data)\ncurl -H \"X-API-Key: your-read-only-key\" \\\n     \"https://guardiansofthegreentoken.com/api/btc/complete\"\ncurl -H \"X-API-Key: your-read-only-key\" \\\n     \"https://guardiansofthegreentoken.com/api/eth/funding\"\n\n# 🎯 Trading Scope (AI Signals & Advanced Features)\ncurl -H \"X-API-Key: your-trading-key\" \\\n     \"https://guardiansofthegreentoken.com/api/ai/signal\"\ncurl -H \"X-API-Key: your-trading-key\" \\\n     \"https://guardiansofthegreentoken.com/api/ai/enhanced-signal\"\n\n# 💎 Premium Scope (VIP8 Institutional Analytics)\ncurl -H \"X-API-Key: your-premium-key\" \\\n     \"https://guardiansofthegreentoken.com/api/premium/institutional-analytics\"\n```\n\n**🚦 Access Tier Overview:**\n```\nPublic Access    │ No API Key Required     │ Health checks, supported pairs\n─────────────────┼─────────────────────────┼─────────────────────────────────\nRead-Only Scope  │ Basic API Key           │ Market data, technical analysis\n                 │ 100 req/min            │ Funding rates, open interest\n─────────────────┼─────────────────────────┼─────────────────────────────────\nTrading Scope    │ Premium API Key         │ AI signals, execution tracking\n                 │ 500 req/min            │ Enhanced analysis, trading data\n─────────────────┼─────────────────────────┼─────────────────────────────────\nPremium Scope    │ Enterprise API Key      │ VIP8 institutional analytics\n                 │ 2000 req/min           │ Priority processing, advanced AI\n```\n\n**⚡ Error Handling by Security Level:**\n```javascript\n// Handle different authentication scenarios\nasync function apiRequest(endpoint, options = {}) {\n  const headers = {\n    'Content-Type': 'application/json',\n    ...options.headers\n  };\n  \n  // Add API key for protected endpoints\n  if (!endpoint.includes('/health') && !endpoint.includes('/pairs/supported')) {\n    if (!process.env.API_KEY) {\n      throw new Error('API key required for protected endpoint');\n    }\n    headers['X-API-Key'] = process.env.API_KEY;\n  }\n  \n  const response = await fetch(endpoint, { ...options, headers });\n  \n  if (response.status === 401) {\n    throw new Error('Invalid or missing API key');\n  }\n  if (response.status === 403) {\n    throw new Error('Insufficient scope permissions for this endpoint');\n  }\n  if (response.status === 429) {\n    const retryAfter = response.headers.get('Retry-After');\n    throw new Error(\\`Rate limit exceeded. Retry after \\${retryAfter} seconds\\`);\n  }\n  \n  return response.json();\n}\n```\n\n**Rate Limiting Headers:**\n```\nRateLimit-Limit: 100          # Max requests per window\nRateLimit-Remaining: 42       # Requests left in current window  \nRateLimit-Reset: 1725955260   # Unix timestamp when window resets\nRateLimit-Policy: 100;w=60    # 100 requests per 60-second window\nRetry-After: 18               # Seconds to wait (only in 429 responses)\n```\n\n**Pagination Example:**\n```bash\n# First request\ncurl -H \"X-API-Key: your-key\" \\\n     \"https://guardiansofthegreentoken.com/api/btc/funding?limit=50\"\n\n# Response includes Link header:\n# Link: </api/btc/funding?cursor=eyJwYWdlIjoyfQ&limit=50>; rel=\"next\"\n\n# Next page request\ncurl -H \"X-API-Key: your-key\" \\\n     \"https://guardiansofthegreentoken.com/api/btc/funding?cursor=eyJwYWdlIjoyfQ&limit=50\"\n```\n\n**Error Handling with Exponential Backoff:**\n```javascript\nasync function apiCall(url, options, maxRetries = 3) {\n  for (let i = 0; i <= maxRetries; i++) {\n    const response = await fetch(url, options);\n    \n    if (response.status !== 429) return response;\n    \n    const retryAfter = response.headers.get('Retry-After') || Math.pow(2, i);\n    await new Promise(resolve => setTimeout(resolve, retryAfter * 1000));\n  }\n  throw new Error('Max retries exceeded');\n}\n```\n","version":"5.2.0-gpts-coinglass","contact":{"email":"admin@guardiansofthegreentoken.com","url":"https://guardiansofthegreentoken.com"}},"servers":[{"url":"https://guardiansofthegreentoken.com","description":"Production server with SSL"}],"tags":[{"name":"Market Data - Real-time","description":"**🔴 Real-time Market Data Endpoints**\n\nLive market data, current prices, tickers, bid/ask spreads, and real-time market conditions.\nEssential for trading applications requiring up-to-the-second market information.\n\n**Use Cases:**\n- Live price feeds for trading interfaces\n- Real-time market monitoring\n- Current market condition assessment\n- Bid/ask spread analysis\n\n**Data Freshness:** Real-time (<1 second delay)\n**Rate Limits:** Higher limits for premium tiers\n**Caching:** Minimal caching for maximum freshness\n"},{"name":"Market Data - Multi-Pair","description":"**📊 Multi-Pair Analysis & Cross-Asset Data**\n\nComprehensive analysis across multiple trading pairs with cross-asset correlations,\nportfolio-level insights, and multi-pair screening capabilities.\n\n**Features:**\n- Complete analysis for 65+ supported pairs\n- Cross-pair correlation analysis\n- Multi-asset portfolio screening\n- Comparative market metrics\n\n**Supported Pairs:** BTC, ETH, SOL, ADA, AVAX, DOGE, and 60+ others\n**Analysis Depth:** Technical, fundamental, and sentiment analysis\n**Use Cases:** Portfolio management, pair trading, market screening\n"},{"name":"Market Data - Derivatives","description":"**⚡ Derivatives & Futures Market Data**\n\nSpecialized data for derivatives trading including funding rates, open interest,\nperpetual futures data, and institutional positioning metrics.\n\n**Key Metrics:**\n- Funding rates with predictions\n- Open interest trends and analysis\n- Liquidation levels and risk metrics\n- Institutional flow indicators\n\n**Data Sources:** Multi-exchange aggregation\n**Historical Data:** Full pagination support\n**Refresh Rate:** Every 8 hours for funding, real-time for OI\n"},{"name":"Technical Analysis","description":"**📈 Technical Indicators & Chart Analysis**\n\nComprehensive technical analysis including RSI, MACD, Bollinger Bands, Moving Averages,\nand other technical indicators with trend detection and signal generation.\n\n**Indicators Available:**\n- RSI (14, 21 period) with overbought/oversold signals\n- MACD with histogram and crossover detection\n- Bollinger Bands with squeeze/expansion analysis\n- Moving Averages (SMA, EMA) with golden/death cross signals\n- Momentum and trend strength indicators\n\n**Signal Quality:** Professional-grade calculations\n**Timeframes:** Multiple timeframe analysis\n**Applications:** Entry/exit timing, trend confirmation\n"},{"name":"Smart Money Concepts","description":"**🧠 Institutional Flow & Smart Money Analysis**\n\nAdvanced Smart Money Concepts (SMC) analysis including institutional order flow,\nliquidity levels, order blocks, and smart money positioning indicators.\n\n**SMC Components:**\n- Order Blocks (OB) identification and validation\n- Fair Value Gaps (FVG) detection\n- Liquidity sweeps and stop hunts\n- Institutional order flow analysis\n- Change of Character (CHoCH) patterns\n\n**Accuracy:** 85%+ pattern recognition\n**Data Sources:** Multi-exchange order book analysis\n**Applications:** Professional trading, institutional positioning\n"},{"name":"Volume Analysis","description":"**📦 Volume Profile & Order Flow Analysis**\n\nAdvanced volume analysis including Cumulative Volume Delta (CVD), Volume Profile,\nVolume-Price Analysis (VPA), and order flow insights for professional trading.\n\n**Analysis Types:**\n- Cumulative Volume Delta (CVD) with divergence detection\n- Volume Profile with Point of Control (POC)\n- Volume-Price Analysis (VPA) patterns\n- Order flow imbalances and absorption\n- Volume momentum and accumulation/distribution\n\n**Precision:** Tick-level volume analysis\n**Divergence Detection:** AI-powered pattern recognition\n**Professional Features:** Institutional-grade volume analytics\n"},{"name":"AI Signals - Standard","description":"**🤖 AI-Powered Trading Signals (GPT-5)**\n\nStandard AI trading signals powered by GPT-5 with neural network pattern recognition,\nconfidence scoring, and strategic trading recommendations.\n\n**AI Capabilities:**\n- GPT-5 powered market analysis\n- Pattern recognition and trend prediction\n- Confidence scoring (0-100%)\n- Risk analysis and position sizing\n- Entry/exit timing recommendations\n\n**Signal Types:** BUY, SELL, HOLD with strength indicators\n**Accuracy:** 70%+ win rate on backtested signals\n**Update Frequency:** Real-time signal generation\n"},{"name":"AI Signals - Enhanced","description":"**🚀 Enhanced AI Engine with Neural Networks (Phase 2)**\n\nAdvanced AI signal engine featuring 10 sophisticated patterns, 5-layer neural networks,\nself-learning capabilities, and institutional-grade pattern recognition.\n\n**Phase 2 Features:**\n- 50 input features with 5-layer neural architecture\n- 10 advanced patterns with 95%+ confidence detection\n- Self-learning pattern weight adjustments\n- Predictive institutional flow analysis\n- Neural network feature importance scoring\n\n**Patterns:** Institutional flow, breakout confirmation, momentum continuation\n**Learning System:** Auto-adjusting confidence based on trading performance\n**Precision:** Sub-second pattern detection with risk-reward optimization\n"},{"name":"AI Performance","description":"**📊 AI Performance Tracking & Learning Analytics (Phase 2)**\n\nComprehensive performance tracking for AI signals including execution recording,\noutcome analysis, and self-learning system metrics for continuous improvement.\n\n**Tracking Features:**\n- Signal execution recording with entry/exit tracking\n- P&L analysis and win rate calculations\n- Pattern performance analytics and confidence adjustments\n- Learning velocity and adaptation metrics\n- Trade outcome recording (stop loss, take profit, manual exits)\n\n**Analytics Depth:** Full trading lifecycle tracking\n**Learning System:** Real-time pattern confidence updates\n**Performance Metrics:** Sharpe ratio, max drawdown, risk-adjusted returns\n"},{"name":"Premium Analytics","description":"**💎 VIP8 Institutional-Grade Analytics**\n\nPremium institutional analytics with VIP8 tier features including ultra-premium analysis,\nnegative maker fees simulation, and advanced institutional metrics.\n\n**VIP8 Features:**\n- Ultra-premium analysis with priority processing\n- Negative maker fees simulation for optimal execution\n- Advanced whale activity and institutional flow tracking\n- Priority data access and enhanced rate limits\n- Institutional-grade risk management tools\n\n**Access Level:** Premium subscribers only\n**Data Quality:** Institutional-grade accuracy\n**Processing Priority:** Sub-second response times\n"},{"name":"Enhanced Features","description":"**⭐ Enhanced Analysis & Specialized Tools**\n\nAdvanced analysis tools including enhanced SOL-specific features, confluence scoring,\nmulti-timeframe analysis, and specialized trading tools for professional traders.\n\n**Enhanced Tools:**\n- SOL-specific enhanced open interest and funding analysis\n- Multi-indicator confluence scoring with trend strength\n- Live trading signals with precise entry/exit points\n- Enhanced volume profile with institutional positioning\n- Advanced Fibonacci analysis and market structure\n\n**Specialization:** SOL ecosystem focus with multi-asset support\n**Precision:** Professional-grade analysis tools\n**Integration:** TradingView compatible signals\n"},{"name":"CoinGlass - Whale Analytics","description":"**🐋 CoinGlass Whale Detection & Positioning Intelligence**\n\nReal-time whale alerts and institutional positioning data for large trades (>$1M notional value).\nProfessional whale tracking with precise position sizing and unrealized P&L analysis.\n\n**Features:**\n- Real-time whale alerts across major exchanges\n- Institutional position sizing and tracking\n- Unrealized P&L analysis for whale positions\n- Exchange-specific whale activity filtering\n- Position side filtering (long/short analysis)\n\n**Data Sources:** Binance, OKX, Hyperliquid, Bybit, Deribit\n**Update Frequency:** Real-time whale detection\n**Threshold:** >$1M notional value positions\n"},{"name":"CoinGlass - ETF Intelligence","description":"**💰 Bitcoin ETF Flow Analysis & Institutional Intelligence**\n\nComprehensive Bitcoin ETF flow tracking with historical analysis and institutional \ninflow/outflow data. Complete coverage of all major Bitcoin ETFs with AUM and NAV metrics.\n\n**ETF Features:**\n- Historical Bitcoin ETF flow data with customizable periods\n- Complete Bitcoin ETF listings with AUM, NAV, and pricing\n- Institutional inflow/outflow analysis and trends\n- Total market AUM tracking across all Bitcoin ETFs\n- Net flow calculations and period summaries\n\n**Coverage:** All major Bitcoin ETFs (IBIT, FBTC, ARKB, etc.)\n**Historical Data:** Up to 365 days\n**Metrics:** AUM, NAV, pricing, flow metrics\n"},{"name":"CoinGlass - Market Intelligence","description":"**📊 Advanced Market Sentiment & Asset Intelligence**\n\nProfessional market sentiment analysis with fear & greed index, futures performance,\nand comprehensive cryptocurrency coverage with feature availability mapping.\n\n**Intelligence Features:**\n- Advanced market sentiment scoring with institutional indicators\n- Fear & greed index with futures performance metrics\n- Complete list of supported cryptocurrencies (150+ assets)\n- Feature availability mapping (funding rates, OI, liquidations)\n- Exchange coverage mapping for each asset\n\n**Sentiment Metrics:** Fear & greed index, institutional sentiment\n**Asset Coverage:** 150+ cryptocurrencies\n**Exchange Coverage:** Multi-exchange aggregation\n"},{"name":"CoinGlass - Technical Analysis","description":"**📈 CoinGlass ATR Volatility & Real-Time Price Intelligence**\n\nAdvanced Technical Range (ATR) volatility analysis with multiple timeframes and\nreal-time ticker data including comprehensive market statistics and indicators.\n\n**Technical Features:**\n- ATR volatility calculations with customizable periods\n- Multiple timeframe analysis (5m to 1D)\n- Real-time ticker data with market statistics\n- Volatility level classification (low/medium/high)\n- Price change analysis and market cap tracking\n\n**Timeframes:** 5m, 15m, 30m, 1H, 4H, 1D\n**Volatility Analysis:** ATR percentage and classification\n**Real-time Data:** Price, volume, changes, market cap\n"},{"name":"CoinGlass - Advanced Analytics","description":"**🎯 Liquidation Clusters, Orderbook Depth & Options Intelligence**\n\nProfessional-grade liquidation heatmaps, deep spot orderbook analysis, and comprehensive \noptions open interest tracking with strike price distribution and expiration analysis.\n\n**Advanced Features:**\n- Liquidation cluster heatmaps with risk level analysis\n- Deep spot market orderbook with liquidity distribution\n- Options open interest with call/put ratios\n- Strike price distribution and expiration analysis\n- Market depth analysis with spread calculations\n\n**Liquidation Analysis:** Risk levels, volumes, price ranges\n**Orderbook Depth:** Configurable levels (5-100)\n**Options Coverage:** Call/put ratios, strike distribution\n"},{"name":"System Monitoring","description":"**🔧 System Health & API Monitoring**\n\nSystem health endpoints, API status monitoring, performance metrics,\nand infrastructure monitoring for API reliability and performance tracking.\n\n**Monitoring Features:**\n- Real-time system health and uptime monitoring\n- API performance metrics and response times\n- Rate limit status and quota tracking\n- Memory usage and system resource monitoring\n- Error tracking and alert systems\n\n**Reliability:** 99.9% uptime SLA\n**Monitoring Frequency:** Real-time with sub-second updates\n**Use Cases:** API health checks, performance optimization, debugging\n"}],"security":[{"ApiKeyAuth":["read-only"]}],"paths":{"/api/pairs/supported":{"get":{"operationId":"getSupportedTradingPairs","summary":"Get all supported trading pairs (Public Access)","description":"🔓 Public endpoint returning 65+ supported cryptocurrency trading pairs. Includes major cryptos (BTC, ETH, SOL), DeFi tokens (UNI, AAVE), Layer 2 (MATIC, ARB), and meme coins (SHIB, PEPE). No authentication required.","tags":["Market Data - Multi-Pair"],"security":[],"responses":{"200":{"description":"List of supported trading pairs","headers":{"RateLimit-Limit":{"description":"Maximum number of requests allowed in the current window.\nFormat: Integer representing the request limit (e.g., 100 for 100 requests per minute).\n\n**Rate Limiting Tiers:**\n- Basic: 60 requests/minute\n- Premium: 100 requests/minute  \n- Enterprise: 500 requests/minute\n","schema":{"type":"integer","minimum":1,"maximum":10000,"example":100}},"RateLimit-Remaining":{"description":"Number of requests remaining in the current window.\nDecreases with each request until reset. When this reaches 0, \nsubsequent requests will return 429 status code.\n","schema":{"type":"integer","minimum":0,"example":42}},"RateLimit-Reset":{"description":"Unix timestamp when the rate limit window resets.\nAfter this time, RateLimit-Remaining will be restored to RateLimit-Limit.\nUse this to calculate when you can make requests again.\n","schema":{"type":"integer","minimum":0,"example":1725955200}},"RateLimit-Policy":{"description":"Rate limiting policy in compact format.\nFormat: \"<limit>;<duration>\" where duration can be:\n- s = seconds, m = minutes, h = hours, d = days\n- Example: \"100;w=60\" = 100 requests per 60-second window\n","schema":{"type":"string","pattern":"^[0-9]+;[wsmhd]=[0-9]+$","example":"100;w=60"}}},"content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"type":"object","properties":{"pairs":{"type":"array","items":{"type":"string"}}}},"timestamp":{"type":"string","format":"date-time"}}}}}},"401":{"description":"Unauthorized - Invalid or missing API key","headers":{"WWW-Authenticate":{"description":"Authentication challenge","schema":{"type":"string","example":"ApiKey realm=\"CryptoSat API\""}},"RateLimit-Limit":{"description":"Maximum number of requests allowed in the current window.\nFormat: Integer representing the request limit (e.g., 100 for 100 requests per minute).\n\n**Rate Limiting Tiers:**\n- Basic: 60 requests/minute\n- Premium: 100 requests/minute  \n- Enterprise: 500 requests/minute\n","schema":{"type":"integer","minimum":1,"maximum":10000,"example":100}},"RateLimit-Remaining":{"description":"Number of requests remaining in the current window.\nDecreases with each request until reset. When this reaches 0, \nsubsequent requests will return 429 status code.\n","schema":{"type":"integer","minimum":0,"example":42}},"RateLimit-Reset":{"description":"Unix timestamp when the rate limit window resets.\nAfter this time, RateLimit-Remaining will be restored to RateLimit-Limit.\nUse this to calculate when you can make requests again.\n","schema":{"type":"integer","minimum":0,"example":1725955200}},"RateLimit-Policy":{"description":"Rate limiting policy in compact format.\nFormat: \"<limit>;<duration>\" where duration can be:\n- s = seconds, m = minutes, h = hours, d = days\n- Example: \"100;w=60\" = 100 requests per 60-second window\n","schema":{"type":"string","pattern":"^[0-9]+;[wsmhd]=[0-9]+$","example":"100;w=60"}}},"content":{"application/problem+json":{"schema":{"type":"object","description":"RFC 7807 Problem Details for HTTP APIs.\nA machine-readable format for specifying errors in HTTP API responses.\n","required":["type","title"],"properties":{"type":{"type":"string","format":"uri","description":"A URI reference that identifies the problem type. When dereferenced,\nit SHOULD provide human-readable documentation for the problem type.\n"},"title":{"type":"string","description":"A short, human-readable summary of the problem type. It SHOULD NOT change\nfrom occurrence to occurrence of the problem.\n"},"status":{"type":"integer","minimum":100,"maximum":599,"description":"The HTTP status code for this occurrence of the problem.\n"},"detail":{"type":"string","description":"A human-readable explanation specific to this occurrence of the problem.\n"},"instance":{"type":"string","format":"uri","description":"A URI reference that identifies the specific occurrence of the problem.\nIt may or may not yield further information if dereferenced.\n"},"code":{"type":"string","pattern":"^[A-Z_]+$","description":"Application-specific error code for programmatic error handling.\n"},"request_id":{"type":"string","description":"Unique identifier for this request, useful for debugging and support.\n"},"invalid_params":{"type":"array","description":"Details about invalid parameters for validation errors.\n","items":{"type":"object","required":["name","reason"],"properties":{"name":{"type":"string","description":"Name of the invalid parameter"},"reason":{"type":"string","description":"Reason why the parameter is invalid"}}}},"rate_limit":{"type":"object","description":"Rate limiting information for 429 errors.\n","properties":{"limit":{"type":"integer","description":"Maximum number of requests allowed"},"remaining":{"type":"integer","description":"Number of requests remaining in current window"},"reset_time":{"type":"string","format":"date-time","description":"Time when the rate limit resets"},"retry_after":{"type":"integer","description":"Seconds to wait before retrying"}}},"quota":{"type":"object","description":"Quota information for quota exceeded errors.\n","properties":{"limit":{"type":"integer","description":"Maximum quota allowed"},"used":{"type":"integer","description":"Amount of quota used"},"reset_time":{"type":"string","format":"date-time","description":"Time when the quota resets"}}},"retry_after":{"type":"integer","description":"Seconds to wait before retrying (for 503 Service Unavailable errors).\n"}},"additionalProperties":false},"examples":{"missing_api_key":{"summary":"Missing API key","value":{"type":"https://guardiansofthegreentoken.com/problems/authentication-required","title":"Authentication Required","status":401,"detail":"API key is required to access this resource. Include 'X-API-Key' header with your request.","instance":"/api/ai/enhanced-signal","code":"MISSING_API_KEY"}},"invalid_api_key":{"summary":"Invalid API key","value":{"type":"https://guardiansofthegreentoken.com/problems/authentication-failed","title":"Authentication Failed","status":401,"detail":"The provided API key is invalid or has been revoked.","instance":"/api/ai/enhanced-signal","code":"INVALID_API_KEY"}}}}}},"429":{"description":"Rate limit exceeded - RFC 7807 compliant","headers":{"RateLimit-Limit":{"description":"Maximum number of requests allowed in the current window.\nFormat: Integer representing the request limit (e.g., 100 for 100 requests per minute).\n\n**Rate Limiting Tiers:**\n- Basic: 60 requests/minute\n- Premium: 100 requests/minute  \n- Enterprise: 500 requests/minute\n","schema":{"type":"integer","minimum":1,"maximum":10000,"example":100}},"RateLimit-Remaining":{"description":"Number of requests remaining in the current window.\nDecreases with each request until reset. When this reaches 0, \nsubsequent requests will return 429 status code.\n","schema":{"type":"integer","minimum":0,"example":42}},"RateLimit-Reset":{"description":"Unix timestamp when the rate limit window resets.\nAfter this time, RateLimit-Remaining will be restored to RateLimit-Limit.\nUse this to calculate when you can make requests again.\n","schema":{"type":"integer","minimum":0,"example":1725955200}},"RateLimit-Policy":{"description":"Rate limiting policy in compact format.\nFormat: \"<limit>;<duration>\" where duration can be:\n- s = seconds, m = minutes, h = hours, d = days\n- Example: \"100;w=60\" = 100 requests per 60-second window\n","schema":{"type":"string","pattern":"^[0-9]+;[wsmhd]=[0-9]+$","example":"100;w=60"}},"Retry-After":{"description":"Seconds to wait before making another request (only in 429 responses).\nUse this value to implement exponential backoff in your retry logic.\n","schema":{"type":"integer","minimum":1,"maximum":3600,"example":60}}},"content":{"application/problem+json":{"schema":{"type":"object","description":"RFC 7807 Problem Details for HTTP APIs.\nA machine-readable format for specifying errors in HTTP API responses.\n","required":["type","title"],"properties":{"type":{"type":"string","format":"uri","description":"A URI reference that identifies the problem type. When dereferenced,\nit SHOULD provide human-readable documentation for the problem type.\n"},"title":{"type":"string","description":"A short, human-readable summary of the problem type. It SHOULD NOT change\nfrom occurrence to occurrence of the problem.\n"},"status":{"type":"integer","minimum":100,"maximum":599,"description":"The HTTP status code for this occurrence of the problem.\n"},"detail":{"type":"string","description":"A human-readable explanation specific to this occurrence of the problem.\n"},"instance":{"type":"string","format":"uri","description":"A URI reference that identifies the specific occurrence of the problem.\nIt may or may not yield further information if dereferenced.\n"},"code":{"type":"string","pattern":"^[A-Z_]+$","description":"Application-specific error code for programmatic error handling.\n"},"request_id":{"type":"string","description":"Unique identifier for this request, useful for debugging and support.\n"},"invalid_params":{"type":"array","description":"Details about invalid parameters for validation errors.\n","items":{"type":"object","required":["name","reason"],"properties":{"name":{"type":"string","description":"Name of the invalid parameter"},"reason":{"type":"string","description":"Reason why the parameter is invalid"}}}},"rate_limit":{"type":"object","description":"Rate limiting information for 429 errors.\n","properties":{"limit":{"type":"integer","description":"Maximum number of requests allowed"},"remaining":{"type":"integer","description":"Number of requests remaining in current window"},"reset_time":{"type":"string","format":"date-time","description":"Time when the rate limit resets"},"retry_after":{"type":"integer","description":"Seconds to wait before retrying"}}},"quota":{"type":"object","description":"Quota information for quota exceeded errors.\n","properties":{"limit":{"type":"integer","description":"Maximum quota allowed"},"used":{"type":"integer","description":"Amount of quota used"},"reset_time":{"type":"string","format":"date-time","description":"Time when the quota resets"}}},"retry_after":{"type":"integer","description":"Seconds to wait before retrying (for 503 Service Unavailable errors).\n"}},"additionalProperties":false},"examples":{"rate_limit_exceeded":{"summary":"Standard rate limit exceeded","description":"Standard rate limiting scenario with complete retry guidance.\n\n**Retry Strategy:**\n1. Respect the `Retry-After` header value\n2. Implement exponential backoff with jitter\n3. Monitor `RateLimit-Remaining` header to prevent hitting limits\n4. Consider upgrading to higher tier for increased limits\n\n**Example Retry Logic:**\n```javascript\nconst delay = parseInt(headers['Retry-After']) || 60;\nconst jitter = Math.random() * 1000; // Add randomness\nsetTimeout(retry, (delay * 1000) + jitter);\n```","value":{"type":"https://guardiansofthegreentoken.com/problems/rate-limit-exceeded","title":"Rate Limit Exceeded","status":429,"detail":"You have exceeded the rate limit of 100 requests per minute. Please wait 42 seconds before making another request. Consider implementing request batching or upgrading your plan for higher limits.","instance":"/api/ai/enhanced-signal","code":"RATE_LIMIT_EXCEEDED","rate_limit":{"limit":100,"remaining":0,"reset_time":"2025-09-15T02:30:00Z","retry_after":42,"policy":"100;w=60","tier":"premium"},"help":{"upgrade_url":"https://guardiansofthegreentoken.com/pricing","documentation":"https://docs.guardiansofthegreentoken.com/rate-limiting","best_practices":["Implement exponential backoff with jitter","Monitor RateLimit-Remaining header","Batch requests when possible","Cache responses to reduce API calls"]}}},"quota_exceeded":{"summary":"Daily quota exceeded","description":"Daily quota exceeded scenario with clear reset guidance.\n\n**Understanding Quotas:**\n- Daily quotas reset at midnight UTC\n- Separate from rate limits (requests per minute)\n- Track usage via X-Quota-Used and X-Quota-Remaining headers\n\n**Recovery Actions:**\n1. Wait for quota reset (shown in reset_time)\n2. Upgrade plan for higher daily limits\n3. Optimize requests by batching operations\n4. Implement request caching strategies","value":{"type":"https://guardiansofthegreentoken.com/problems/quota-exceeded","title":"Daily Quota Exceeded","status":429,"detail":"You have exceeded your daily quota of 1000 AI signal requests. Quota resets at midnight UTC. Consider upgrading your plan or implementing request optimization strategies.","instance":"/api/ai/enhanced-signal","code":"QUOTA_EXCEEDED","quota":{"limit":1000,"used":1000,"reset_time":"2025-09-16T00:00:00Z","tier":"premium","upgrade_available":true},"help":{"upgrade_url":"https://guardiansofthegreentoken.com/pricing","optimization_guide":"https://docs.guardiansofthegreentoken.com/quota-optimization","strategies":["Implement response caching for repeated queries","Batch multiple operations in single requests","Use webhooks instead of polling for real-time data","Filter requests to only essential data points"]}}}}}}},"500":{"description":"Generic error response using RFC 7807 Problem Details","headers":{"RateLimit-Limit":{"description":"Maximum number of requests allowed in the current window.\nFormat: Integer representing the request limit (e.g., 100 for 100 requests per minute).\n\n**Rate Limiting Tiers:**\n- Basic: 60 requests/minute\n- Premium: 100 requests/minute  \n- Enterprise: 500 requests/minute\n","schema":{"type":"integer","minimum":1,"maximum":10000,"example":100}},"RateLimit-Remaining":{"description":"Number of requests remaining in the current window.\nDecreases with each request until reset. When this reaches 0, \nsubsequent requests will return 429 status code.\n","schema":{"type":"integer","minimum":0,"example":42}},"RateLimit-Reset":{"description":"Unix timestamp when the rate limit window resets.\nAfter this time, RateLimit-Remaining will be restored to RateLimit-Limit.\nUse this to calculate when you can make requests again.\n","schema":{"type":"integer","minimum":0,"example":1725955200}},"RateLimit-Policy":{"description":"Rate limiting policy in compact format.\nFormat: \"<limit>;<duration>\" where duration can be:\n- s = seconds, m = minutes, h = hours, d = days\n- Example: \"100;w=60\" = 100 requests per 60-second window\n","schema":{"type":"string","pattern":"^[0-9]+;[wsmhd]=[0-9]+$","example":"100;w=60"}}},"content":{"application/problem+json":{"schema":{"type":"object","description":"RFC 7807 Problem Details for HTTP APIs.\nA machine-readable format for specifying errors in HTTP API responses.\n","required":["type","title"],"properties":{"type":{"type":"string","format":"uri","description":"A URI reference that identifies the problem type. When dereferenced,\nit SHOULD provide human-readable documentation for the problem type.\n"},"title":{"type":"string","description":"A short, human-readable summary of the problem type. It SHOULD NOT change\nfrom occurrence to occurrence of the problem.\n"},"status":{"type":"integer","minimum":100,"maximum":599,"description":"The HTTP status code for this occurrence of the problem.\n"},"detail":{"type":"string","description":"A human-readable explanation specific to this occurrence of the problem.\n"},"instance":{"type":"string","format":"uri","description":"A URI reference that identifies the specific occurrence of the problem.\nIt may or may not yield further information if dereferenced.\n"},"code":{"type":"string","pattern":"^[A-Z_]+$","description":"Application-specific error code for programmatic error handling.\n"},"request_id":{"type":"string","description":"Unique identifier for this request, useful for debugging and support.\n"},"invalid_params":{"type":"array","description":"Details about invalid parameters for validation errors.\n","items":{"type":"object","required":["name","reason"],"properties":{"name":{"type":"string","description":"Name of the invalid parameter"},"reason":{"type":"string","description":"Reason why the parameter is invalid"}}}},"rate_limit":{"type":"object","description":"Rate limiting information for 429 errors.\n","properties":{"limit":{"type":"integer","description":"Maximum number of requests allowed"},"remaining":{"type":"integer","description":"Number of requests remaining in current window"},"reset_time":{"type":"string","format":"date-time","description":"Time when the rate limit resets"},"retry_after":{"type":"integer","description":"Seconds to wait before retrying"}}},"quota":{"type":"object","description":"Quota information for quota exceeded errors.\n","properties":{"limit":{"type":"integer","description":"Maximum quota allowed"},"used":{"type":"integer","description":"Amount of quota used"},"reset_time":{"type":"string","format":"date-time","description":"Time when the quota resets"}}},"retry_after":{"type":"integer","description":"Seconds to wait before retrying (for 503 Service Unavailable errors).\n"}},"additionalProperties":false},"examples":{"server_error":{"summary":"Internal server error","value":{"type":"https://guardiansofthegreentoken.com/problems/server-error","title":"Internal Server Error","status":500,"detail":"An unexpected error occurred while processing your request. Our team has been notified.","instance":"/api/ai/enhanced-signal","code":"INTERNAL_ERROR","request_id":"req_1757901234567"}},"service_unavailable":{"summary":"Service temporarily unavailable","value":{"type":"https://guardiansofthegreentoken.com/problems/service-unavailable","title":"Service Temporarily Unavailable","status":503,"detail":"The AI signal engine is temporarily unavailable due to maintenance. Please try again in a few minutes.","instance":"/api/ai/enhanced-signal","code":"SERVICE_UNAVAILABLE","retry_after":300}}}}}}}}},"/api/{pair}/complete":{"get":{"operationId":"getCompleteAnalysis","summary":"Get comprehensive trading data for any supported pair","tags":["Market Data - Multi-Pair"],"parameters":[{"name":"pair","in":"path","required":true,"description":"Trading pair symbol - supports all 65+ pairs (BTC, ETH, SOL, ADA, etc.)","schema":{"type":"string","pattern":"^[A-Za-z0-9]{2,10}$","enum":["BTC","ETH","SOL","ADA","DOT","MATIC","LTC","BCH","ETC","LINK","UNI","AAVE","ATOM","XRP","DOGE","SHIB","AVAX","FTM","NEAR","ALGO","MANA","SAND","AXS","ENJ","CRV","COMP","MKR","YFI","SUSHI","1INCH","BAT","ZRX","KNC","LRC","REN","STORJ","GRT","FIL","AR","THETA","ICP","EGLD","HBAR","VET","CHZ","ENS","IMX","GMT","APE","GALA","LOOKS","MAGIC","OP","ARB","BLUR","SUI","PEPE","FLOKI","BONK","WIF","BOME","POPCAT","MEW","RENDER","BNB"]},"example":"BTC"}],"responses":{"200":{"description":"Complete trading data for the specified pair","headers":{"RateLimit-Limit":{"description":"Maximum number of requests allowed in the current window.\nFormat: Integer representing the request limit (e.g., 100 for 100 requests per minute).\n\n**Rate Limiting Tiers:**\n- Basic: 60 requests/minute\n- Premium: 100 requests/minute  \n- Enterprise: 500 requests/minute\n","schema":{"type":"integer","minimum":1,"maximum":10000,"example":100}},"RateLimit-Remaining":{"description":"Number of requests remaining in the current window.\nDecreases with each request until reset. When this reaches 0, \nsubsequent requests will return 429 status code.\n","schema":{"type":"integer","minimum":0,"example":42}},"RateLimit-Reset":{"description":"Unix timestamp when the rate limit window resets.\nAfter this time, RateLimit-Remaining will be restored to RateLimit-Limit.\nUse this to calculate when you can make requests again.\n","schema":{"type":"integer","minimum":0,"example":1725955200}},"RateLimit-Policy":{"description":"Rate limiting policy in compact format.\nFormat: \"<limit>;<duration>\" where duration can be:\n- s = seconds, m = minutes, h = hours, d = days\n- Example: \"100;w=60\" = 100 requests per 60-second window\n","schema":{"type":"string","pattern":"^[0-9]+;[wsmhd]=[0-9]+$","example":"100;w=60"}}},"content":{"application/json":{"schema":{"type":"object","description":"Comprehensive trading data analysis for any supported pair using composition patterns.\nCombines enhanced market data, technical indicators, sentiment analysis, and AI insights.\n\n**Schema Composition:**\n- Extends BaseAnalysisResponse (success, timestamp, data structure)\n- Uses specialized component schemas for maximum reusability\n- Implements allOf patterns for maintainable, consistent design\n\n**Features:**\n- Enhanced market data with bid/ask spreads\n- Complete technical indicator suite (RSI, MACD, Bollinger Bands, Moving Averages)\n- Market sentiment and momentum analysis\n- Funding rate and open interest data\n- AI-powered insights and predictions\n- Risk assessment metrics\n- Metadata for data transparency\n","properties":{"data":{"type":"object","properties":{"ticker":{"type":"object","description":"Enhanced market data with bid/ask spreads and additional trading metrics","properties":{"bid":{"type":"string","pattern":"^-?[0-9]+(\\.[0-9]+)?$","description":"Current bid price"},"ask":{"type":"string","pattern":"^-?[0-9]+(\\.[0-9]+)?$","description":"Current ask price"},"spread":{"type":"number","minimum":0,"description":"Bid-ask spread"}},"required":["symbol","price"]},"technical_indicators":{"type":"object","description":"Comprehensive technical analysis indicators","properties":{"rsi":{"type":"object","description":"RSI (Relative Strength Index) technical indicator","properties":{"signal":{"type":"string","enum":["oversold","neutral","overbought"],"description":"RSI signal interpretation"}},"required":["signal"]},"macd":{"type":"object","description":"MACD (Moving Average Convergence Divergence) indicator","properties":{"line":{"type":"number","description":"MACD line value"},"signal":{"type":"number","description":"MACD signal line value"},"histogram":{"type":"number","description":"MACD histogram value"},"trend":{"type":"string","enum":["bullish","bearish","neutral"],"description":"MACD trend interpretation"}},"required":["line","signal","histogram","trend"]},"bollinger_bands":{"type":"object","description":"Bollinger Bands technical indicator","properties":{"upper":{"type":"number","description":"Upper Bollinger Band"},"middle":{"type":"number","description":"Middle Bollinger Band (SMA)"},"lower":{"type":"number","description":"Lower Bollinger Band"},"position":{"type":"string","enum":["above_upper","upper_half","lower_half","below_lower"],"description":"Current price position relative to bands"}},"required":["upper","middle","lower","position"]},"moving_averages":{"type":"object","description":"Moving averages analysis","properties":{"sma_20":{"type":"number","description":"20-period Simple Moving Average"},"sma_50":{"type":"number","description":"50-period Simple Moving Average"},"ema_20":{"type":"number","description":"20-period Exponential Moving Average"},"ema_50":{"type":"number","description":"50-period Exponential Moving Average"},"crossover_signal":{"type":"string","enum":["golden_cross","death_cross","none"],"description":"Moving average crossover signal"}},"required":["sma_20","sma_50","ema_20","ema_50","crossover_signal"]}},"required":["rsi","macd","bollinger_bands","moving_averages"]},"market_sentiment":{"type":"object","description":"Market sentiment analysis and momentum indicators","properties":{"overall_sentiment":{"type":"string","enum":["very_bearish","bearish","neutral","bullish","very_bullish"],"description":"Overall market sentiment"},"sentiment_score":{"type":"number","minimum":0,"maximum":100,"description":"Numerical sentiment score"},"momentum":{"type":"string","enum":["strong_down","weak_down","neutral","weak_up","strong_up"],"description":"Market momentum direction and strength"},"volatility":{"type":"string","enum":["very_low","low","medium","high","very_high"],"description":"Market volatility level"}},"required":["overall_sentiment","sentiment_score","momentum","volatility"]},"funding_rate":{"type":"object","description":"Funding rate information for perpetual contracts","properties":{"current_rate":{"type":"string","pattern":"^-?[0-9]+(\\.[0-9]+)?$","description":"Current funding rate"},"annual_rate":{"type":"string","pattern":"^[+-]?[0-9]+(\\.[0-9]+)?%$","description":"Annualized funding rate percentage"},"next_funding_time":{"type":"string","format":"date-time","description":"Next funding time"},"predicted_rate":{"type":"string","pattern":"^-?[0-9]+(\\.[0-9]+)?$","description":"Predicted next funding rate"}},"required":["current_rate","next_funding_time"]},"open_interest":{"type":"object","description":"Open interest and derivatives market metrics","properties":{"total_oi":{"type":"string","pattern":"^-?[0-9]+(\\.[0-9]+)?$","description":"Total open interest"},"oi_usd":{"type":"string","pattern":"^-?[0-9]+(\\.[0-9]+)?$","description":"Open interest value in USD"},"change_24h":{"type":"string","pattern":"^[+-]?[0-9]+(\\.[0-9]+)?%$","description":"24-hour change in open interest"},"oi_to_volume_ratio":{"type":"number","minimum":0,"description":"Ratio of open interest to trading volume"}},"required":["total_oi","oi_usd"]},"ai_insights":{"type":"object","description":"AI-powered market analysis and predictions","properties":{"trend_prediction":{"type":"string","enum":["strong_bearish","bearish","neutral","bullish","strong_bullish"],"description":"AI trend prediction"},"confidence_level":{"type":"number","minimum":0,"maximum":100,"description":"AI confidence in the analysis"},"key_levels":{"type":"object","properties":{"resistance":{"type":"array","items":{"type":"number"},"description":"Key resistance levels"},"support":{"type":"array","items":{"type":"number"},"description":"Key support levels"}},"required":["resistance","support"]},"recommendation":{"type":"string","description":"AI trading recommendation"}},"required":["trend_prediction","confidence_level","key_levels"]},"risk_metrics":{"type":"object","description":"Risk assessment and volatility metrics","properties":{"volatility_24h":{"type":"number","minimum":0,"description":"24-hour volatility percentage"},"beta":{"type":"number","description":"Beta coefficient relative to market"},"max_drawdown_7d":{"type":"number","maximum":0,"description":"Maximum drawdown over 7 days (percentage)"},"sharpe_ratio":{"type":"number","description":"Risk-adjusted return ratio"},"risk_score":{"type":"number","minimum":0,"maximum":100,"description":"Overall risk score"}},"required":["volatility_24h","risk_score"]}},"required":["ticker","technical_indicators","market_sentiment"]},"metadata":{"type":"object","description":"Common metadata structure for data freshness and processing information.\nUsed across analysis responses to provide transparency about data quality.\n","properties":{"data_sources":{"type":"array","items":{"type":"string"},"description":"List of data sources used for this analysis"},"last_updated":{"type":"string","format":"date-time","description":"When the underlying data was last refreshed"},"cache_status":{"type":"string","enum":["fresh","cached","stale"],"description":"Indicates data freshness level"},"processing_time_ms":{"type":"number","minimum":0,"description":"Time taken to process this request in milliseconds"}},"required":["data_sources","last_updated","cache_status"]}},"required":["data","metadata"]}}}},"400":{"description":"Bad Request - Invalid input parameters or malformed request","headers":{"RateLimit-Limit":{"description":"Maximum number of requests allowed in the current window.\nFormat: Integer representing the request limit (e.g., 100 for 100 requests per minute).\n\n**Rate Limiting Tiers:**\n- Basic: 60 requests/minute\n- Premium: 100 requests/minute  \n- Enterprise: 500 requests/minute\n","schema":{"type":"integer","minimum":1,"maximum":10000,"example":100}},"RateLimit-Remaining":{"description":"Number of requests remaining in the current window.\nDecreases with each request until reset. When this reaches 0, \nsubsequent requests will return 429 status code.\n","schema":{"type":"integer","minimum":0,"example":42}},"RateLimit-Reset":{"description":"Unix timestamp when the rate limit window resets.\nAfter this time, RateLimit-Remaining will be restored to RateLimit-Limit.\nUse this to calculate when you can make requests again.\n","schema":{"type":"integer","minimum":0,"example":1725955200}},"RateLimit-Policy":{"description":"Rate limiting policy in compact format.\nFormat: \"<limit>;<duration>\" where duration can be:\n- s = seconds, m = minutes, h = hours, d = days\n- Example: \"100;w=60\" = 100 requests per 60-second window\n","schema":{"type":"string","pattern":"^[0-9]+;[wsmhd]=[0-9]+$","example":"100;w=60"}}},"content":{"application/problem+json":{"schema":{"type":"object","description":"RFC 7807 Problem Details for HTTP APIs.\nA machine-readable format for specifying errors in HTTP API responses.\n","required":["type","title"],"properties":{"type":{"type":"string","format":"uri","description":"A URI reference that identifies the problem type. When dereferenced,\nit SHOULD provide human-readable documentation for the problem type.\n"},"title":{"type":"string","description":"A short, human-readable summary of the problem type. It SHOULD NOT change\nfrom occurrence to occurrence of the problem.\n"},"status":{"type":"integer","minimum":100,"maximum":599,"description":"The HTTP status code for this occurrence of the problem.\n"},"detail":{"type":"string","description":"A human-readable explanation specific to this occurrence of the problem.\n"},"instance":{"type":"string","format":"uri","description":"A URI reference that identifies the specific occurrence of the problem.\nIt may or may not yield further information if dereferenced.\n"},"code":{"type":"string","pattern":"^[A-Z_]+$","description":"Application-specific error code for programmatic error handling.\n"},"request_id":{"type":"string","description":"Unique identifier for this request, useful for debugging and support.\n"},"invalid_params":{"type":"array","description":"Details about invalid parameters for validation errors.\n","items":{"type":"object","required":["name","reason"],"properties":{"name":{"type":"string","description":"Name of the invalid parameter"},"reason":{"type":"string","description":"Reason why the parameter is invalid"}}}},"rate_limit":{"type":"object","description":"Rate limiting information for 429 errors.\n","properties":{"limit":{"type":"integer","description":"Maximum number of requests allowed"},"remaining":{"type":"integer","description":"Number of requests remaining in current window"},"reset_time":{"type":"string","format":"date-time","description":"Time when the rate limit resets"},"retry_after":{"type":"integer","description":"Seconds to wait before retrying"}}},"quota":{"type":"object","description":"Quota information for quota exceeded errors.\n","properties":{"limit":{"type":"integer","description":"Maximum quota allowed"},"used":{"type":"integer","description":"Amount of quota used"},"reset_time":{"type":"string","format":"date-time","description":"Time when the quota resets"}}},"retry_after":{"type":"integer","description":"Seconds to wait before retrying (for 503 Service Unavailable errors).\n"}},"additionalProperties":false},"examples":{"invalid_parameter":{"summary":"Invalid parameter format","value":{"type":"https://guardiansofthegreentoken.com/problems/validation-error","title":"Invalid Parameter Format","status":400,"detail":"The 'pair' parameter must match pattern '^[A-Z0-9]{2,10}$'. Received: 'invalid_pair'.","instance":"/api/invalid_pair/complete","code":"INVALID_PARAMETER","invalid_params":[{"name":"pair","reason":"Must be a valid trading pair symbol (2-10 uppercase alphanumeric characters)"}]}},"missing_required_field":{"summary":"Missing required field","value":{"type":"https://guardiansofthegreentoken.com/problems/validation-error","title":"Missing Required Field","status":400,"detail":"Required field 'signal_id' is missing from request body.","instance":"/api/ai/tracking/execution","code":"MISSING_REQUIRED_FIELD","invalid_params":[{"name":"signal_id","reason":"This field is required for tracking AI signal execution"}]}}}}}},"401":{"description":"Unauthorized - Invalid or missing API key","headers":{"WWW-Authenticate":{"description":"Authentication challenge","schema":{"type":"string","example":"ApiKey realm=\"CryptoSat API\""}},"RateLimit-Limit":{"description":"Maximum number of requests allowed in the current window.\nFormat: Integer representing the request limit (e.g., 100 for 100 requests per minute).\n\n**Rate Limiting Tiers:**\n- Basic: 60 requests/minute\n- Premium: 100 requests/minute  \n- Enterprise: 500 requests/minute\n","schema":{"type":"integer","minimum":1,"maximum":10000,"example":100}},"RateLimit-Remaining":{"description":"Number of requests remaining in the current window.\nDecreases with each request until reset. When this reaches 0, \nsubsequent requests will return 429 status code.\n","schema":{"type":"integer","minimum":0,"example":42}},"RateLimit-Reset":{"description":"Unix timestamp when the rate limit window resets.\nAfter this time, RateLimit-Remaining will be restored to RateLimit-Limit.\nUse this to calculate when you can make requests again.\n","schema":{"type":"integer","minimum":0,"example":1725955200}},"RateLimit-Policy":{"description":"Rate limiting policy in compact format.\nFormat: \"<limit>;<duration>\" where duration can be:\n- s = seconds, m = minutes, h = hours, d = days\n- Example: \"100;w=60\" = 100 requests per 60-second window\n","schema":{"type":"string","pattern":"^[0-9]+;[wsmhd]=[0-9]+$","example":"100;w=60"}}},"content":{"application/problem+json":{"schema":{"type":"object","description":"RFC 7807 Problem Details for HTTP APIs.\nA machine-readable format for specifying errors in HTTP API responses.\n","required":["type","title"],"properties":{"type":{"type":"string","format":"uri","description":"A URI reference that identifies the problem type. When dereferenced,\nit SHOULD provide human-readable documentation for the problem type.\n"},"title":{"type":"string","description":"A short, human-readable summary of the problem type. It SHOULD NOT change\nfrom occurrence to occurrence of the problem.\n"},"status":{"type":"integer","minimum":100,"maximum":599,"description":"The HTTP status code for this occurrence of the problem.\n"},"detail":{"type":"string","description":"A human-readable explanation specific to this occurrence of the problem.\n"},"instance":{"type":"string","format":"uri","description":"A URI reference that identifies the specific occurrence of the problem.\nIt may or may not yield further information if dereferenced.\n"},"code":{"type":"string","pattern":"^[A-Z_]+$","description":"Application-specific error code for programmatic error handling.\n"},"request_id":{"type":"string","description":"Unique identifier for this request, useful for debugging and support.\n"},"invalid_params":{"type":"array","description":"Details about invalid parameters for validation errors.\n","items":{"type":"object","required":["name","reason"],"properties":{"name":{"type":"string","description":"Name of the invalid parameter"},"reason":{"type":"string","description":"Reason why the parameter is invalid"}}}},"rate_limit":{"type":"object","description":"Rate limiting information for 429 errors.\n","properties":{"limit":{"type":"integer","description":"Maximum number of requests allowed"},"remaining":{"type":"integer","description":"Number of requests remaining in current window"},"reset_time":{"type":"string","format":"date-time","description":"Time when the rate limit resets"},"retry_after":{"type":"integer","description":"Seconds to wait before retrying"}}},"quota":{"type":"object","description":"Quota information for quota exceeded errors.\n","properties":{"limit":{"type":"integer","description":"Maximum quota allowed"},"used":{"type":"integer","description":"Amount of quota used"},"reset_time":{"type":"string","format":"date-time","description":"Time when the quota resets"}}},"retry_after":{"type":"integer","description":"Seconds to wait before retrying (for 503 Service Unavailable errors).\n"}},"additionalProperties":false},"examples":{"missing_api_key":{"summary":"Missing API key","value":{"type":"https://guardiansofthegreentoken.com/problems/authentication-required","title":"Authentication Required","status":401,"detail":"API key is required to access this resource. Include 'X-API-Key' header with your request.","instance":"/api/ai/enhanced-signal","code":"MISSING_API_KEY"}},"invalid_api_key":{"summary":"Invalid API key","value":{"type":"https://guardiansofthegreentoken.com/problems/authentication-failed","title":"Authentication Failed","status":401,"detail":"The provided API key is invalid or has been revoked.","instance":"/api/ai/enhanced-signal","code":"INVALID_API_KEY"}}}}}},"429":{"description":"Rate limit exceeded - RFC 7807 compliant","headers":{"RateLimit-Limit":{"description":"Maximum number of requests allowed in the current window.\nFormat: Integer representing the request limit (e.g., 100 for 100 requests per minute).\n\n**Rate Limiting Tiers:**\n- Basic: 60 requests/minute\n- Premium: 100 requests/minute  \n- Enterprise: 500 requests/minute\n","schema":{"type":"integer","minimum":1,"maximum":10000,"example":100}},"RateLimit-Remaining":{"description":"Number of requests remaining in the current window.\nDecreases with each request until reset. When this reaches 0, \nsubsequent requests will return 429 status code.\n","schema":{"type":"integer","minimum":0,"example":42}},"RateLimit-Reset":{"description":"Unix timestamp when the rate limit window resets.\nAfter this time, RateLimit-Remaining will be restored to RateLimit-Limit.\nUse this to calculate when you can make requests again.\n","schema":{"type":"integer","minimum":0,"example":1725955200}},"RateLimit-Policy":{"description":"Rate limiting policy in compact format.\nFormat: \"<limit>;<duration>\" where duration can be:\n- s = seconds, m = minutes, h = hours, d = days\n- Example: \"100;w=60\" = 100 requests per 60-second window\n","schema":{"type":"string","pattern":"^[0-9]+;[wsmhd]=[0-9]+$","example":"100;w=60"}},"Retry-After":{"description":"Seconds to wait before making another request (only in 429 responses).\nUse this value to implement exponential backoff in your retry logic.\n","schema":{"type":"integer","minimum":1,"maximum":3600,"example":60}}},"content":{"application/problem+json":{"schema":{"type":"object","description":"RFC 7807 Problem Details for HTTP APIs.\nA machine-readable format for specifying errors in HTTP API responses.\n","required":["type","title"],"properties":{"type":{"type":"string","format":"uri","description":"A URI reference that identifies the problem type. When dereferenced,\nit SHOULD provide human-readable documentation for the problem type.\n"},"title":{"type":"string","description":"A short, human-readable summary of the problem type. It SHOULD NOT change\nfrom occurrence to occurrence of the problem.\n"},"status":{"type":"integer","minimum":100,"maximum":599,"description":"The HTTP status code for this occurrence of the problem.\n"},"detail":{"type":"string","description":"A human-readable explanation specific to this occurrence of the problem.\n"},"instance":{"type":"string","format":"uri","description":"A URI reference that identifies the specific occurrence of the problem.\nIt may or may not yield further information if dereferenced.\n"},"code":{"type":"string","pattern":"^[A-Z_]+$","description":"Application-specific error code for programmatic error handling.\n"},"request_id":{"type":"string","description":"Unique identifier for this request, useful for debugging and support.\n"},"invalid_params":{"type":"array","description":"Details about invalid parameters for validation errors.\n","items":{"type":"object","required":["name","reason"],"properties":{"name":{"type":"string","description":"Name of the invalid parameter"},"reason":{"type":"string","description":"Reason why the parameter is invalid"}}}},"rate_limit":{"type":"object","description":"Rate limiting information for 429 errors.\n","properties":{"limit":{"type":"integer","description":"Maximum number of requests allowed"},"remaining":{"type":"integer","description":"Number of requests remaining in current window"},"reset_time":{"type":"string","format":"date-time","description":"Time when the rate limit resets"},"retry_after":{"type":"integer","description":"Seconds to wait before retrying"}}},"quota":{"type":"object","description":"Quota information for quota exceeded errors.\n","properties":{"limit":{"type":"integer","description":"Maximum quota allowed"},"used":{"type":"integer","description":"Amount of quota used"},"reset_time":{"type":"string","format":"date-time","description":"Time when the quota resets"}}},"retry_after":{"type":"integer","description":"Seconds to wait before retrying (for 503 Service Unavailable errors).\n"}},"additionalProperties":false},"examples":{"rate_limit_exceeded":{"summary":"Standard rate limit exceeded","description":"Standard rate limiting scenario with complete retry guidance.\n\n**Retry Strategy:**\n1. Respect the `Retry-After` header value\n2. Implement exponential backoff with jitter\n3. Monitor `RateLimit-Remaining` header to prevent hitting limits\n4. Consider upgrading to higher tier for increased limits\n\n**Example Retry Logic:**\n```javascript\nconst delay = parseInt(headers['Retry-After']) || 60;\nconst jitter = Math.random() * 1000; // Add randomness\nsetTimeout(retry, (delay * 1000) + jitter);\n```","value":{"type":"https://guardiansofthegreentoken.com/problems/rate-limit-exceeded","title":"Rate Limit Exceeded","status":429,"detail":"You have exceeded the rate limit of 100 requests per minute. Please wait 42 seconds before making another request. Consider implementing request batching or upgrading your plan for higher limits.","instance":"/api/ai/enhanced-signal","code":"RATE_LIMIT_EXCEEDED","rate_limit":{"limit":100,"remaining":0,"reset_time":"2025-09-15T02:30:00Z","retry_after":42,"policy":"100;w=60","tier":"premium"},"help":{"upgrade_url":"https://guardiansofthegreentoken.com/pricing","documentation":"https://docs.guardiansofthegreentoken.com/rate-limiting","best_practices":["Implement exponential backoff with jitter","Monitor RateLimit-Remaining header","Batch requests when possible","Cache responses to reduce API calls"]}}},"quota_exceeded":{"summary":"Daily quota exceeded","description":"Daily quota exceeded scenario with clear reset guidance.\n\n**Understanding Quotas:**\n- Daily quotas reset at midnight UTC\n- Separate from rate limits (requests per minute)\n- Track usage via X-Quota-Used and X-Quota-Remaining headers\n\n**Recovery Actions:**\n1. Wait for quota reset (shown in reset_time)\n2. Upgrade plan for higher daily limits\n3. Optimize requests by batching operations\n4. Implement request caching strategies","value":{"type":"https://guardiansofthegreentoken.com/problems/quota-exceeded","title":"Daily Quota Exceeded","status":429,"detail":"You have exceeded your daily quota of 1000 AI signal requests. Quota resets at midnight UTC. Consider upgrading your plan or implementing request optimization strategies.","instance":"/api/ai/enhanced-signal","code":"QUOTA_EXCEEDED","quota":{"limit":1000,"used":1000,"reset_time":"2025-09-16T00:00:00Z","tier":"premium","upgrade_available":true},"help":{"upgrade_url":"https://guardiansofthegreentoken.com/pricing","optimization_guide":"https://docs.guardiansofthegreentoken.com/quota-optimization","strategies":["Implement response caching for repeated queries","Batch multiple operations in single requests","Use webhooks instead of polling for real-time data","Filter requests to only essential data points"]}}}}}}},"500":{"description":"Generic error response using RFC 7807 Problem Details","headers":{"RateLimit-Limit":{"description":"Maximum number of requests allowed in the current window.\nFormat: Integer representing the request limit (e.g., 100 for 100 requests per minute).\n\n**Rate Limiting Tiers:**\n- Basic: 60 requests/minute\n- Premium: 100 requests/minute  \n- Enterprise: 500 requests/minute\n","schema":{"type":"integer","minimum":1,"maximum":10000,"example":100}},"RateLimit-Remaining":{"description":"Number of requests remaining in the current window.\nDecreases with each request until reset. When this reaches 0, \nsubsequent requests will return 429 status code.\n","schema":{"type":"integer","minimum":0,"example":42}},"RateLimit-Reset":{"description":"Unix timestamp when the rate limit window resets.\nAfter this time, RateLimit-Remaining will be restored to RateLimit-Limit.\nUse this to calculate when you can make requests again.\n","schema":{"type":"integer","minimum":0,"example":1725955200}},"RateLimit-Policy":{"description":"Rate limiting policy in compact format.\nFormat: \"<limit>;<duration>\" where duration can be:\n- s = seconds, m = minutes, h = hours, d = days\n- Example: \"100;w=60\" = 100 requests per 60-second window\n","schema":{"type":"string","pattern":"^[0-9]+;[wsmhd]=[0-9]+$","example":"100;w=60"}}},"content":{"application/problem+json":{"schema":{"type":"object","description":"RFC 7807 Problem Details for HTTP APIs.\nA machine-readable format for specifying errors in HTTP API responses.\n","required":["type","title"],"properties":{"type":{"type":"string","format":"uri","description":"A URI reference that identifies the problem type. When dereferenced,\nit SHOULD provide human-readable documentation for the problem type.\n"},"title":{"type":"string","description":"A short, human-readable summary of the problem type. It SHOULD NOT change\nfrom occurrence to occurrence of the problem.\n"},"status":{"type":"integer","minimum":100,"maximum":599,"description":"The HTTP status code for this occurrence of the problem.\n"},"detail":{"type":"string","description":"A human-readable explanation specific to this occurrence of the problem.\n"},"instance":{"type":"string","format":"uri","description":"A URI reference that identifies the specific occurrence of the problem.\nIt may or may not yield further information if dereferenced.\n"},"code":{"type":"string","pattern":"^[A-Z_]+$","description":"Application-specific error code for programmatic error handling.\n"},"request_id":{"type":"string","description":"Unique identifier for this request, useful for debugging and support.\n"},"invalid_params":{"type":"array","description":"Details about invalid parameters for validation errors.\n","items":{"type":"object","required":["name","reason"],"properties":{"name":{"type":"string","description":"Name of the invalid parameter"},"reason":{"type":"string","description":"Reason why the parameter is invalid"}}}},"rate_limit":{"type":"object","description":"Rate limiting information for 429 errors.\n","properties":{"limit":{"type":"integer","description":"Maximum number of requests allowed"},"remaining":{"type":"integer","description":"Number of requests remaining in current window"},"reset_time":{"type":"string","format":"date-time","description":"Time when the rate limit resets"},"retry_after":{"type":"integer","description":"Seconds to wait before retrying"}}},"quota":{"type":"object","description":"Quota information for quota exceeded errors.\n","properties":{"limit":{"type":"integer","description":"Maximum quota allowed"},"used":{"type":"integer","description":"Amount of quota used"},"reset_time":{"type":"string","format":"date-time","description":"Time when the quota resets"}}},"retry_after":{"type":"integer","description":"Seconds to wait before retrying (for 503 Service Unavailable errors).\n"}},"additionalProperties":false},"examples":{"server_error":{"summary":"Internal server error","value":{"type":"https://guardiansofthegreentoken.com/problems/server-error","title":"Internal Server Error","status":500,"detail":"An unexpected error occurred while processing your request. Our team has been notified.","instance":"/api/ai/enhanced-signal","code":"INTERNAL_ERROR","request_id":"req_1757901234567"}},"service_unavailable":{"summary":"Service temporarily unavailable","value":{"type":"https://guardiansofthegreentoken.com/problems/service-unavailable","title":"Service Temporarily Unavailable","status":503,"detail":"The AI signal engine is temporarily unavailable due to maintenance. Please try again in a few minutes.","instance":"/api/ai/enhanced-signal","code":"SERVICE_UNAVAILABLE","retry_after":300}}}}}}}}},"/api/{pair}/smc":{"get":{"operationId":"getSmartMoneyConcepts","summary":"Get Smart Money Concepts analysis for any pair","tags":["Smart Money Concepts"],"parameters":[{"name":"pair","in":"path","required":true,"description":"Trading pair symbol (e.g., BTC, ETH, SOL)","schema":{"type":"string","pattern":"^[A-Z0-9]{2,10}$"},"example":"BTC"}],"responses":{"200":{"description":"Smart Money Concepts analysis","headers":{"RateLimit-Limit":{"description":"Maximum number of requests allowed in the current window.\nFormat: Integer representing the request limit (e.g., 100 for 100 requests per minute).\n\n**Rate Limiting Tiers:**\n- Basic: 60 requests/minute\n- Premium: 100 requests/minute  \n- Enterprise: 500 requests/minute\n","schema":{"type":"integer","minimum":1,"maximum":10000,"example":100}},"RateLimit-Remaining":{"description":"Number of requests remaining in the current window.\nDecreases with each request until reset. When this reaches 0, \nsubsequent requests will return 429 status code.\n","schema":{"type":"integer","minimum":0,"example":42}},"RateLimit-Reset":{"description":"Unix timestamp when the rate limit window resets.\nAfter this time, RateLimit-Remaining will be restored to RateLimit-Limit.\nUse this to calculate when you can make requests again.\n","schema":{"type":"integer","minimum":0,"example":1725955200}},"RateLimit-Policy":{"description":"Rate limiting policy in compact format.\nFormat: \"<limit>;<duration>\" where duration can be:\n- s = seconds, m = minutes, h = hours, d = days\n- Example: \"100;w=60\" = 100 requests per 60-second window\n","schema":{"type":"string","pattern":"^[0-9]+;[wsmhd]=[0-9]+$","example":"100;w=60"}}},"content":{"application/json":{"schema":{"type":"object","description":"Smart Money Concepts (SMC) analysis using composition patterns for institutional-grade market structure analysis.\n\n**Schema Composition:**\n- Extends BaseAnalysisResponse (success, timestamp, data structure)\n- Uses specialized SMC component schemas for maximum reusability\n- Implements allOf patterns for maintainable, consistent design\n\n**SMC Analysis Features:**\n- Market structure identification (uptrend, downtrend, ranging)\n- Break of structure (BOS) detection and confirmation\n- Order block analysis (bullish/bearish institutional zones)\n- Fair value gap (FVG) identification and fill tracking\n- Liquidity analysis and sweep detection\n- Confidence scoring and trading bias determination\n\n**Professional Trading Applications:**\n- Institutional positioning analysis\n- Liquidity hunt identification\n- Market structure confirmation\n- Entry/exit timing optimization\n","properties":{"data":{"type":"object","description":"Complete Smart Money Concepts analysis data","properties":{"timeframe":{"type":"string","description":"Analysis timeframe"},"trend":{"type":"string","enum":["bullish","bearish","ranging"],"description":"Overall trend direction"},"market_structure":{"type":"object","description":"Market structure analysis for trend identification","properties":{"structure_type":{"type":"string","enum":["uptrend","downtrend","ranging","transition"],"description":"Current market structure type"},"current_phase":{"type":"string","enum":["impulse","correction","consolidation"],"description":"Current phase within structure"},"structure_strength":{"type":"string","enum":["weak","moderate","strong"],"description":"Strength of current structure"}},"required":["structure_type","current_phase","structure_strength"]},"break_of_structure":{"type":"object","description":"Break of structure (BOS) analysis","properties":{"type":{"type":"string","enum":["bullish","bearish"],"description":"Type of structure break"},"price":{"type":"string","pattern":"^-?[0-9]+(\\.[0-9]+)?$","description":"Price level where BOS occurred"},"timestamp":{"type":"string","format":"date-time","description":"When the BOS occurred"},"significance":{"type":"string","enum":["minor","major","critical"],"description":"Significance level of the BOS"},"confirmation":{"type":"boolean","description":"Whether the BOS is confirmed"}},"required":["type","price","timestamp","significance","confirmation"]},"order_blocks":{"type":"object","properties":{"bullish_blocks":{"type":"array","items":{"type":"object","description":"Order block structure for institutional positioning analysis","properties":{"price_high":{"type":"number","description":"Upper boundary of order block"},"price_low":{"type":"number","description":"Lower boundary of order block"},"strength":{"type":"string","enum":["weak","moderate","strong"],"description":"Strength of the order block"},"tested":{"type":"boolean","description":"Whether the order block has been tested"}},"required":["price_high","price_low","strength","tested"]}},"bearish_blocks":{"type":"array","items":{"type":"object","description":"Order block structure for institutional positioning analysis","properties":{"price_high":{"type":"number","description":"Upper boundary of order block"},"price_low":{"type":"number","description":"Lower boundary of order block"},"strength":{"type":"string","enum":["weak","moderate","strong"],"description":"Strength of the order block"},"tested":{"type":"boolean","description":"Whether the order block has been tested"}},"required":["price_high","price_low","strength","tested"]}}}},"fair_value_gaps":{"type":"object","properties":{"active_gaps":{"type":"array","items":{"type":"object","description":"Fair Value Gap (FVG) for price inefficiency analysis","properties":{"gap_high":{"type":"number","description":"Upper boundary of the gap"},"gap_low":{"type":"number","description":"Lower boundary of the gap"},"gap_type":{"type":"string","enum":["bullish","bearish"],"description":"Type of fair value gap"},"filled_percentage":{"type":"number","minimum":0,"maximum":100,"description":"Percentage of gap that has been filled"}},"required":["gap_high","gap_low","gap_type","filled_percentage"]}}}},"liquidity_analysis":{"type":"object","description":"Comprehensive liquidity analysis for SMC","properties":{"buy_side_liquidity":{"type":"array","items":{"type":"number"},"description":"Buy-side liquidity levels"},"sell_side_liquidity":{"type":"array","items":{"type":"number"},"description":"Sell-side liquidity levels"},"recent_sweeps":{"type":"array","items":{"type":"object","description":"Liquidity sweep event analysis","properties":{"price":{"type":"number","description":"Price level where sweep occurred"},"sweep_type":{"type":"string","enum":["buy_side","sell_side"],"description":"Type of liquidity sweep"},"timestamp":{"type":"string","format":"date-time","description":"When the sweep occurred"}},"required":["price","sweep_type","timestamp"]},"description":"Recent liquidity sweep events"}},"required":["buy_side_liquidity","sell_side_liquidity"]},"confidence":{"type":"number","minimum":0,"maximum":100,"description":"Overall confidence in SMC analysis"},"trading_bias":{"type":"string","enum":["bullish","bearish","neutral"],"description":"SMC-derived trading bias"}},"required":["timeframe","trend","market_structure","confidence","trading_bias"]}},"required":["data"]}}}},"400":{"description":"Bad Request - Invalid input parameters or malformed request","headers":{"RateLimit-Limit":{"description":"Maximum number of requests allowed in the current window.\nFormat: Integer representing the request limit (e.g., 100 for 100 requests per minute).\n\n**Rate Limiting Tiers:**\n- Basic: 60 requests/minute\n- Premium: 100 requests/minute  \n- Enterprise: 500 requests/minute\n","schema":{"type":"integer","minimum":1,"maximum":10000,"example":100}},"RateLimit-Remaining":{"description":"Number of requests remaining in the current window.\nDecreases with each request until reset. When this reaches 0, \nsubsequent requests will return 429 status code.\n","schema":{"type":"integer","minimum":0,"example":42}},"RateLimit-Reset":{"description":"Unix timestamp when the rate limit window resets.\nAfter this time, RateLimit-Remaining will be restored to RateLimit-Limit.\nUse this to calculate when you can make requests again.\n","schema":{"type":"integer","minimum":0,"example":1725955200}},"RateLimit-Policy":{"description":"Rate limiting policy in compact format.\nFormat: \"<limit>;<duration>\" where duration can be:\n- s = seconds, m = minutes, h = hours, d = days\n- Example: \"100;w=60\" = 100 requests per 60-second window\n","schema":{"type":"string","pattern":"^[0-9]+;[wsmhd]=[0-9]+$","example":"100;w=60"}}},"content":{"application/problem+json":{"schema":{"type":"object","description":"RFC 7807 Problem Details for HTTP APIs.\nA machine-readable format for specifying errors in HTTP API responses.\n","required":["type","title"],"properties":{"type":{"type":"string","format":"uri","description":"A URI reference that identifies the problem type. When dereferenced,\nit SHOULD provide human-readable documentation for the problem type.\n"},"title":{"type":"string","description":"A short, human-readable summary of the problem type. It SHOULD NOT change\nfrom occurrence to occurrence of the problem.\n"},"status":{"type":"integer","minimum":100,"maximum":599,"description":"The HTTP status code for this occurrence of the problem.\n"},"detail":{"type":"string","description":"A human-readable explanation specific to this occurrence of the problem.\n"},"instance":{"type":"string","format":"uri","description":"A URI reference that identifies the specific occurrence of the problem.\nIt may or may not yield further information if dereferenced.\n"},"code":{"type":"string","pattern":"^[A-Z_]+$","description":"Application-specific error code for programmatic error handling.\n"},"request_id":{"type":"string","description":"Unique identifier for this request, useful for debugging and support.\n"},"invalid_params":{"type":"array","description":"Details about invalid parameters for validation errors.\n","items":{"type":"object","required":["name","reason"],"properties":{"name":{"type":"string","description":"Name of the invalid parameter"},"reason":{"type":"string","description":"Reason why the parameter is invalid"}}}},"rate_limit":{"type":"object","description":"Rate limiting information for 429 errors.\n","properties":{"limit":{"type":"integer","description":"Maximum number of requests allowed"},"remaining":{"type":"integer","description":"Number of requests remaining in current window"},"reset_time":{"type":"string","format":"date-time","description":"Time when the rate limit resets"},"retry_after":{"type":"integer","description":"Seconds to wait before retrying"}}},"quota":{"type":"object","description":"Quota information for quota exceeded errors.\n","properties":{"limit":{"type":"integer","description":"Maximum quota allowed"},"used":{"type":"integer","description":"Amount of quota used"},"reset_time":{"type":"string","format":"date-time","description":"Time when the quota resets"}}},"retry_after":{"type":"integer","description":"Seconds to wait before retrying (for 503 Service Unavailable errors).\n"}},"additionalProperties":false},"examples":{"invalid_parameter":{"summary":"Invalid parameter format","value":{"type":"https://guardiansofthegreentoken.com/problems/validation-error","title":"Invalid Parameter Format","status":400,"detail":"The 'pair' parameter must match pattern '^[A-Z0-9]{2,10}$'. Received: 'invalid_pair'.","instance":"/api/invalid_pair/complete","code":"INVALID_PARAMETER","invalid_params":[{"name":"pair","reason":"Must be a valid trading pair symbol (2-10 uppercase alphanumeric characters)"}]}},"missing_required_field":{"summary":"Missing required field","value":{"type":"https://guardiansofthegreentoken.com/problems/validation-error","title":"Missing Required Field","status":400,"detail":"Required field 'signal_id' is missing from request body.","instance":"/api/ai/tracking/execution","code":"MISSING_REQUIRED_FIELD","invalid_params":[{"name":"signal_id","reason":"This field is required for tracking AI signal execution"}]}}}}}},"401":{"description":"Unauthorized - Invalid or missing API key","headers":{"WWW-Authenticate":{"description":"Authentication challenge","schema":{"type":"string","example":"ApiKey realm=\"CryptoSat API\""}},"RateLimit-Limit":{"description":"Maximum number of requests allowed in the current window.\nFormat: Integer representing the request limit (e.g., 100 for 100 requests per minute).\n\n**Rate Limiting Tiers:**\n- Basic: 60 requests/minute\n- Premium: 100 requests/minute  \n- Enterprise: 500 requests/minute\n","schema":{"type":"integer","minimum":1,"maximum":10000,"example":100}},"RateLimit-Remaining":{"description":"Number of requests remaining in the current window.\nDecreases with each request until reset. When this reaches 0, \nsubsequent requests will return 429 status code.\n","schema":{"type":"integer","minimum":0,"example":42}},"RateLimit-Reset":{"description":"Unix timestamp when the rate limit window resets.\nAfter this time, RateLimit-Remaining will be restored to RateLimit-Limit.\nUse this to calculate when you can make requests again.\n","schema":{"type":"integer","minimum":0,"example":1725955200}},"RateLimit-Policy":{"description":"Rate limiting policy in compact format.\nFormat: \"<limit>;<duration>\" where duration can be:\n- s = seconds, m = minutes, h = hours, d = days\n- Example: \"100;w=60\" = 100 requests per 60-second window\n","schema":{"type":"string","pattern":"^[0-9]+;[wsmhd]=[0-9]+$","example":"100;w=60"}}},"content":{"application/problem+json":{"schema":{"type":"object","description":"RFC 7807 Problem Details for HTTP APIs.\nA machine-readable format for specifying errors in HTTP API responses.\n","required":["type","title"],"properties":{"type":{"type":"string","format":"uri","description":"A URI reference that identifies the problem type. When dereferenced,\nit SHOULD provide human-readable documentation for the problem type.\n"},"title":{"type":"string","description":"A short, human-readable summary of the problem type. It SHOULD NOT change\nfrom occurrence to occurrence of the problem.\n"},"status":{"type":"integer","minimum":100,"maximum":599,"description":"The HTTP status code for this occurrence of the problem.\n"},"detail":{"type":"string","description":"A human-readable explanation specific to this occurrence of the problem.\n"},"instance":{"type":"string","format":"uri","description":"A URI reference that identifies the specific occurrence of the problem.\nIt may or may not yield further information if dereferenced.\n"},"code":{"type":"string","pattern":"^[A-Z_]+$","description":"Application-specific error code for programmatic error handling.\n"},"request_id":{"type":"string","description":"Unique identifier for this request, useful for debugging and support.\n"},"invalid_params":{"type":"array","description":"Details about invalid parameters for validation errors.\n","items":{"type":"object","required":["name","reason"],"properties":{"name":{"type":"string","description":"Name of the invalid parameter"},"reason":{"type":"string","description":"Reason why the parameter is invalid"}}}},"rate_limit":{"type":"object","description":"Rate limiting information for 429 errors.\n","properties":{"limit":{"type":"integer","description":"Maximum number of requests allowed"},"remaining":{"type":"integer","description":"Number of requests remaining in current window"},"reset_time":{"type":"string","format":"date-time","description":"Time when the rate limit resets"},"retry_after":{"type":"integer","description":"Seconds to wait before retrying"}}},"quota":{"type":"object","description":"Quota information for quota exceeded errors.\n","properties":{"limit":{"type":"integer","description":"Maximum quota allowed"},"used":{"type":"integer","description":"Amount of quota used"},"reset_time":{"type":"string","format":"date-time","description":"Time when the quota resets"}}},"retry_after":{"type":"integer","description":"Seconds to wait before retrying (for 503 Service Unavailable errors).\n"}},"additionalProperties":false},"examples":{"missing_api_key":{"summary":"Missing API key","value":{"type":"https://guardiansofthegreentoken.com/problems/authentication-required","title":"Authentication Required","status":401,"detail":"API key is required to access this resource. Include 'X-API-Key' header with your request.","instance":"/api/ai/enhanced-signal","code":"MISSING_API_KEY"}},"invalid_api_key":{"summary":"Invalid API key","value":{"type":"https://guardiansofthegreentoken.com/problems/authentication-failed","title":"Authentication Failed","status":401,"detail":"The provided API key is invalid or has been revoked.","instance":"/api/ai/enhanced-signal","code":"INVALID_API_KEY"}}}}}},"429":{"description":"Rate limit exceeded - RFC 7807 compliant","headers":{"RateLimit-Limit":{"description":"Maximum number of requests allowed in the current window.\nFormat: Integer representing the request limit (e.g., 100 for 100 requests per minute).\n\n**Rate Limiting Tiers:**\n- Basic: 60 requests/minute\n- Premium: 100 requests/minute  \n- Enterprise: 500 requests/minute\n","schema":{"type":"integer","minimum":1,"maximum":10000,"example":100}},"RateLimit-Remaining":{"description":"Number of requests remaining in the current window.\nDecreases with each request until reset. When this reaches 0, \nsubsequent requests will return 429 status code.\n","schema":{"type":"integer","minimum":0,"example":42}},"RateLimit-Reset":{"description":"Unix timestamp when the rate limit window resets.\nAfter this time, RateLimit-Remaining will be restored to RateLimit-Limit.\nUse this to calculate when you can make requests again.\n","schema":{"type":"integer","minimum":0,"example":1725955200}},"RateLimit-Policy":{"description":"Rate limiting policy in compact format.\nFormat: \"<limit>;<duration>\" where duration can be:\n- s = seconds, m = minutes, h = hours, d = days\n- Example: \"100;w=60\" = 100 requests per 60-second window\n","schema":{"type":"string","pattern":"^[0-9]+;[wsmhd]=[0-9]+$","example":"100;w=60"}},"Retry-After":{"description":"Seconds to wait before making another request (only in 429 responses).\nUse this value to implement exponential backoff in your retry logic.\n","schema":{"type":"integer","minimum":1,"maximum":3600,"example":60}}},"content":{"application/problem+json":{"schema":{"type":"object","description":"RFC 7807 Problem Details for HTTP APIs.\nA machine-readable format for specifying errors in HTTP API responses.\n","required":["type","title"],"properties":{"type":{"type":"string","format":"uri","description":"A URI reference that identifies the problem type. When dereferenced,\nit SHOULD provide human-readable documentation for the problem type.\n"},"title":{"type":"string","description":"A short, human-readable summary of the problem type. It SHOULD NOT change\nfrom occurrence to occurrence of the problem.\n"},"status":{"type":"integer","minimum":100,"maximum":599,"description":"The HTTP status code for this occurrence of the problem.\n"},"detail":{"type":"string","description":"A human-readable explanation specific to this occurrence of the problem.\n"},"instance":{"type":"string","format":"uri","description":"A URI reference that identifies the specific occurrence of the problem.\nIt may or may not yield further information if dereferenced.\n"},"code":{"type":"string","pattern":"^[A-Z_]+$","description":"Application-specific error code for programmatic error handling.\n"},"request_id":{"type":"string","description":"Unique identifier for this request, useful for debugging and support.\n"},"invalid_params":{"type":"array","description":"Details about invalid parameters for validation errors.\n","items":{"type":"object","required":["name","reason"],"properties":{"name":{"type":"string","description":"Name of the invalid parameter"},"reason":{"type":"string","description":"Reason why the parameter is invalid"}}}},"rate_limit":{"type":"object","description":"Rate limiting information for 429 errors.\n","properties":{"limit":{"type":"integer","description":"Maximum number of requests allowed"},"remaining":{"type":"integer","description":"Number of requests remaining in current window"},"reset_time":{"type":"string","format":"date-time","description":"Time when the rate limit resets"},"retry_after":{"type":"integer","description":"Seconds to wait before retrying"}}},"quota":{"type":"object","description":"Quota information for quota exceeded errors.\n","properties":{"limit":{"type":"integer","description":"Maximum quota allowed"},"used":{"type":"integer","description":"Amount of quota used"},"reset_time":{"type":"string","format":"date-time","description":"Time when the quota resets"}}},"retry_after":{"type":"integer","description":"Seconds to wait before retrying (for 503 Service Unavailable errors).\n"}},"additionalProperties":false},"examples":{"rate_limit_exceeded":{"summary":"Standard rate limit exceeded","description":"Standard rate limiting scenario with complete retry guidance.\n\n**Retry Strategy:**\n1. Respect the `Retry-After` header value\n2. Implement exponential backoff with jitter\n3. Monitor `RateLimit-Remaining` header to prevent hitting limits\n4. Consider upgrading to higher tier for increased limits\n\n**Example Retry Logic:**\n```javascript\nconst delay = parseInt(headers['Retry-After']) || 60;\nconst jitter = Math.random() * 1000; // Add randomness\nsetTimeout(retry, (delay * 1000) + jitter);\n```","value":{"type":"https://guardiansofthegreentoken.com/problems/rate-limit-exceeded","title":"Rate Limit Exceeded","status":429,"detail":"You have exceeded the rate limit of 100 requests per minute. Please wait 42 seconds before making another request. Consider implementing request batching or upgrading your plan for higher limits.","instance":"/api/ai/enhanced-signal","code":"RATE_LIMIT_EXCEEDED","rate_limit":{"limit":100,"remaining":0,"reset_time":"2025-09-15T02:30:00Z","retry_after":42,"policy":"100;w=60","tier":"premium"},"help":{"upgrade_url":"https://guardiansofthegreentoken.com/pricing","documentation":"https://docs.guardiansofthegreentoken.com/rate-limiting","best_practices":["Implement exponential backoff with jitter","Monitor RateLimit-Remaining header","Batch requests when possible","Cache responses to reduce API calls"]}}},"quota_exceeded":{"summary":"Daily quota exceeded","description":"Daily quota exceeded scenario with clear reset guidance.\n\n**Understanding Quotas:**\n- Daily quotas reset at midnight UTC\n- Separate from rate limits (requests per minute)\n- Track usage via X-Quota-Used and X-Quota-Remaining headers\n\n**Recovery Actions:**\n1. Wait for quota reset (shown in reset_time)\n2. Upgrade plan for higher daily limits\n3. Optimize requests by batching operations\n4. Implement request caching strategies","value":{"type":"https://guardiansofthegreentoken.com/problems/quota-exceeded","title":"Daily Quota Exceeded","status":429,"detail":"You have exceeded your daily quota of 1000 AI signal requests. Quota resets at midnight UTC. Consider upgrading your plan or implementing request optimization strategies.","instance":"/api/ai/enhanced-signal","code":"QUOTA_EXCEEDED","quota":{"limit":1000,"used":1000,"reset_time":"2025-09-16T00:00:00Z","tier":"premium","upgrade_available":true},"help":{"upgrade_url":"https://guardiansofthegreentoken.com/pricing","optimization_guide":"https://docs.guardiansofthegreentoken.com/quota-optimization","strategies":["Implement response caching for repeated queries","Batch multiple operations in single requests","Use webhooks instead of polling for real-time data","Filter requests to only essential data points"]}}}}}}},"500":{"description":"Generic error response using RFC 7807 Problem Details","headers":{"RateLimit-Limit":{"description":"Maximum number of requests allowed in the current window.\nFormat: Integer representing the request limit (e.g., 100 for 100 requests per minute).\n\n**Rate Limiting Tiers:**\n- Basic: 60 requests/minute\n- Premium: 100 requests/minute  \n- Enterprise: 500 requests/minute\n","schema":{"type":"integer","minimum":1,"maximum":10000,"example":100}},"RateLimit-Remaining":{"description":"Number of requests remaining in the current window.\nDecreases with each request until reset. When this reaches 0, \nsubsequent requests will return 429 status code.\n","schema":{"type":"integer","minimum":0,"example":42}},"RateLimit-Reset":{"description":"Unix timestamp when the rate limit window resets.\nAfter this time, RateLimit-Remaining will be restored to RateLimit-Limit.\nUse this to calculate when you can make requests again.\n","schema":{"type":"integer","minimum":0,"example":1725955200}},"RateLimit-Policy":{"description":"Rate limiting policy in compact format.\nFormat: \"<limit>;<duration>\" where duration can be:\n- s = seconds, m = minutes, h = hours, d = days\n- Example: \"100;w=60\" = 100 requests per 60-second window\n","schema":{"type":"string","pattern":"^[0-9]+;[wsmhd]=[0-9]+$","example":"100;w=60"}}},"content":{"application/problem+json":{"schema":{"type":"object","description":"RFC 7807 Problem Details for HTTP APIs.\nA machine-readable format for specifying errors in HTTP API responses.\n","required":["type","title"],"properties":{"type":{"type":"string","format":"uri","description":"A URI reference that identifies the problem type. When dereferenced,\nit SHOULD provide human-readable documentation for the problem type.\n"},"title":{"type":"string","description":"A short, human-readable summary of the problem type. It SHOULD NOT change\nfrom occurrence to occurrence of the problem.\n"},"status":{"type":"integer","minimum":100,"maximum":599,"description":"The HTTP status code for this occurrence of the problem.\n"},"detail":{"type":"string","description":"A human-readable explanation specific to this occurrence of the problem.\n"},"instance":{"type":"string","format":"uri","description":"A URI reference that identifies the specific occurrence of the problem.\nIt may or may not yield further information if dereferenced.\n"},"code":{"type":"string","pattern":"^[A-Z_]+$","description":"Application-specific error code for programmatic error handling.\n"},"request_id":{"type":"string","description":"Unique identifier for this request, useful for debugging and support.\n"},"invalid_params":{"type":"array","description":"Details about invalid parameters for validation errors.\n","items":{"type":"object","required":["name","reason"],"properties":{"name":{"type":"string","description":"Name of the invalid parameter"},"reason":{"type":"string","description":"Reason why the parameter is invalid"}}}},"rate_limit":{"type":"object","description":"Rate limiting information for 429 errors.\n","properties":{"limit":{"type":"integer","description":"Maximum number of requests allowed"},"remaining":{"type":"integer","description":"Number of requests remaining in current window"},"reset_time":{"type":"string","format":"date-time","description":"Time when the rate limit resets"},"retry_after":{"type":"integer","description":"Seconds to wait before retrying"}}},"quota":{"type":"object","description":"Quota information for quota exceeded errors.\n","properties":{"limit":{"type":"integer","description":"Maximum quota allowed"},"used":{"type":"integer","description":"Amount of quota used"},"reset_time":{"type":"string","format":"date-time","description":"Time when the quota resets"}}},"retry_after":{"type":"integer","description":"Seconds to wait before retrying (for 503 Service Unavailable errors).\n"}},"additionalProperties":false},"examples":{"server_error":{"summary":"Internal server error","value":{"type":"https://guardiansofthegreentoken.com/problems/server-error","title":"Internal Server Error","status":500,"detail":"An unexpected error occurred while processing your request. Our team has been notified.","instance":"/api/ai/enhanced-signal","code":"INTERNAL_ERROR","request_id":"req_1757901234567"}},"service_unavailable":{"summary":"Service temporarily unavailable","value":{"type":"https://guardiansofthegreentoken.com/problems/service-unavailable","title":"Service Temporarily Unavailable","status":503,"detail":"The AI signal engine is temporarily unavailable due to maintenance. Please try again in a few minutes.","instance":"/api/ai/enhanced-signal","code":"SERVICE_UNAVAILABLE","retry_after":300}}}}}}}}},"/api/{pair}/cvd":{"get":{"operationId":"getCVDAnalysis","summary":"Get Cumulative Volume Delta analysis for any pair","tags":["Volume Analysis"],"parameters":[{"name":"pair","in":"path","required":true,"description":"Trading pair symbol (e.g., BTC, ETH, SOL)","schema":{"type":"string","pattern":"^[A-Z0-9]{2,10}$"},"example":"ETH"}],"responses":{"200":{"description":"CVD analysis with divergence patterns","headers":{"RateLimit-Limit":{"description":"Maximum number of requests allowed in the current window.\nFormat: Integer representing the request limit (e.g., 100 for 100 requests per minute).\n\n**Rate Limiting Tiers:**\n- Basic: 60 requests/minute\n- Premium: 100 requests/minute  \n- Enterprise: 500 requests/minute\n","schema":{"type":"integer","minimum":1,"maximum":10000,"example":100}},"RateLimit-Remaining":{"description":"Number of requests remaining in the current window.\nDecreases with each request until reset. When this reaches 0, \nsubsequent requests will return 429 status code.\n","schema":{"type":"integer","minimum":0,"example":42}},"RateLimit-Reset":{"description":"Unix timestamp when the rate limit window resets.\nAfter this time, RateLimit-Remaining will be restored to RateLimit-Limit.\nUse this to calculate when you can make requests again.\n","schema":{"type":"integer","minimum":0,"example":1725955200}},"RateLimit-Policy":{"description":"Rate limiting policy in compact format.\nFormat: \"<limit>;<duration>\" where duration can be:\n- s = seconds, m = minutes, h = hours, d = days\n- Example: \"100;w=60\" = 100 requests per 60-second window\n","schema":{"type":"string","pattern":"^[0-9]+;[wsmhd]=[0-9]+$","example":"100;w=60"}}},"content":{"application/json":{"schema":{"type":"object","required":["success","data","timestamp"],"description":"Cumulative Volume Delta (CVD) analysis providing insights into buying vs selling pressure.\nTracks institutional order flow and detects divergences between price and volume.\n","properties":{"success":{"type":"boolean"},"data":{"type":"object","properties":{"timeframe":{"type":"string"},"current_analysis":{"type":"object","description":"Current CVD metrics and real-time data","properties":{"currentCVD":{"type":"number","description":"Current cumulative volume delta"},"previousCVD":{"type":"number","description":"Previous period CVD value"},"deltaChange":{"type":"number","description":"CVD change from previous period"},"percentageChange":{"type":"number"},"trend":{"type":"string","enum":["accumulation","distribution","neutral"]}}},"volume_profile":{"type":"object","description":"Volume distribution and order flow characteristics","properties":{"buy_volume":{"type":"number","description":"Total buy volume"},"sell_volume":{"type":"number","description":"Total sell volume"},"buy_sell_ratio":{"type":"number"},"aggressive_buyers":{"type":"number","description":"Market buy orders volume"},"aggressive_sellers":{"type":"number","description":"Market sell orders volume"},"passive_volume":{"type":"number","description":"Limit order volume"}}},"divergence_analysis":{"type":"object","description":"Price-CVD divergence detection and strength assessment","properties":{"divergence_present":{"type":"boolean"},"divergence_type":{"type":"string","enum":["bullish","bearish","none"]},"divergence_strength":{"type":"string","enum":["weak","moderate","strong"],"description":"Divergence strength (only present when divergence_present=true)"},"price_trend":{"type":"string","enum":["up","down","sideways"]},"cvd_trend":{"type":"string","enum":["up","down","sideways"]},"correlation_score":{"type":"number","minimum":-1,"maximum":1}}},"institutional_flow":{"type":"object","description":"Institutional money flow indicators","properties":{"flow_direction":{"type":"string","enum":["inflow","outflow","neutral"]},"flow_strength":{"type":"string","enum":["weak","moderate","strong"]},"large_order_ratio":{"type":"number"},"whale_activity":{"type":"string","enum":["high","medium","low"]}}},"market_impact":{"type":"object","description":"CVD impact on price action and market structure","properties":{"price_support_level":{"type":"number"},"price_resistance_level":{"type":"number"},"breakout_probability":{"type":"number","minimum":0,"maximum":100},"continuation_signal":{"type":"string","enum":["strong","moderate","weak","none"]}}},"confidence":{"type":"object","description":"Confidence levels for CVD analysis component
[...]
