openapi: 3.0.1
info:
  title: SOL Crypto Data Gateway API
  description: |
    Comprehensive Solana (SOL) trading data gateway providing real-time market data from OKX exchange.
    
    **Key Features:**
    - Real-time SOL-USDT price, volume, and market metrics
    - Multi-timeframe candlestick data (5m, 15m, 30m, 1H, 4H, 1D, 1W) 
    - 50-level order book depth with bid/ask spreads
    - Recent trades with buy/sell indicators
    - WebSocket streaming capabilities
    - System health and performance monitoring
    
    **Perfect for:**
    - Crypto market analysis and trading decisions
    - Technical analysis across multiple timeframes
    - Real-time market monitoring and alerts
    - Professional trading applications
  version: '2.0.0'
  contact:
    email: admin@guardiansofthegreentoken.com
servers:
  - url: https://guardiansofthegreentoken.com
paths:
  /api/sol/complete:
    get:
      operationId: getCompleteSOLData
      summary: Get comprehensive SOL trading data
      description: |
        Returns complete SOL-USDT trading data including:
        - Real-time ticker (price, volume, 24h change)
        - Multi-timeframe candlestick charts (500+ data points)
        - Order book with 50 levels of depth
        - Recent trades with market activity
        - Last update timestamp
      responses:
        '200':
          description: Complete SOL trading data
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      ticker:
                        type: object
                        properties:
                          symbol:
                            type: string
                            example: "SOL-USDT"
                          price:
                            type: string
                            example: "189.45"
                          volume24h:
                            type: string
                            example: "2450345.67"
                          change24h:
                            type: string
                            example: "2.35"
                          changePercent24h:
                            type: string
                            example: "1.26"
                          high24h:
                            type: string
                            example: "195.20"
                          low24h:
                            type: string
                            example: "185.80"
                      candles:
                        type: object
                        properties:
                          5m:
                            type: array
                            description: "5-minute candles (100 bars, 8+ hours)"
                            items:
                              $ref: '#/components/schemas/Candle'
                          15m:
                            type: array
                            description: "15-minute candles (96 bars, 24+ hours)"
                            items:
                              $ref: '#/components/schemas/Candle'
                          30m:
                            type: array
                            description: "30-minute candles (48 bars, 24+ hours)"
                            items:
                              $ref: '#/components/schemas/Candle'
                          1H:
                            type: array
                            description: "1-hour candles (72 bars, 3+ days)"
                            items:
                              $ref: '#/components/schemas/Candle'
                          4H:
                            type: array
                            description: "4-hour candles (42 bars, 7+ days)"
                            items:
                              $ref: '#/components/schemas/Candle'
                          1D:
                            type: array
                            description: "Daily candles (90 bars, 3+ months)"
                            items:
                              $ref: '#/components/schemas/Candle'
                          1W:
                            type: array
                            description: "Weekly candles (52 bars, 1+ year)"
                            items:
                              $ref: '#/components/schemas/Candle'
                      orderBook:
                        type: object
                        properties:
                          bids:
                            type: array
                            description: "50 levels of buy orders"
                            items:
                              type: array
                              items:
                                type: string
                              example: ["189.45", "125.67"]
                          asks:
                            type: array
                            description: "50 levels of sell orders"
                            items:
                              type: array
                              items:
                                type: string
                              example: ["189.50", "98.34"]
                      recentTrades:
                        type: array
                        description: "30 most recent trades"
                        items:
                          type: object
                          properties:
                            price:
                              type: string
                              example: "189.45"
                            size:
                              type: string
                              example: "12.5"
                            side:
                              type: string
                              enum: ["buy", "sell"]
                            timestamp:
                              type: string
                              example: "1756197000000"
                      lastUpdate:
                        type: string
                        format: date-time
                        example: "2025-08-26T08:30:00.000Z"
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /health:
    get:
      operationId: getSystemHealth
      summary: Get system health status
      description: Returns overall system health including API status, database connectivity, and performance metrics
      responses:
        '200':
          description: System health information
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      status:
                        type: string
                        enum: ["operational", "degraded", "down"]
                        example: "operational"
                      timestamp:
                        type: string
                        format: date-time
                      uptime:
                        type: number
                        example: 86400
                      version:
                        type: string
                        example: "2.0.0"

  /api/metrics:
    get:
      operationId: getSystemMetrics
      summary: Get system performance metrics
      description: Returns detailed system metrics including response times, request counts, and resource usage
      responses:
        '200':
          description: System performance metrics
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: "sys-001"
                      timestamp:
                        type: string
                        format: date-time
                      apiResponseTime:
                        type: number
                        example: 245
                      totalRequests:
                        type: number
                        example: 1547
                      successfulRequests:
                        type: number
                        example: 1520
                      failedRequests:
                        type: number
                        example: 27

components:
  schemas:
    Candle:
      type: object
      properties:
        timestamp:
          type: string
          example: "1756197000000"
        open:
          type: string
          example: "189.20"
        high:
          type: string
          example: "189.80"
        low:
          type: string
          example: "188.90"
        close:
          type: string
          example: "189.45"
        volume:
          type: string
          example: "1234.56"
    
    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: string
          example: "Internal server error"
        timestamp:
          type: string
          format: date-time