openapi: 3.0.3
info:
  title: CryptoSat Intelligence - Multi-Pair Trading Data Gateway API (GPTs Compat)
  description: |
    🛰️ CryptoSat Intelligence — GPTs-compatible OpenAPI with Production Stability.
    
    **🚀 PHASE 2.1: COINGLASS PREMIUM INTELLIGENCE (Sept 15, 2025):**
    - ✅ **CoinGlass Integration**: 11 premium institutional-grade analytics endpoints
    - ✅ **Whale Analytics**: Real-time whale detection and positioning intelligence (>$1M notional)
    - ✅ **Bitcoin ETF Intelligence**: Complete ETF flow tracking and institutional investment analysis
    - ✅ **Market Sentiment Engine**: Advanced sentiment scoring with fear & greed index analysis
    - ✅ **Technical Analysis Suite**: ATR volatility, liquidation heatmaps, orderbook depth analysis
    - ✅ **Options Intelligence**: Comprehensive options open interest analysis with gamma squeeze detection
    - ✅ **Self-Learning AI**: Auto-pattern confidence updates based on trading performance
    - ✅ **Performance Tracking**: Complete trading lifecycle tracking (execution → outcome → learning)
    - ✅ **Neural Networks**: 50 input features with 5-layer architecture
    - ✅ **Enhanced Analytics**: 32+ endpoint categories with institutional-grade analysis
    - ✅ **Dynamic Patterns**: 10 advanced patterns with 95% confidence detection
    
    **🧠 Phase 2 Enhanced AI Features:**
    - **ExecutionRecorder**: Self-learning system with pattern performance analytics
    - **Enhanced Signal Engine**: Neural network predictions with GPT-5 reasoning
    - **Performance APIs**: Win rate tracking, P&L analytics, confidence validation
    - **Adaptive Learning**: Pattern weights auto-adjust based on real trading results
    
    **🔧 GPTs Compatibility Features:**
    - Parameter **INLINE** (tanpa $ref) agar terbaca oleh GPT Actions
    - Single **ApiKey** security scheme (GPTs requirement)
    - Complete error handling dengan Problem Details & RateLimit headers
    - Real-time data dengan comprehensive validation
    
    **🚦 Rate Limiting & Pagination:**
    - **Standardized Headers**: Consistent RateLimit-* headers across all endpoints
    - **Cursor-based Pagination**: Efficient navigation with next/prev links in Link header
    - **Comprehensive Examples**: Real-world scenarios with retry logic guidance
    - **Developer-friendly Documentation**: Clear descriptions and usage patterns
    
    **📚 Developer Usage Examples:**
    
    **🔐 Security & Authentication Examples:**
    ```bash
    # ✅ Public Endpoints (No Authentication Required)
    curl "https://guardiansofthegreentoken.com/health"
    curl "https://guardiansofthegreentoken.com/api/pairs/supported"
    
    # 🔑 Read-Only Scope (Basic Market Data)
    curl -H "X-API-Key: your-read-only-key" \
         "https://guardiansofthegreentoken.com/api/btc/complete"
    curl -H "X-API-Key: your-read-only-key" \
         "https://guardiansofthegreentoken.com/api/eth/funding"
    
    # 🎯 Trading Scope (AI Signals & Advanced Features)
    curl -H "X-API-Key: your-trading-key" \
         "https://guardiansofthegreentoken.com/api/ai/signal"
    curl -H "X-API-Key: your-trading-key" \
         "https://guardiansofthegreentoken.com/api/ai/enhanced-signal"
    
    # 💎 Premium Scope (VIP8 Institutional Analytics)
    curl -H "X-API-Key: your-premium-key" \
         "https://guardiansofthegreentoken.com/api/premium/institutional-analytics"
    ```
    
    **🚦 Access Tier Overview:**
    ```
    Public Access    │ No API Key Required     │ Health checks, supported pairs
    ─────────────────┼─────────────────────────┼─────────────────────────────────
    Read-Only Scope  │ Basic API Key           │ Market data, technical analysis
                     │ 100 req/min            │ Funding rates, open interest
    ─────────────────┼─────────────────────────┼─────────────────────────────────
    Trading Scope    │ Premium API Key         │ AI signals, execution tracking
                     │ 500 req/min            │ Enhanced analysis, trading data
    ─────────────────┼─────────────────────────┼─────────────────────────────────
    Premium Scope    │ Enterprise API Key      │ VIP8 institutional analytics
                     │ 2000 req/min           │ Priority processing, advanced AI
    ```
    
    **⚡ Error Handling by Security Level:**
    ```javascript
    // Handle different authentication scenarios
    async function apiRequest(endpoint, options = {}) {
      const headers = {
        'Content-Type': 'application/json',
        ...options.headers
      };
      
      // Add API key for protected endpoints
      if (!endpoint.includes('/health') && !endpoint.includes('/pairs/supported')) {
        if (!process.env.API_KEY) {
          throw new Error('API key required for protected endpoint');
        }
        headers['X-API-Key'] = process.env.API_KEY;
      }
      
      const response = await fetch(endpoint, { ...options, headers });
      
      if (response.status === 401) {
        throw new Error('Invalid or missing API key');
      }
      if (response.status === 403) {
        throw new Error('Insufficient scope permissions for this endpoint');
      }
      if (response.status === 429) {
        const retryAfter = response.headers.get('Retry-After');
        throw new Error(\`Rate limit exceeded. Retry after \${retryAfter} seconds\`);
      }
      
      return response.json();
    }
    ```
    
    **Rate Limiting Headers:**
    ```
    RateLimit-Limit: 100          # Max requests per window
    RateLimit-Remaining: 42       # Requests left in current window  
    RateLimit-Reset: 1725955260   # Unix timestamp when window resets
    RateLimit-Policy: 100;w=60    # 100 requests per 60-second window
    Retry-After: 18               # Seconds to wait (only in 429 responses)
    ```
    
    **Pagination Example:**
    ```bash
    # First request
    curl -H "X-API-Key: your-key" \
         "https://guardiansofthegreentoken.com/api/btc/funding?limit=50"
    
    # Response includes Link header:
    # Link: </api/btc/funding?cursor=eyJwYWdlIjoyfQ&limit=50>; rel="next"
    
    # Next page request
    curl -H "X-API-Key: your-key" \
         "https://guardiansofthegreentoken.com/api/btc/funding?cursor=eyJwYWdlIjoyfQ&limit=50"
    ```
    
    **Error Handling with Exponential Backoff:**
    ```javascript
    async function apiCall(url, options, maxRetries = 3) {
      for (let i = 0; i <= maxRetries; i++) {
        const response = await fetch(url, options);
        
        if (response.status !== 429) return response;
        
        const retryAfter = response.headers.get('Retry-After') || Math.pow(2, i);
        await new Promise(resolve => setTimeout(resolve, retryAfter * 1000));
      }
      throw new Error('Max retries exceeded');
    }
    ```
  version: '5.2.0-gpts-coinglass'
  contact:
    email: admin@guardiansofthegreentoken.com
    url: https://guardiansofthegreentoken.com

servers:
  - url: https://guardiansofthegreentoken.com
    description: Production server with SSL

tags:
  # ===== CORE MARKET DATA =====
  - name: Market Data - Real-time
    description: |
      **🔴 Real-time Market Data Endpoints**
      
      Live market data, current prices, tickers, bid/ask spreads, and real-time market conditions.
      Essential for trading applications requiring up-to-the-second market information.
      
      **Use Cases:**
      - Live price feeds for trading interfaces
      - Real-time market monitoring
      - Current market condition assessment
      - Bid/ask spread analysis
      
      **Data Freshness:** Real-time (<1 second delay)
      **Rate Limits:** Higher limits for premium tiers
      **Caching:** Minimal caching for maximum freshness

  - name: Market Data - Multi-Pair
    description: |
      **📊 Multi-Pair Analysis & Cross-Asset Data**
      
      Comprehensive analysis across multiple trading pairs with cross-asset correlations,
      portfolio-level insights, and multi-pair screening capabilities.
      
      **Features:**
      - Complete analysis for 65+ supported pairs
      - Cross-pair correlation analysis
      - Multi-asset portfolio screening
      - Comparative market metrics
      
      **Supported Pairs:** BTC, ETH, SOL, ADA, AVAX, DOGE, and 60+ others
      **Analysis Depth:** Technical, fundamental, and sentiment analysis
      **Use Cases:** Portfolio management, pair trading, market screening

  - name: Market Data - Derivatives
    description: |
      **⚡ Derivatives & Futures Market Data**
      
      Specialized data for derivatives trading including funding rates, open interest,
      perpetual futures data, and institutional positioning metrics.
      
      **Key Metrics:**
      - Funding rates with predictions
      - Open interest trends and analysis
      - Liquidation levels and risk metrics
      - Institutional flow indicators
      
      **Data Sources:** Multi-exchange aggregation
      **Historical Data:** Full pagination support
      **Refresh Rate:** Every 8 hours for funding, real-time for OI

  # ===== TRADING ANALYSIS =====
  - name: Technical Analysis
    description: |
      **📈 Technical Indicators & Chart Analysis**
      
      Comprehensive technical analysis including RSI, MACD, Bollinger Bands, Moving Averages,
      and other technical indicators with trend detection and signal generation.
      
      **Indicators Available:**
      - RSI (14, 21 period) with overbought/oversold signals
      - MACD with histogram and crossover detection
      - Bollinger Bands with squeeze/expansion analysis
      - Moving Averages (SMA, EMA) with golden/death cross signals
      - Momentum and trend strength indicators
      
      **Signal Quality:** Professional-grade calculations
      **Timeframes:** Multiple timeframe analysis
      **Applications:** Entry/exit timing, trend confirmation

  - name: Smart Money Concepts
    description: |
      **🧠 Institutional Flow & Smart Money Analysis**
      
      Advanced Smart Money Concepts (SMC) analysis including institutional order flow,
      liquidity levels, order blocks, and smart money positioning indicators.
      
      **SMC Components:**
      - Order Blocks (OB) identification and validation
      - Fair Value Gaps (FVG) detection
      - Liquidity sweeps and stop hunts
      - Institutional order flow analysis
      - Change of Character (CHoCH) patterns
      
      **Accuracy:** 85%+ pattern recognition
      **Data Sources:** Multi-exchange order book analysis
      **Applications:** Professional trading, institutional positioning

  - name: Volume Analysis
    description: |
      **📦 Volume Profile & Order Flow Analysis**
      
      Advanced volume analysis including Cumulative Volume Delta (CVD), Volume Profile,
      Volume-Price Analysis (VPA), and order flow insights for professional trading.
      
      **Analysis Types:**
      - Cumulative Volume Delta (CVD) with divergence detection
      - Volume Profile with Point of Control (POC)
      - Volume-Price Analysis (VPA) patterns
      - Order flow imbalances and absorption
      - Volume momentum and accumulation/distribution
      
      **Precision:** Tick-level volume analysis
      **Divergence Detection:** AI-powered pattern recognition
      **Professional Features:** Institutional-grade volume analytics

  # ===== AI & MACHINE LEARNING =====
  - name: AI Signals - Standard
    description: |
      **🤖 AI-Powered Trading Signals (GPT-5)**
      
      Standard AI trading signals powered by GPT-5 with neural network pattern recognition,
      confidence scoring, and strategic trading recommendations.
      
      **AI Capabilities:**
      - GPT-5 powered market analysis
      - Pattern recognition and trend prediction
      - Confidence scoring (0-100%)
      - Risk analysis and position sizing
      - Entry/exit timing recommendations
      
      **Signal Types:** BUY, SELL, HOLD with strength indicators
      **Accuracy:** 70%+ win rate on backtested signals
      **Update Frequency:** Real-time signal generation

  - name: AI Signals - Enhanced
    description: |
      **🚀 Enhanced AI Engine with Neural Networks (Phase 2)**
      
      Advanced AI signal engine featuring 10 sophisticated patterns, 5-layer neural networks,
      self-learning capabilities, and institutional-grade pattern recognition.
      
      **Phase 2 Features:**
      - 50 input features with 5-layer neural architecture
      - 10 advanced patterns with 95%+ confidence detection
      - Self-learning pattern weight adjustments
      - Predictive institutional flow analysis
      - Neural network feature importance scoring
      
      **Patterns:** Institutional flow, breakout confirmation, momentum continuation
      **Learning System:** Auto-adjusting confidence based on trading performance
      **Precision:** Sub-second pattern detection with risk-reward optimization

  - name: AI Performance
    description: |
      **📊 AI Performance Tracking & Learning Analytics (Phase 2)**
      
      Comprehensive performance tracking for AI signals including execution recording,
      outcome analysis, and self-learning system metrics for continuous improvement.
      
      **Tracking Features:**
      - Signal execution recording with entry/exit tracking
      - P&L analysis and win rate calculations
      - Pattern performance analytics and confidence adjustments
      - Learning velocity and adaptation metrics
      - Trade outcome recording (stop loss, take profit, manual exits)
      
      **Analytics Depth:** Full trading lifecycle tracking
      **Learning System:** Real-time pattern confidence updates
      **Performance Metrics:** Sharpe ratio, max drawdown, risk-adjusted returns

  # ===== PREMIUM & ADVANCED =====
  - name: Premium Analytics
    description: |
      **💎 VIP8 Institutional-Grade Analytics**
      
      Premium institutional analytics with VIP8 tier features including ultra-premium analysis,
      negative maker fees simulation, and advanced institutional metrics.
      
      **VIP8 Features:**
      - Ultra-premium analysis with priority processing
      - Negative maker fees simulation for optimal execution
      - Advanced whale activity and institutional flow tracking
      - Priority data access and enhanced rate limits
      - Institutional-grade risk management tools
      
      **Access Level:** Premium subscribers only
      **Data Quality:** Institutional-grade accuracy
      **Processing Priority:** Sub-second response times

  - name: Enhanced Features
    description: |
      **⭐ Enhanced Analysis & Specialized Tools**
      
      Advanced analysis tools including enhanced SOL-specific features, confluence scoring,
      multi-timeframe analysis, and specialized trading tools for professional traders.
      
      **Enhanced Tools:**
      - SOL-specific enhanced open interest and funding analysis
      - Multi-indicator confluence scoring with trend strength
      - Live trading signals with precise entry/exit points
      - Enhanced volume profile with institutional positioning
      - Advanced Fibonacci analysis and market structure
      
      **Specialization:** SOL ecosystem focus with multi-asset support
      **Precision:** Professional-grade analysis tools
      **Integration:** TradingView compatible signals

  # ===== COINGLASS PREMIUM INTELLIGENCE =====
  - name: CoinGlass - Whale Analytics
    description: |
      **🐋 CoinGlass Whale Detection & Positioning Intelligence**
      
      Real-time whale alerts and institutional positioning data for large trades (>$1M notional value).
      Professional whale tracking with precise position sizing and unrealized P&L analysis.
      
      **Features:**
      - Real-time whale alerts across major exchanges
      - Institutional position sizing and tracking
      - Unrealized P&L analysis for whale positions
      - Exchange-specific whale activity filtering
      - Position side filtering (long/short analysis)
      
      **Data Sources:** Binance, OKX, Hyperliquid, Bybit, Deribit
      **Update Frequency:** Real-time whale detection
      **Threshold:** >$1M notional value positions

  - name: CoinGlass - ETF Intelligence  
    description: |
      **💰 Bitcoin ETF Flow Analysis & Institutional Intelligence**
      
      Comprehensive Bitcoin ETF flow tracking with historical analysis and institutional 
      inflow/outflow data. Complete coverage of all major Bitcoin ETFs with AUM and NAV metrics.
      
      **ETF Features:**
      - Historical Bitcoin ETF flow data with customizable periods
      - Complete Bitcoin ETF listings with AUM, NAV, and pricing
      - Institutional inflow/outflow analysis and trends
      - Total market AUM tracking across all Bitcoin ETFs
      - Net flow calculations and period summaries
      
      **Coverage:** All major Bitcoin ETFs (IBIT, FBTC, ARKB, etc.)
      **Historical Data:** Up to 365 days
      **Metrics:** AUM, NAV, pricing, flow metrics

  - name: CoinGlass - Market Intelligence
    description: |
      **📊 Advanced Market Sentiment & Asset Intelligence**
      
      Professional market sentiment analysis with fear & greed index, futures performance,
      and comprehensive cryptocurrency coverage with feature availability mapping.
      
      **Intelligence Features:**
      - Advanced market sentiment scoring with institutional indicators
      - Fear & greed index with futures performance metrics
      - Complete list of supported cryptocurrencies (150+ assets)
      - Feature availability mapping (funding rates, OI, liquidations)
      - Exchange coverage mapping for each asset
      
      **Sentiment Metrics:** Fear & greed index, institutional sentiment
      **Asset Coverage:** 150+ cryptocurrencies
      **Exchange Coverage:** Multi-exchange aggregation

  - name: CoinGlass - Technical Analysis
    description: |
      **📈 CoinGlass ATR Volatility & Real-Time Price Intelligence**
      
      Advanced Technical Range (ATR) volatility analysis with multiple timeframes and
      real-time ticker data including comprehensive market statistics and indicators.
      
      **Technical Features:**
      - ATR volatility calculations with customizable periods
      - Multiple timeframe analysis (5m to 1D)
      - Real-time ticker data with market statistics
      - Volatility level classification (low/medium/high)
      - Price change analysis and market cap tracking
      
      **Timeframes:** 5m, 15m, 30m, 1H, 4H, 1D
      **Volatility Analysis:** ATR percentage and classification
      **Real-time Data:** Price, volume, changes, market cap

  - name: CoinGlass - Advanced Analytics
    description: |
      **🎯 Liquidation Clusters, Orderbook Depth & Options Intelligence**
      
      Professional-grade liquidation heatmaps, deep spot orderbook analysis, and comprehensive 
      options open interest tracking with strike price distribution and expiration analysis.
      
      **Advanced Features:**
      - Liquidation cluster heatmaps with risk level analysis
      - Deep spot market orderbook with liquidity distribution
      - Options open interest with call/put ratios
      - Strike price distribution and expiration analysis
      - Market depth analysis with spread calculations
      
      **Liquidation Analysis:** Risk levels, volumes, price ranges
      **Orderbook Depth:** Configurable levels (5-100)
      **Options Coverage:** Call/put ratios, strike distribution

  # ===== SYSTEM & INFRASTRUCTURE =====
  - name: System Monitoring
    description: |
      **🔧 System Health & API Monitoring**
      
      System health endpoints, API status monitoring, performance metrics,
      and infrastructure monitoring for API reliability and performance tracking.
      
      **Monitoring Features:**
      - Real-time system health and uptime monitoring
      - API performance metrics and response times
      - Rate limit status and quota tracking
      - Memory usage and system resource monitoring
      - Error tracking and alert systems
      
      **Reliability:** 99.9% uptime SLA
      **Monitoring Frequency:** Real-time with sub-second updates
      **Use Cases:** API health checks, performance optimization, debugging

security:
  - ApiKeyAuth: ["read-only"]

paths:
  /api/pairs/supported:
    get:
      operationId: getSupportedTradingPairs
      summary: Get all supported trading pairs (Public Access)
      description: "🔓 Public endpoint returning 65+ supported cryptocurrency trading pairs. Includes major cryptos (BTC, ETH, SOL), DeFi tokens (UNI, AAVE), Layer 2 (MATIC, ARB), and meme coins (SHIB, PEPE). No authentication required."
      tags: [Market Data - Multi-Pair]
      security: []
      responses:
        '200':
          description: List of supported trading pairs
          headers:
            RateLimit-Limit: { $ref: '#/components/headers/RateLimit-Limit' }
            RateLimit-Remaining: { $ref: '#/components/headers/RateLimit-Remaining' }
            RateLimit-Reset: { $ref: '#/components/headers/RateLimit-Reset' }
            RateLimit-Policy: { $ref: '#/components/headers/RateLimit-Policy' }
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
                  data:
                    type: object
                    properties:
                      pairs:
                        type: array
                        items: { type: string }
                        example: ["BTC","ETH","SOL","ADA","AVAX","DOGE","UNI","MATIC","LTC","BCH","RENDER","BNB"]
                  timestamp: { type: string, format: date-time, example: "2025-09-06T14:30:00Z" }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ProblemResponse'

  /api/{pair}/complete:
    get:
      operationId: getCompleteAnalysis
      summary: Get comprehensive trading data for any supported pair
      tags: [Market Data - Multi-Pair]
      parameters:
        - name: pair
          in: path
          required: true
          description: Trading pair symbol - supports all 65+ pairs (BTC, ETH, SOL, ADA, etc.)
          schema:
            type: string
            pattern: '^[A-Za-z0-9]{2,10}$'
            enum: [BTC, ETH, SOL, ADA, DOT, MATIC, LTC, BCH, ETC, LINK, UNI, AAVE, ATOM, XRP, DOGE, SHIB, AVAX, FTM, NEAR, ALGO, MANA, SAND, AXS, ENJ, CRV, COMP, MKR, YFI, SUSHI, 1INCH, BAT, ZRX, KNC, LRC, REN, STORJ, GRT, FIL, AR, THETA, ICP, EGLD, HBAR, VET, CHZ, ENS, IMX, GMT, APE, GALA, LOOKS, MAGIC, OP, ARB, BLUR, SUI, PEPE, FLOKI, BONK, WIF, BOME, POPCAT, MEW, RENDER, BNB]
          example: BTC
      responses:
        '200':
          description: Complete trading data for the specified pair
          headers:
            RateLimit-Limit: { $ref: '#/components/headers/RateLimit-Limit' }
            RateLimit-Remaining: { $ref: '#/components/headers/RateLimit-Remaining' }
            RateLimit-Reset: { $ref: '#/components/headers/RateLimit-Reset' }
            RateLimit-Policy: { $ref: '#/components/headers/RateLimit-Policy' }
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompleteAnalysisResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/ProblemResponse' }

  /api/{pair}/smc:
    get:
      operationId: getSmartMoneyConcepts
      summary: Get Smart Money Concepts analysis for any pair
      tags: [Smart Money Concepts]
      parameters:
        - name: pair
          in: path
          required: true
          description: Trading pair symbol (e.g., BTC, ETH, SOL)
          schema:
            type: string
            pattern: '^[A-Z0-9]{2,10}$'
          example: BTC
      responses:
        '200':
          description: Smart Money Concepts analysis
          headers:
            RateLimit-Limit: { $ref: '#/components/headers/RateLimit-Limit' }
            RateLimit-Remaining: { $ref: '#/components/headers/RateLimit-Remaining' }
            RateLimit-Reset: { $ref: '#/components/headers/RateLimit-Reset' }
            RateLimit-Policy: { $ref: '#/components/headers/RateLimit-Policy' }
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SMCAnalysisResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/ProblemResponse' }

  /api/{pair}/cvd:
    get:
      operationId: getCVDAnalysis
      summary: Get Cumulative Volume Delta analysis for any pair
      tags: [Volume Analysis]
      parameters:
        - name: pair
          in: path
          required: true
          description: Trading pair symbol (e.g., BTC, ETH, SOL)
          schema:
            type: string
            pattern: '^[A-Z0-9]{2,10}$'
          example: ETH
      responses:
        '200':
          description: CVD analysis with divergence patterns
          headers:
            RateLimit-Limit: { $ref: '#/components/headers/RateLimit-Limit' }
            RateLimit-Remaining: { $ref: '#/components/headers/RateLimit-Remaining' }
            RateLimit-Reset: { $ref: '#/components/headers/RateLimit-Reset' }
            RateLimit-Policy: { $ref: '#/components/headers/RateLimit-Policy' }
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CVDAnalysisResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/ProblemResponse' }

  /api/{pair}/technical:
    get:
      operationId: getTechnicalIndicators
      summary: Get technical indicators analysis for any pair
      tags: [Technical Analysis]
      parameters:
        - name: pair
          in: path
          required: true
          description: Trading pair symbol (e.g., BTC, ETH, SOL)
          schema:
            type: string
            pattern: '^[A-Z0-9]{2,10}$'
          example: SOL
      responses:
        '200':
          description: Technical indicators analysis
          headers:
            RateLimit-Limit: { $ref: '#/components/headers/RateLimit-Limit' }
            RateLimit-Remaining: { $ref: '#/components/headers/RateLimit-Remaining' }
            RateLimit-Reset: { $ref: '#/components/headers/RateLimit-Reset' }
            RateLimit-Policy: { $ref: '#/components/headers/RateLimit-Policy' }
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TechnicalAnalysisResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/ProblemResponse' }

  /api/{pair}/funding:
    get:
      operationId: getFundingRates
      summary: Get funding rates for any pair (Read-Only Access)
      description: "🔒 Protected endpoint for perpetual contract funding rates. Supports pagination and historical data. Requires read-only scope or higher. Rate limits: 100 req/min (Basic), 500 req/min (Premium)."
      tags: [Market Data - Derivatives]
      security:
        - ApiKeyAuth: ["read-only"]
      parameters:
        - name: pair
          in: path
          required: true
          description: Trading pair symbol (e.g., BTC, ETH, SOL)
          schema: { type: string, pattern: '^[A-Z0-9]{2,10}$' }
          example: BTC
        - name: start
          in: query
          description: RFC3339 start time (inclusive)
          required: false
          schema: { type: string, format: date-time }
        - name: end
          in: query
          description: RFC3339 end time (exclusive)
          required: false
          schema: { type: string, format: date-time }
        - name: limit
          in: query
          description: Page size (default 100, max 1000)
          required: false
          schema: { type: integer, minimum: 1, maximum: 1000, default: 100 }
        - name: cursor
          in: query
          description: Opaque cursor for pagination
          required: false
          schema: { type: string }
      responses:
        '200':
          description: Funding rates data (current or historical)
          headers:
            RateLimit-Limit: { $ref: '#/components/headers/RateLimit-Limit' }
            RateLimit-Remaining: { $ref: '#/components/headers/RateLimit-Remaining' }
            RateLimit-Reset: { $ref: '#/components/headers/RateLimit-Reset' }
            RateLimit-Policy: { $ref: '#/components/headers/RateLimit-Policy' }
            Link: { $ref: '#/components/headers/Link' }
            X-Total-Count: { $ref: '#/components/headers/X-Total-Count' }
            X-Page-Info: { $ref: '#/components/headers/X-Page-Info' }
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundingRateResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/ProblemResponse' }

  /api/{pair}/open-interest:
    get:
      operationId: getOpenInterest
      summary: Get open interest data for any pair
      description: Current open interest data and historical changes
      tags: [Market Data - Derivatives]
      parameters:
        - name: pair
          in: path
          required: true
          description: Trading pair symbol (e.g., BTC, ETH, SOL)
          schema: { type: string, pattern: '^[A-Z0-9]{2,10}$' }
          example: ETH
        - name: start
          in: query
          description: RFC3339 start time (inclusive)
          required: false
          schema: { type: string, format: date-time }
        - name: end
          in: query
          description: RFC3339 end time (exclusive)
          required: false
          schema: { type: string, format: date-time }
        - name: limit
          in: query
          description: Page size (default 100, max 1000)
          required: false
          schema: { type: integer, minimum: 1, maximum: 1000, default: 100 }
        - name: cursor
          in: query
          description: Opaque cursor for pagination
          required: false
          schema: { type: string }
      responses:
        '200':
          description: Open interest data (current or historical)
          headers:
            RateLimit-Limit: { $ref: '#/components/headers/RateLimit-Limit' }
            RateLimit-Remaining: { $ref: '#/components/headers/RateLimit-Remaining' }
            RateLimit-Reset: { $ref: '#/components/headers/RateLimit-Reset' }
            RateLimit-Policy: { $ref: '#/components/headers/RateLimit-Policy' }
            Link: { $ref: '#/components/headers/Link' }
            X-Total-Count: { $ref: '#/components/headers/X-Total-Count' }
            X-Page-Info: { $ref: '#/components/headers/X-Page-Info' }
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenInterestResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/ProblemResponse' }

  /api/ai/signal:
    get:
      operationId: getAISignal
      summary: Get AI-powered trading signal with GPT-5 analysis
      description: "🔒 AI trading signal with GPT-5 neural network pattern recognition. Provides confidence scoring, risk analysis, and strategic recommendations. Requires trading scope. 500 req/min (Premium), 100 req/min (Basic)."
      tags: [AI Signals - Standard]
      security:
        - ApiKeyAuth: ["trading"]
      responses:
        '200':
          description: AI-generated trading signal with confidence metrics
          headers:
            RateLimit-Limit: { $ref: '#/components/headers/RateLimit-Limit' }
            RateLimit-Remaining: { $ref: '#/components/headers/RateLimit-Remaining' }
            RateLimit-Reset: { $ref: '#/components/headers/RateLimit-Reset' }
            RateLimit-Policy: { $ref: '#/components/headers/RateLimit-Policy' }
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
                  data:
                    type: object
                    properties:
                      signal_id: { type: string, pattern: "^[a-z_]+_[0-9]+$", example: "ai_neutral_1757326331517" }
                      timestamp: { type: string, format: date-time, example: "2025-09-08T10:12:11.517Z" }
                      signal_type: { type: string, enum: ["buy", "sell", "hold"], example: "hold" }
                      direction: { type: string, enum: ["bullish", "bearish", "neutral"], example: "neutral" }
                      strength: { type: number, minimum: 0, maximum: 100, example: 0 }
                      confidence: { type: number, minimum: 0, maximum: 100, example: 50 }
                      source_patterns: { type: array, items: { type: string }, example: [] }
                      reasoning: { type: string, example: "Market conditions show mixed signals with low conviction" }
                      risk_analysis:
                        type: object
                        properties:
                          risk_level: { type: string, enum: ["low", "medium", "high"], example: "medium" }
                          recommendation: { type: string, example: "Wait for clearer directional signals" }
                  timestamp: { type: string, format: date-time, example: "2025-09-08T10:12:11.517Z" }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/ProblemResponse' }

  /api/ai/enhanced-signal:
    get:
      operationId: getEnhancedAISignal
      summary: Get Enhanced AI signal with 10 advanced patterns (Phase 2)
      description: "🔒 Enhanced AI signal with 10 advanced patterns, neural networks, and self-learning. Auto-updates confidence based on trading performance. Trading scope required. 500 req/min (Premium), 100 req/min (Basic)."
      tags: [AI Signals - Enhanced]
      security:
        - ApiKeyAuth: ["trading"]
      parameters:
        - name: symbol
          in: query
          description: Trading pair symbol (default SOL-USDT-SWAP)
          required: false
          schema:
            type: string
            example: "SOL-USDT-SWAP"
      responses:
        '200':
          description: Enhanced AI signal with advanced patterns and neural predictions
          headers:
            RateLimit-Limit: { $ref: '#/components/headers/RateLimit-Limit' }
            RateLimit-Remaining: { $ref: '#/components/headers/RateLimit-Remaining' }
            RateLimit-Reset: { $ref: '#/components/headers/RateLimit-Reset' }
            RateLimit-Policy: { $ref: '#/components/headers/RateLimit-Policy' }
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
                  data:
                    type: object
                    properties:
                      signal_id: { type: string, example: "enhanced_ai_1757468621438" }
                      symbol: { type: string, example: "SOL-USDT-SWAP" }
                      timestamp: { type: string, format: date-time, example: "2025-09-10T01:46:21.438Z" }
                      direction: { type: string, enum: ["long", "short", "neutral"], example: "neutral" }
                      strength: { type: number, minimum: 0, maximum: 100, example: 62 }
                      confidence: { type: number, minimum: 0, maximum: 100, example: 59 }
                      detected_patterns:
                        type: array
                        items:
                          type: object
                          properties:
                            id: { type: string, example: "predictive_institutional_flow" }
                            name: { type: string, example: "Predictive Institutional Flow" }
                            confidence: { type: number, example: 0.95 }
                            historical_accuracy: { type: number, example: 0.78 }
                            risk_reward_ratio: { type: number, example: 2.5 }
                        example: [{"id": "predictive_institutional_flow", "name": "Predictive Institutional Flow", "confidence": 0.95}]
                      neural_prediction:
                        type: object
                        properties:
                          neural_confidence: { type: number, example: 0.48 }
                          neural_features: { type: array, items: { type: number }, example: [0.12, 0.45, 0.78] }
                          feature_importance: { type: array, items: { type: number }, example: [0.85, 0.72, 0.91] }
                      reasoning:
                        type: object
                        properties:
                          primary_factors: { type: array, items: { type: string }, example: ["Neural confidence: 48%", "Pattern confluence: 70.6%"] }
                          supporting_evidence: { type: array, items: { type: string }, example: ["10 patterns detected", "High institutional confidence"] }
                          risk_factors: { type: array, items: { type: string }, example: ["Mixed market signals", "Moderate volatility"] }
                          market_context: { type: string, example: "SOL trading in consolidation range with institutional interest" }
                      execution_details:
                        type: object
                        properties:
                          recommended_size: { type: number, example: 0.02 }
                          stop_loss: { type: number, example: 0.025 }
                          take_profit: { type: array, items: { type: number }, example: [0.05, 0.08] }
                          optimal_entry_window: { type: string, example: "2-4 hours" }
                      pattern_confluence: { type: number, example: 70.6 }
                      pattern_count: { type: number, example: 10 }
                  timestamp: { type: string, format: date-time, example: "2025-09-10T01:46:21.438Z" }
                example:
                  success: true
                  data:
                    signal_id: "enhanced_ai_1757468621438"
                    symbol: "SOL-USDT-SWAP"
                    timestamp: "2025-09-10T01:46:21.438Z"
                    direction: "neutral"
                    strength: 62
                    confidence: 59
                    detected_patterns:
                      - id: "predictive_institutional_flow"
                        name: "Predictive Institutional Flow"
                        confidence: 0.95
                        historical_accuracy: 0.78
                        risk_reward_ratio: 2.5
                    neural_prediction:
                      neural_confidence: 0.48
                      neural_features: [0.12, 0.45, 0.78]
                      feature_importance: [0.85, 0.72, 0.91]
                    reasoning:
                      primary_factors: ["Neural confidence: 48%", "Pattern confluence: 70.6%"]
                      supporting_evidence: ["10 patterns detected", "High institutional confidence"]
                      risk_factors: ["Mixed market signals", "Moderate volatility"]
                      market_context: "SOL trading in consolidation range with institutional interest"
                    execution_details:
                      recommended_size: 0.02
                      stop_loss: 0.025
                      take_profit: [0.05, 0.08]
                      optimal_entry_window: "2-4 hours"
                    pattern_confluence: 70.6
                    pattern_count: 10
                  timestamp: "2025-09-10T01:46:21.438Z"
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/ProblemResponse' }

  /api/ai/enhanced-performance:
    get:
      operationId: getEnhancedAIPerformance
      summary: Get Enhanced AI neural network performance metrics (Phase 2)
      description: |
        Enhanced AI performance analytics including neural network metrics,
        pattern performance, and learning capabilities overview.
      tags: [AI Signals - Enhanced]
      responses:
        '200':
          description: Enhanced AI performance and neural network metrics
          headers:
            RateLimit-Limit: { $ref: '#/components/headers/RateLimit-Limit' }
            RateLimit-Remaining: { $ref: '#/components/headers/RateLimit-Remaining' }
            RateLimit-Reset: { $ref: '#/components/headers/RateLimit-Reset' }
            RateLimit-Policy: { $ref: '#/components/headers/RateLimit-Policy' }
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
                  data:
                    type: object
                    properties:
                      neural_network:
                        type: object
                        properties:
                          input_features: { type: number, example: 50 }
                          hidden_layers: { type: number, example: 5 }
                          architecture: { type: string, example: "Dense layers with dropout regularization" }
                          prediction_accuracy: { type: number, example: 0.74 }
                      enhanced_patterns:
                        type: array
                        items:
                          type: object
                          properties:
                            pattern_id: { type: string, example: "predictive_institutional_flow" }
                            name: { type: string, example: "Predictive Institutional Flow" }
                            confidence: { type: number, example: 0.95 }
                            historical_accuracy: { type: number, example: 0.78 }
                            signals_generated: { type: number, example: 142 }
                        example: [{"pattern_id": "predictive_institutional_flow", "name": "Predictive Institutional Flow", "confidence": 0.95}]
                      learning_capabilities:
                        type: object
                        properties:
                          auto_pattern_updates: { type: boolean, example: true }
                          performance_tracking: { type: boolean, example: true }
                          confidence_adjustments: { type: boolean, example: true }
                          neural_adaptation: { type: boolean, example: true }
                      openai_integration:
                        type: object
                        properties:
                          gpt_model: { type: string, example: "GPT-5" }
                          enhanced_reasoning: { type: boolean, example: true }
                          status: { type: string, example: "active" }
                  timestamp: { type: string, format: date-time, example: "2025-09-10T01:46:21.438Z" }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/ProblemResponse' }

  /api/ai/tracking/execution:
    post:
      operationId: recordAITradeExecution
      summary: Record AI signal execution for performance tracking (Phase 2)
      description: "Record AI signal execution details for performance tracking. Enables self-learning system to update pattern confidence. Requires signal_id, entry_price, position_size. Trading scope required."
      tags: [AI Performance]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [signal_id, entry_price, position_size]
              properties:
                signal_id: { type: string, example: "enhanced_ai_1757468621438" }
                entry_price: { type: number, example: 215.50 }
                position_size: { type: number, example: 100 }
                stop_loss: { type: number, example: 210.25 }
                take_profit_1: { type: number, example: 225.30 }
                take_profit_2: { type: number, example: 235.50 }
                risk_amount: { type: number, example: 525.00 }
                execution_type: { type: string, enum: ["manual", "auto", "paper"], example: "manual" }
            examples:
              manual_execution:
                summary: Manual trade execution with stop loss and take profits
                description: Standard manual execution with risk management levels
                value:
                  signal_id: "enhanced_ai_1757468621438"
                  entry_price: 215.50
                  position_size: 100
                  stop_loss: 210.25
                  take_profit_1: 225.30
                  take_profit_2: 235.50
                  risk_amount: 525.00
                  execution_type: "manual"
              automated_execution:
                summary: Automated execution via trading bot
                description: Automated execution with higher position size
                value:
                  signal_id: "enhanced_ai_1757468621438"
                  entry_price: 218.75
                  position_size: 500
                  stop_loss: 212.00
                  take_profit_1: 230.00
                  take_profit_2: 240.50
                  risk_amount: 3375.00
                  execution_type: "auto"
              paper_trading:
                summary: Paper trading execution for testing
                description: Paper trading execution without real money
                value:
                  signal_id: "enhanced_ai_1757468621438"
                  entry_price: 219.20
                  position_size: 1000
                  stop_loss: 210.00
                  take_profit_1: 235.00
                  risk_amount: 9200.00
                  execution_type: "paper"
              minimal_execution:
                summary: Minimal execution with required fields only
                description: Basic execution with only mandatory fields
                value:
                  signal_id: "enhanced_ai_1757468621438"
                  entry_price: 216.80
                  position_size: 50
      responses:
        '200':
          description: Execution recorded successfully
          headers:
            RateLimit-Limit: { $ref: '#/components/headers/RateLimit-Limit' }
            RateLimit-Remaining: { $ref: '#/components/headers/RateLimit-Remaining' }
            RateLimit-Reset: { $ref: '#/components/headers/RateLimit-Reset' }
            RateLimit-Policy: { $ref: '#/components/headers/RateLimit-Policy' }
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
                  data:
                    type: object
                    properties:
                      execution_id: { type: string, pattern: "^exec_[0-9]+$", example: "exec_1757469123456" }
                      signal_id: { type: string, example: "enhanced_ai_1757468621438" }
                      status: { type: string, example: "recorded" }
                      execution_details:
                        type: object
                        properties:
                          entry_price: { type: number, example: 215.50 }
                          position_size: { type: number, example: 100 }
                          risk_amount: { type: number, example: 525.00 }
                          risk_reward_ratio: { type: number, example: 2.84 }
                          expected_profit: { type: number, example: 980.00 }
                      tracking_enabled: { type: boolean, example: true }
                      next_steps: 
                        type: array
                        items: { type: string }
                        example: ["Monitor position", "Record outcome when trade closes", "Pattern learning will update automatically"]
                  message: { type: string, example: "Trade execution recorded successfully. Performance tracking enabled." }
                  timestamp: { type: string, format: date-time, example: "2025-09-10T01:46:21.438Z" }
              examples:
                success_manual:
                  summary: Successful manual execution recording
                  description: Manual execution recorded with full tracking details
                  value:
                    success: true
                    data:
                      execution_id: "exec_1757469123456"
                      signal_id: "enhanced_ai_1757468621438"
                      status: "recorded"
                      execution_details:
                        entry_price: 215.50
                        position_size: 100
                        risk_amount: 525.00
                        risk_reward_ratio: 2.84
                        expected_profit: 980.00
                      tracking_enabled: true
                      next_steps: ["Monitor position", "Record outcome when trade closes", "Pattern learning will update automatically"]
                    message: "Trade execution recorded successfully. Performance tracking enabled."
                    timestamp: "2025-09-10T01:46:21.438Z"
                success_automated:
                  summary: Successful automated execution recording
                  description: Automated execution with larger position size
                  value:
                    success: true
                    data:
                      execution_id: "exec_1757469987654"
                      signal_id: "enhanced_ai_1757468621438"
                      status: "recorded"
                      execution_details:
                        entry_price: 218.75
                        position_size: 500
                        risk_amount: 3375.00
                        risk_reward_ratio: 3.12
                        expected_profit: 5625.00
                      tracking_enabled: true
                      next_steps: ["Automated monitoring active", "Stop-loss at 212.00", "Take-profit levels: 230.00, 240.50"]
                    message: "Automated execution recorded successfully. Bot monitoring enabled."
                    timestamp: "2025-09-10T01:47:15.221Z"
        '400':
          description: Bad Request - Invalid execution data
          headers:
            RateLimit-Limit: { $ref: '#/components/headers/RateLimit-Limit' }
            RateLimit-Remaining: { $ref: '#/components/headers/RateLimit-Remaining' }
            RateLimit-Reset: { $ref: '#/components/headers/RateLimit-Reset' }
            RateLimit-Policy: { $ref: '#/components/headers/RateLimit-Policy' }
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              examples:
                missing_required_field:
                  summary: Missing required field (signal_id)
                  description: Request body is missing the required signal_id field
                  value:
                    type: "https://guardiansofthegreentoken.com/problems/validation-error"
                    title: "Missing Required Field"
                    status: 400
                    detail: "Required field 'signal_id' is missing from request body."
                    instance: "/api/ai/tracking/execution"
                    code: "MISSING_REQUIRED_FIELD"
                    request_id: "req_1757469123456"
                    invalid_params:
                      - name: "signal_id"
                        reason: "This field is required for tracking trade execution"
                invalid_signal_id:
                  summary: Invalid signal ID format
                  description: Signal ID must match the expected pattern
                  value:
                    type: "https://guardiansofthegreentoken.com/problems/validation-error"
                    title: "Invalid Signal ID Format"
                    status: 400
                    detail: "Signal ID 'invalid_signal' does not match expected format '^enhanced_ai_[0-9]+$'."
                    instance: "/api/ai/tracking/execution"
                    code: "INVALID_SIGNAL_ID"
                    request_id: "req_1757469123457"
                    invalid_params:
                      - name: "signal_id"
                        reason: "Must be a valid AI signal ID (e.g., 'enhanced_ai_1757468621438')"
                invalid_price_range:
                  summary: Invalid price values
                  description: Entry price and stop loss values are unrealistic
                  value:
                    type: "https://guardiansofthegreentoken.com/problems/validation-error"
                    title: "Invalid Price Values"
                    status: 400
                    detail: "Entry price (1000000) is outside acceptable range for current market conditions."
                    instance: "/api/ai/tracking/execution"
                    code: "INVALID_PRICE_RANGE"
                    request_id: "req_1757469123458"
                    invalid_params:
                      - name: "entry_price"
                        reason: "Price must be within reasonable market range ($50 - $500 for SOL)"
                      - name: "stop_loss"
                        reason: "Stop loss must be below entry price for long positions"
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': 
          description: Signal not found
          headers:
            RateLimit-Limit: { $ref: '#/components/headers/RateLimit-Limit' }
            RateLimit-Remaining: { $ref: '#/components/headers/RateLimit-Remaining' }
            RateLimit-Reset: { $ref: '#/components/headers/RateLimit-Reset' }
            RateLimit-Policy: { $ref: '#/components/headers/RateLimit-Policy' }
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              examples:
                signal_not_found:
                  summary: AI signal not found
                  description: The specified signal ID does not exist or has expired
                  value:
                    type: "https://guardiansofthegreentoken.com/problems/resource-not-found"
                    title: "AI Signal Not Found"
                    status: 404
                    detail: "Signal ID 'enhanced_ai_1757468621999' not found or has expired."
                    instance: "/api/ai/tracking/execution"
                    code: "SIGNAL_NOT_FOUND"
                    request_id: "req_1757469123459"
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/ProblemResponse' }

  /api/ai/tracking/outcome:
    post:
      operationId: recordAITradeOutcome
      summary: Record AI signal trading outcome for learning (Phase 2)
      description: "Record AI signal trade outcome to trigger self-learning. Updates pattern confidence and neural network weights based on results. Requires signal_id, exit_price, exit_reason. Trading scope required."
      tags: [AI Performance]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [signal_id, exit_price, exit_reason]
              properties:
                signal_id: { type: string, example: "enhanced_ai_1757468621438" }
                exit_price: { type: number, example: 227.30 }
                exit_reason: { type: string, enum: ["stop_loss", "take_profit", "manual", "time_exit"], example: "take_profit" }
                exit_time: { type: string, format: date-time, example: "2025-09-10T02:15:30.000Z" }
                partial_close: { type: boolean, example: false }
                remaining_position: { type: number, example: 0 }
                notes: { type: string, example: "Reached take profit target after strong breakout" }
            examples:
              profitable_take_profit:
                summary: Profitable take profit exit
                description: Successful trade that hit the first take profit level
                value:
                  signal_id: "enhanced_ai_1757468621438"
                  exit_price: 227.30
                  exit_reason: "take_profit"
                  exit_time: "2025-09-10T02:15:30.000Z"
                  partial_close: false
                  remaining_position: 0
                  notes: "Reached take profit target after strong breakout"
              stop_loss_triggered:
                summary: Stop loss triggered
                description: Trade that hit stop loss due to market reversal
                value:
                  signal_id: "enhanced_ai_1757468621438"
                  exit_price: 210.25
                  exit_reason: "stop_loss"
                  exit_time: "2025-09-10T01:58:45.000Z"
                  partial_close: false
                  remaining_position: 0
                  notes: "Market reversed after false breakout, stop loss protected capital"
              manual_exit:
                summary: Manual exit by trader
                description: Trader manually closed position due to market conditions
                value:
                  signal_id: "enhanced_ai_1757468621438"
                  exit_price: 220.75
                  exit_reason: "manual"
                  exit_time: "2025-09-10T02:45:12.000Z"
                  partial_close: false
                  remaining_position: 0
                  notes: "Closed early due to unexpected news impact on market"
              partial_exit:
                summary: Partial position close
                description: Trader took partial profits and left position running
                value:
                  signal_id: "enhanced_ai_1757468621438"
                  exit_price: 225.30
                  exit_reason: "take_profit"
                  exit_time: "2025-09-10T02:10:15.000Z"
                  partial_close: true
                  remaining_position: 50
                  notes: "Partial close at first TP level, remaining 50 units running to second target"
              time_based_exit:
                summary: Time-based exit strategy
                description: Position closed after predetermined time period
                value:
                  signal_id: "enhanced_ai_1757468621438"
                  exit_price: 218.90
                  exit_reason: "time_exit"
                  exit_time: "2025-09-10T09:46:21.000Z"
                  partial_close: false
                  remaining_position: 0
                  notes: "8-hour time limit reached, market showed no clear direction"
      responses:
        '200':
          description: Outcome recorded and pattern performance updated
          headers:
            RateLimit-Limit: { $ref: '#/components/headers/RateLimit-Limit' }
            RateLimit-Remaining: { $ref: '#/components/headers/RateLimit-Remaining' }
            RateLimit-Reset: { $ref: '#/components/headers/RateLimit-Reset' }
            RateLimit-Policy: { $ref: '#/components/headers/RateLimit-Policy' }
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
                  data:
                    type: object
                    properties:
                      signal_id: { type: string, example: "enhanced_ai_1757468621438" }
                      pnl: { type: number, example: 1180 }
                      pnl_percentage: { type: number, example: 5.47 }
                      was_successful: { type: boolean, example: true }
                      duration_minutes: { type: number, example: 29 }
                      patterns_updated: { type: number, example: 10 }
                      learning_impact:
                        type: object
                        properties:
                          confidence_adjustments: { type: array, items: { type: object }, example: [{"pattern": "predictive_institutional_flow", "old_confidence": 0.95, "new_confidence": 0.96}] }
                          neural_weight_updates: { type: boolean, example: true }
                          performance_tier: { type: string, enum: ["excellent", "good", "average", "poor"], example: "excellent" }
                      trade_analysis:
                        type: object
                        properties:
                          entry_price: { type: number, example: 215.50 }
                          exit_price: { type: number, example: 227.30 }
                          max_favorable_excursion: { type: number, example: 229.80 }
                          max_adverse_excursion: { type: number, example: 214.20 }
                          risk_reward_realized: { type: number, example: 2.24 }
                  message: { type: string, example: "Outcome recorded and pattern performance updated" }
                  timestamp: { type: string, format: date-time, example: "2025-09-10T02:15:30.000Z" }
              examples:
                successful_take_profit:
                  summary: Successful take profit outcome
                  description: Profitable trade that enhanced pattern confidence
                  value:
                    success: true
                    data:
                      signal_id: "enhanced_ai_1757468621438"
                      pnl: 1180
                      pnl_percentage: 5.47
                      was_successful: true
                      duration_minutes: 29
                      patterns_updated: 10
                      learning_impact:
                        confidence_adjustments:
                          - pattern: "predictive_institutional_flow"
                            old_confidence: 0.95
                            new_confidence: 0.96
                          - pattern: "volume_breakout_confirmation"
                            old_confidence: 0.82
                            new_confidence: 0.84
                        neural_weight_updates: true
                        performance_tier: "excellent"
                      trade_analysis:
                        entry_price: 215.50
                        exit_price: 227.30
                        max_favorable_excursion: 229.80
                        max_adverse_excursion: 214.20
                        risk_reward_realized: 2.24
                    message: "Profitable outcome recorded. Pattern confidence increased across 10 patterns."
                    timestamp: "2025-09-10T02:15:30.000Z"
                stop_loss_outcome:
                  summary: Stop loss outcome with learning update
                  description: Loss that triggered pattern confidence adjustments
                  value:
                    success: true
                    data:
                      signal_id: "enhanced_ai_1757468621438"
                      pnl: -525
                      pnl_percentage: -2.44
                      was_successful: false
                      duration_minutes: 17
                      patterns_updated: 8
                      learning_impact:
                        confidence_adjustments:
                          - pattern: "false_breakout_detection"
                            old_confidence: 0.78
                            new_confidence: 0.75
                          - pattern: "support_resistance_levels"
                            old_confidence: 0.89
                            new_confidence: 0.87
                        neural_weight_updates: true
                        performance_tier: "poor"
                      trade_analysis:
                        entry_price: 215.50
                        exit_price: 210.25
                        max_favorable_excursion: 216.80
                        max_adverse_excursion: 210.00
                        risk_reward_realized: -1.0
                    message: "Stop loss outcome recorded. Pattern confidence adjusted based on market conditions."
                    timestamp: "2025-09-10T01:58:45.000Z"
                partial_close_outcome:
                  summary: Partial close with ongoing position
                  description: Partial profit taking with position still active
                  value:
                    success: true
                    data:
                      signal_id: "enhanced_ai_1757468621438"
                      pnl: 495
                      pnl_percentage: 4.59
                      was_successful: true
                      duration_minutes: 23
                      patterns_updated: 6
                      learning_impact:
                        confidence_adjustments:
                          - pattern: "momentum_continuation"
                            old_confidence: 0.85
                            new_confidence: 0.87
                        neural_weight_updates: true
                        performance_tier: "good"
                      trade_analysis:
                        entry_price: 215.50
                        exit_price: 225.30
                        max_favorable_excursion: 226.50
                        max_adverse_excursion: 214.75
                        risk_reward_realized: 1.87
                    message: "Partial outcome recorded. Remaining position continues tracking for full learning cycle."
                    timestamp: "2025-09-10T02:10:15.000Z"
        '400':
          description: Bad Request - Invalid outcome data
          headers:
            RateLimit-Limit: { $ref: '#/components/headers/RateLimit-Limit' }
            RateLimit-Remaining: { $ref: '#/components/headers/RateLimit-Remaining' }
            RateLimit-Reset: { $ref: '#/components/headers/RateLimit-Reset' }
            RateLimit-Policy: { $ref: '#/components/headers/RateLimit-Policy' }
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              examples:
                missing_exit_reason:
                  summary: Missing exit reason
                  description: Required field exit_reason is missing
                  value:
                    type: "https://guardiansofthegreentoken.com/problems/validation-error"
                    title: "Missing Required Field"
                    status: 400
                    detail: "Required field 'exit_reason' is missing from request body."
                    instance: "/api/ai/tracking/outcome"
                    code: "MISSING_REQUIRED_FIELD"
                    request_id: "req_1757469876543"
                    invalid_params:
                      - name: "exit_reason"
                        reason: "Must be one of: stop_loss, take_profit, manual, time_exit"
                invalid_exit_reason:
                  summary: Invalid exit reason value
                  description: Exit reason must be from allowed enum values
                  value:
                    type: "https://guardiansofthegreentoken.com/problems/validation-error"
                    title: "Invalid Exit Reason"
                    status: 400
                    detail: "Exit reason 'invalid_reason' is not allowed. Must be one of: stop_loss, take_profit, manual, time_exit."
                    instance: "/api/ai/tracking/outcome"
                    code: "INVALID_EXIT_REASON"
                    request_id: "req_1757469876544"
                    invalid_params:
                      - name: "exit_reason"
                        reason: "Must be one of: stop_loss, take_profit, manual, time_exit"
                invalid_partial_close:
                  summary: Invalid partial close configuration
                  description: Partial close requires remaining position data
                  value:
                    type: "https://guardiansofthegreentoken.com/problems/validation-error"
                    title: "Invalid Partial Close Data"
                    status: 400
                    detail: "When partial_close is true, remaining_position must be greater than 0."
                    instance: "/api/ai/tracking/outcome"
                    code: "INVALID_PARTIAL_CLOSE"
                    request_id: "req_1757469876545"
                    invalid_params:
                      - name: "remaining_position"
                        reason: "Must be greater than 0 when partial_close is true"
        '404':
          description: Signal execution not found
          headers:
            RateLimit-Limit: { $ref: '#/components/headers/RateLimit-Limit' }
            RateLimit-Remaining: { $ref: '#/components/headers/RateLimit-Remaining' }
            RateLimit-Reset: { $ref: '#/components/headers/RateLimit-Reset' }
            RateLimit-Policy: { $ref: '#/components/headers/RateLimit-Policy' }
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              examples:
                execution_not_found:
                  summary: Signal execution not found
                  description: No execution record found for the signal ID
                  value:
                    type: "https://guardiansofthegreentoken.com/problems/resource-not-found"
                    title: "Signal Execution Not Found"
                    status: 404
                    detail: "No execution record found for signal ID 'enhanced_ai_1757468621999'. Cannot record outcome without execution record."
                    instance: "/api/ai/tracking/outcome"
                    code: "EXECUTION_NOT_FOUND"
                    request_id: "req_1757469876546"
                already_recorded:
                  summary: Outcome already recorded
                  description: Outcome has already been recorded for this signal
                  value:
                    type: "https://guardiansofthegreentoken.com/problems/resource-conflict"
                    title: "Outcome Already Recorded"
                    status: 409
                    detail: "Outcome for signal ID 'enhanced_ai_1757468621438' has already been recorded on 2025-09-10T01:45:30.000Z."
                    instance: "/api/ai/tracking/outcome"
                    code: "OUTCOME_ALREADY_RECORDED"
                    request_id: "req_1757469876547"
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/ProblemResponse' }

  /api/ai/tracking/overall-performance:
    get:
      operationId: getAIOverallPerformance
      summary: Get AI system overall performance analytics (Phase 2)
      description: |
        Get comprehensive performance analytics for the AI signal system
        including win rates, P&L metrics, and pattern performance overview.
      tags: [AI Performance]
      responses:
        '200':
          description: AI system performance analytics
          headers:
            RateLimit-Limit: { $ref: '#/components/headers/RateLimit-Limit' }
            RateLimit-Remaining: { $ref: '#/components/headers/RateLimit-Remaining' }
            RateLimit-Reset: { $ref: '#/components/headers/RateLimit-Reset' }
            RateLimit-Policy: { $ref: '#/components/headers/RateLimit-Policy' }
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
                  data:
                    type: object
                    properties:
                      overall_stats:
                        type: object
                        properties:
                          total_signals: { type: number, example: 145 }
                          executed_signals: { type: number, example: 98 }
                          completed_trades: { type: number, example: 87 }
                          win_rate: { type: number, example: 0.712 }
                          total_pnl: { type: number, example: 15420.50 }
                          avg_pnl_per_trade: { type: number, example: 177.25 }
                          best_trade: { type: number, example: 2850.00 }
                          worst_trade: { type: number, example: -1250.00 }
                      pattern_performance:
                        type: array
                        items:
                          type: object
                          properties:
                            pattern_name: { type: string, example: "Predictive Institutional Flow" }
                            win_rate: { type: number, example: 0.78 }
                            total_signals: { type: number, example: 23 }
                            avg_confidence: { type: number, example: 0.89 }
                            total_pnl: { type: number, example: 4250.50 }
                            adaptation_factor: { type: number, example: 1.15 }
                        example: [{"pattern_name": "Predictive Institutional Flow", "win_rate": 0.78, "total_signals": 23}]
                      learning_metrics:
                        type: object
                        properties:
                          confidence_adjustments: { type: number, example: 34 }
                          patterns_improved: { type: number, example: 8 }
                          patterns_demoted: { type: number, example: 2 }
                          learning_velocity: { type: number, example: 0.15 }
                  timestamp: { type: string, format: date-time, example: "2025-09-10T02:15:30.000Z" }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/ProblemResponse' }

  /api/premium/institutional-analytics:
    get:
      operationId: getPremiumInstitutionalAnalytics
      summary: Get VIP8 institutional-grade analytics
      description: "🔐 VIP8 institutional analytics with ultra premium analysis, negative maker fees simulation, and advanced metrics. Premium scope required. 2000 req/min (Enterprise only). Priority processing."
      tags: [Premium Analytics]
      security:
        - ApiKeyAuth: ["premium"]
      responses:
        '200':
          description: VIP8 institutional analytics data
          headers:
            RateLimit-Limit: { $ref: '#/components/headers/RateLimit-Limit' }
            RateLimit-Remaining: { $ref: '#/components/headers/RateLimit-Remaining' }
            RateLimit-Reset: { $ref: '#/components/headers/RateLimit-Reset' }
            RateLimit-Policy: { $ref: '#/components/headers/RateLimit-Policy' }
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
                  data:
                    type: object
                    properties:
                      analyticsLevel: { type: string, example: "vip8" }
                      features: 
                        type: array
                        items: { type: string }
                        example: ["ultra_premium", "negative_maker_fees", "priority_processing", "advanced_metrics"]
                      analytics:
                        type: object
                        properties:
                          totalBidVolume: { type: number, example: 185000 }
                          totalAskVolume: { type: number, example: 142000 }
                          institutionalFlowScore: { type: number, example: 78 }
                          whaleActivityIndex: { type: number, example: 85 }
                  timestamp: { type: string, format: date-time, example: "2025-09-08T10:12:11.517Z" }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/ProblemResponse' }




  /api/sol/funding/enhanced:
    get:
      operationId: getSOLEnhancedFunding
      summary: Get SOL enhanced funding rate analysis
      description: Enhanced funding rate analysis with premium calculations and predictions
      tags: [Market Data - Derivatives]
      responses:
        '200':
          description: Enhanced funding rate analysis
          headers:
            RateLimit-Limit: { $ref: '#/components/headers/RateLimit-Limit' }
            RateLimit-Remaining: { $ref: '#/components/headers/RateLimit-Remaining' }
            RateLimit-Reset: { $ref: '#/components/headers/RateLimit-Reset' }
            RateLimit-Policy: { $ref: '#/components/headers/RateLimit-Policy' }
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
                  data:
                    type: object
                    properties:
                      current:
                        type: object
                        properties:
                          instId: { type: string, example: "SOL-USDT-SWAP" }
                          fundingRate: { type: number, example: 0.0001 }
                          premium: { type: number, example: -0.000235660083895 }
                          nextFundingTime: { type: string, format: date-time, example: "2025-09-09T00:00:00.000Z" }
                          fundingTime: { type: string, format: date-time, example: "2025-09-08T16:00:00.000Z" }
                      analysis:
                        type: object
                        properties:
                          sentiment: { type: string, enum: ["bullish", "bearish", "neutral"], example: "neutral" }
                          historicalContext: { type: string, example: "Within normal range" }
                          prediction: { type: string, example: "Stable funding rates expected" }
                  timestamp: { type: string, format: date-time, example: "2025-09-08T10:12:11.517Z" }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/ProblemResponse' }

  /api/sol/volume-profile:
    get:
      operationId: getSOLVolumeProfile
      summary: Get SOL volume profile analysis
      description: Volume profile analysis with POC, HVN/LVN levels, and institutional significance
      tags: [Enhanced Features]
      responses:
        '200':
          description: Volume profile analysis with key levels
          headers:
            RateLimit-Limit: { $ref: '#/components/headers/RateLimit-Limit' }
            RateLimit-Remaining: { $ref: '#/components/headers/RateLimit-Remaining' }
            RateLimit-Reset: { $ref: '#/components/headers/RateLimit-Reset' }
            RateLimit-Policy: { $ref: '#/components/headers/RateLimit-Policy' }
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
                  data:
                    type: object
                    properties:
                      poc: { type: string, example: "203.43" }
                      hvnLevels:
                        type: array
                        items:
                          type: object
                          properties:
                            price: { type: string, example: "203.43" }
                            volume: { type: string, example: "60731.91" }
                            percentage: { type: string, example: "0.20" }
                      lvnLevels:
                        type: array
                        items:
                          type: object
                          properties:
                            price: { type: string, example: "195.20" }
                            volume: { type: string, example: "1250.45" }
                            percentage: { type: string, example: "0.004" }
                      significance:
                        type: object
                        properties:
                          pocStrength: { type: string, enum: ["weak", "moderate", "strong"], example: "strong" }
                          institutionalLevels: { type: array, items: { type: string }, example: ["203.43", "208.91"] }
                  timestamp: { type: string, format: date-time, example: "2025-09-08T10:12:11.517Z" }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/ProblemResponse' }

  /api/sol/fibonacci:
    get:
      operationId: getSOLFibonacci
      summary: Get SOL Fibonacci retracement analysis
      description: Multi-level Fibonacci retracement and extension analysis with trend phase detection
      tags: [Enhanced Features]
      responses:
        '200':
          description: Fibonacci analysis with key levels and trend phases
          headers:
            RateLimit-Limit: { $ref: '#/components/headers/RateLimit-Limit' }
            RateLimit-Remaining: { $ref: '#/components/headers/RateLimit-Remaining' }
            RateLimit-Reset: { $ref: '#/components/headers/RateLimit-Reset' }
            RateLimit-Policy: { $ref: '#/components/headers/RateLimit-Policy' }
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
                  data:
                    type: object
                    properties:
                      timeframe: { type: string, example: "1H" }
                      trend:
                        type: object
                        properties:
                          direction: { type: string, enum: ["bullish", "bearish", "neutral"], example: "bearish" }
                          strength: { type: string, enum: ["weak", "moderate", "strong"], example: "strong" }
                          phase: { type: string, enum: ["impulse", "correction", "consolidation"], example: "impulse" }
                      swingPoints:
                        type: object
                        properties:
                          current:
                            type: object
                            properties:
                              high:
                                type: object
                                properties:
                                  price: { type: number, example: 217.25 }
                                  timestamp: { type: string, format: date-time, example: "2025-09-08T09:00:00Z" }
                              low:
                                type: object
                                properties:
                                  price: { type: number, example: 203.15 }
                                  timestamp: { type: string, format: date-time, example: "2025-09-08T11:30:00Z" }
                      fibonacciLevels:
                        type: array
                        items:
                          type: object
                          properties:
                            level: { type: string, example: "0.618" }
                            price: { type: number, example: 208.43 }
                            significance: { type: string, enum: ["low", "medium", "high"], example: "high" }
                  timestamp: { type: string, format: date-time, example: "2025-09-08T10:12:11.517Z" }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/ProblemResponse' }

  /api/sol/order-flow:
    get:
      operationId: getSOLOrderFlow
      summary: Get SOL real-time order flow analysis
      description: Professional tape reading analysis with institutional flow classification
      tags: [Enhanced Features]
      responses:
        '200':
          description: Real-time order flow analysis
          headers:
            RateLimit-Limit: { $ref: '#/components/headers/RateLimit-Limit' }
            RateLimit-Remaining: { $ref: '#/components/headers/RateLimit-Remaining' }
            RateLimit-Reset: { $ref: '#/components/headers/RateLimit-Reset' }
            RateLimit-Policy: { $ref: '#/components/headers/RateLimit-Policy' }
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
                  data:
                    type: object
                    properties:
                      timeframe: { type: string, example: "1H" }
                      currentImbalance:
                        type: object
                        properties:
                          timestamp: { type: string, format: date-time, example: "2025-09-08T10:12:42.506Z" }
                          bidSize: { type: ["number", "null"], example: null }
                          askSize: { type: ["number", "null"], example: null }
                          imbalanceRatio: { type: number, example: 0 }
                          direction: { type: string, enum: ["buy", "sell", "neutral"], example: "neutral" }
                      flowAnalysis:
                        type: object
                        properties:
                          institutionalFlow: { type: string, enum: ["accumulation", "distribution", "neutral"], example: "neutral" }
                          retailSentiment: { type: string, enum: ["bullish", "bearish", "neutral"], example: "neutral" }
                          volumeProfile: { type: string, enum: ["aggressive", "passive", "balanced"], example: "balanced" }
                  timestamp: { type: string, format: date-time, example: "2025-09-08T10:12:11.517Z" }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/ProblemResponse' }

  /api/sol/liquidation-heatmap:
    get:
      operationId: getSOLLiquidationHeatmap
      summary: Get SOL liquidation cluster analysis
      description: Liquidation heatmap with risk zones and cascade potential analysis
      tags: [Enhanced Features]
      responses:
        '200':
          description: Liquidation cluster analysis and risk assessment
          headers:
            RateLimit-Limit: { $ref: '#/components/headers/RateLimit-Limit' }
            RateLimit-Remaining: { $ref: '#/components/headers/RateLimit-Remaining' }
            RateLimit-Reset: { $ref: '#/components/headers/RateLimit-Reset' }
            RateLimit-Policy: { $ref: '#/components/headers/RateLimit-Policy' }
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
                  data:
                    type: object
                    properties:
                      currentPrice: { type: number, example: 211.89 }
                      overallRiskScore: { type: number, minimum: 0, maximum: 100, example: 18 }
                      immediateRisk:
                        type: object
                        properties:
                          upside: { type: array, items: { type: object }, example: [] }
                          downside: { type: array, items: { type: object }, example: [] }
                          netRisk: { type: number, example: 0 }
                          criticalLevels: { type: array, items: { type: string }, example: [] }
                          significantLevels: { type: array, items: { type: string }, example: [] }
                      riskAssessment:
                        type: object
                        properties:
                          cascadeRisk: { type: string, enum: ["low", "medium", "high"], example: "low" }
                          liquidityDepth: { type: string, enum: ["shallow", "moderate", "deep"], example: "moderate" }
                          volatilityExpectation: { type: string, enum: ["low", "medium", "high"], example: "medium" }
                  timestamp: { type: string, format: date-time, example: "2025-09-08T10:12:11.517Z" }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/ProblemResponse' }


  /health:
    get:
      operationId: getHealthStatus
      summary: Get system health status (Public Access)
      description: "🔓 Public system health check endpoint. Real-time API services, database connectivity, and system health status. Used for monitoring, uptime checks, and load balancer health validation. No authentication required."
      tags: [System Monitoring]
      security: []
      responses:
        '200':
          description: System health status
          headers:
            RateLimit-Limit: { $ref: '#/components/headers/RateLimit-Limit' }
            RateLimit-Remaining: { $ref: '#/components/headers/RateLimit-Remaining' }
            RateLimit-Reset: { $ref: '#/components/headers/RateLimit-Reset' }
            RateLimit-Policy: { $ref: '#/components/headers/RateLimit-Policy' }
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
                  data:
                    type: object
                    properties:
                      status:
                        type: string
                        enum: ["operational", "degraded", "down"]
                        example: "operational"
                      timestamp:
                        type: string
                        format: date-time
                        example: "2025-09-06T14:30:00Z"
                      services:
                        type: object
                        properties:
                          okx:
                            type: string
                            enum: ["connected", "disconnected", "error"]
                            example: "connected"
                          api:
                            type: string
                            enum: ["operational", "degraded", "down"]
                            example: "operational"
        '500': { $ref: '#/components/responses/ProblemResponse' }


  # Removed getCoinGlassWhalePositions - use unifiedAdvancedEndpoint
      summary: Get whale positioning data by exchange (Premium Access)
      description: "🐋 Current whale positions (>$1M notional value) with unrealized P&L analysis, position sizing, and institutional flow tracking across major exchanges. Professional whale positioning intelligence."
      tags: [CoinGlass - Whale Analytics]
      parameters:
        - name: symbol
          in: query
          description: Trading symbol to filter positions (e.g., BTC, ETH, SOL)
          required: false
          schema:
            type: string
            example: "BTC"
        - name: exchange
          in: query
          description: Exchange to filter positions (binance, okx, hyperliquid, bybit, deribit)
          required: false
          schema:
            type: string
            enum: ["binance", "okx", "hyperliquid", "bybit", "deribit"]
            example: "hyperliquid"
        - name: side
          in: query
          description: Position side to filter (long or short positions)
          required: false
          schema:
            type: string
            enum: ["long", "short"]
            example: "long"
      responses:
        '200':
          description: Current whale positions data
          headers:
            RateLimit-Limit: { $ref: '#/components/headers/RateLimit-Limit' }
            RateLimit-Remaining: { $ref: '#/components/headers/RateLimit-Remaining' }
            RateLimit-Reset: { $ref: '#/components/headers/RateLimit-Reset' }
            RateLimit-Policy: { $ref: '#/components/headers/RateLimit-Policy' }
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        symbol: { type: string, example: "BTC" }
                        exchange: { type: string, example: "hyperliquid" }
                        side: { type: string, enum: ["long", "short"], example: "long" }
                        size: { type: string, example: "25.7834", description: "Position size in base currency" }
                        notional_usd: { type: string, example: "1456789.23", description: "Position notional value in USD" }
                        entry_price: { type: string, example: "56523.45" }
                        current_price: { type: string, example: "58392.45" }
                        unrealized_pnl_usd: { type: string, example: "48567.89", description: "Unrealized P&L in USD" }
                        unrealized_pnl_pct: { type: string, example: "3.34", description: "Unrealized P&L percentage" }
                        margin_ratio: { type: string, example: "0.15", description: "Position margin ratio" }
                        liquidation_price: { type: string, example: "45234.67" }
                        timestamp: { type: string, format: date-time }
                        position_id: { type: string, example: "WP-BTC-HYP-2025091500001" }
                  total: { type: integer, example: 8, description: "Total number of whale positions" }
                  total_notional: { type: string, example: "45678901.23", description: "Total notional value of all positions in USD" }
                  timestamp: { type: string, format: date-time }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '503':
          description: CoinGlass service temporarily unavailable
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: false }
                  error: { type: string, example: "CoinGlass service unavailable" }
                  timestamp: { type: string, format: date-time }
        '500': { $ref: '#/components/responses/ProblemResponse' }

  # Removed getCoinGlassETFFlows - use unifiedAdvancedEndpoint
  # ===== COINGLASS ETF INTELLIGENCE =====
  # Removed getCoinGlassETFFlows - use unifiedAdvancedEndpoint
      summary: Get Bitcoin ETF flow data with historical analysis (Premium Access)
      description: "💰 Historical Bitcoin ETF flow tracking with institutional inflows/outflows analysis. Comprehensive ETF flow data with customizable time periods, net flow calculations, and institutional investment trend analysis."
      tags: [CoinGlass - ETF Intelligence]
      parameters:
        - name: days
          in: query
          description: Number of days of historical ETF flow data to retrieve (1-365 days)
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 365
            default: 30
            example: 30
        - name: asset
          in: query
          description: Asset to filter ETF flows (currently supports BTC, more assets coming soon)
          required: false
          schema:
            type: string
            default: "BTC"
            example: "BTC"
      responses:
        '200':
          description: Bitcoin ETF flow data with historical analysis
          headers:
            RateLimit-Limit: { $ref: '#/components/headers/RateLimit-Limit' }
            RateLimit-Remaining: { $ref: '#/components/headers/RateLimit-Remaining' }
            RateLimit-Reset: { $ref: '#/components/headers/RateLimit-Reset' }
            RateLimit-Policy: { $ref: '#/components/headers/RateLimit-Policy' }
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        date: { type: string, format: date, example: "2025-09-15" }
                        etf_ticker: { type: string, example: "IBIT", description: "ETF ticker symbol" }
                        etf_name: { type: string, example: "iShares Bitcoin Trust", description: "Full ETF name" }
                        inflow: { type: string, example: "156789012.34", description: "Daily inflow in USD" }
                        outflow: { type: string, example: "-45678901.23", description: "Daily outflow in USD" }
                        net_flow: { type: string, example: "111110111.11", description: "Net flow (inflow - outflow)" }
                        aum: { type: string, example: "23456789012.45", description: "Assets Under Management" }
                        nav_per_share: { type: string, example: "58.34", description: "Net Asset Value per share" }
                        shares_outstanding: { type: string, example: "456789012", description: "Total shares outstanding" }
                        premium_discount: { type: string, example: "0.02", description: "Premium/discount to NAV %" }
                  summary:
                    type: object
                    properties:
                      total_inflow: { type: string, example: "2847392847.50", description: "Total inflows for the period" }
                      total_outflow: { type: string, example: "-294739284.75", description: "Total outflows for the period" }
                      net_flow: { type: string, example: "2552653562.75", description: "Net flow for the period" }
                      period_days: { type: integer, example: 30, description: "Analysis period in days" }
                      avg_daily_flow: { type: string, example: "85088452.09", description: "Average daily net flow" }
                  timestamp: { type: string, format: date-time }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '503':
          description: CoinGlass ETF service temporarily unavailable
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: false }
[...]
