{
  "openapi": "3.1.0",
  "info": {
    "title": "Crypto Trading Intelligence API - GPT Actions Compatible",
    "description": "Real-time crypto market intelligence with whale detection, AI analysis, and institutional positioning. All 17 GPT Actions endpoints tested and working 100%.",
    "version": "5.4.2-production",
    "contact": {
      "email": "admin@guardiansofthetoken.com",
      "url": "https://guardiansofthetoken.com"
    }
  },
  "servers": [
    {
      "url": "https://guardiansofthetoken.com",
      "description": "Production Server (100% Operational - SSL Secured)"
    }
  ],
  "paths": {
    "/gpts/unified/symbols": {
      "get": {
        "operationId": "getUnifiedSymbols",
        "summary": "Get all supported trading symbols",
        "description": "Returns list of 71 supported trading symbols for market analysis",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {"type": "boolean"},
                    "data": {
                      "type": "object",
                      "properties": {
                        "symbols": {
                          "type": "array",
                          "items": {"type": "string"}
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/gpts/unified/market/{symbol}": {
      "get": {
        "operationId": "getUnifiedMarket",
        "summary": "Get market data for specific symbol",
        "description": "Returns real-time market data including price, volume, and changes",
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {"type": "string"},
            "description": "Trading symbol (e.g., BTC, ETH, SOL)"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/gpts/unified/advanced": {
      "post": {
        "operationId": "getUnifiedAdvanced",
        "summary": "Advanced market operations",
        "description": "Supports 8 operations: whale_alerts, market_sentiment, volume_spikes, multi_coin_screening, new_listings, opportunities, alpha_screening, micro_caps",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "op": {
                    "type": "string",
                    "enum": ["whale_alerts", "market_sentiment", "volume_spikes", "multi_coin_screening", "new_listings", "opportunities", "alpha_screening", "micro_caps"]
                  },
                  "symbol": {"type": "string"},
                  "exchange": {"type": "string"}
                },
                "required": ["op"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/gpts/coinglass/whale-data": {
      "post": {
        "operationId": "getWhaleData",
        "summary": "Detect whale activity",
        "description": "Returns whale signals with position sizes and notional values",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "symbol": {"type": "string"},
                  "timeframe": {"type": "string"}
                },
                "required": ["symbol", "timeframe"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/gpts/coinglass/live-template": {
      "post": {
        "operationId": "getLiveTemplate",
        "summary": "Get live trading template",
        "description": "Returns live trading template with market data",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "symbol": {"type": "string"}
                },
                "required": ["symbol"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/gpts/brain/analysis": {
      "post": {
        "operationId": "getBrainAnalysis",
        "summary": "Get AI brain analysis",
        "description": "Returns AI-powered market analysis",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "symbol": {"type": "string"},
                  "timeframe": {"type": "string"}
                },
                "required": ["symbol", "timeframe"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/gpts/brain/insights": {
      "get": {
        "operationId": "getBrainInsights",
        "summary": "Get AI brain insights",
        "description": "Returns current market insights from AI",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/gpts/brain/stats": {
      "get": {
        "operationId": "getBrainStats",
        "summary": "Get AI brain statistics",
        "description": "Returns brain engine performance statistics",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/gpts/institutional/bias": {
      "get": {
        "operationId": "getInstitutionalBias",
        "summary": "Get institutional bias",
        "description": "Returns institutional positioning and bias analysis",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {"type": "string"},
            "description": "Trading symbol (e.g., BTC, ETH, SOL)"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/gpts/health": {
      "get": {
        "operationId": "getGPTsHealth",
        "summary": "GPT Actions health check",
        "description": "Returns health status of all GPT endpoints",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/gpts/health/coinapi": {
      "get": {
        "operationId": "getCoinAPIHealth",
        "summary": "CoinAPI health check",
        "description": "Returns CoinAPI service health status",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    }
  }
}
